<html>
<body class="{% block page_identifier %}{% endblock%}">
    <header id="header">
        <div class="container clearfix">
			{% block header %}
				{% include 'Page_Header.html.twig' %}
			{% endblock %}
        </div>
    </header>
    
    
    <!-- Main -->
    <main id="main">
        <div class="container">
            {% block main %}
                {$ main | raw $}
            {% endblock %}
        </div>
    </main>

    {% if page_works_without_js is not defined or page_works_without_js == false %}
        <noscript class="no-js-fallback">
            <main>
                <div class="content container">
                    <h2>{$ 'no_javascript_title' | trans $}</h2>
                    {$ web_content( 'pages/no_javascript' ) $}
                </div>
            </main>
        </noscript>
    {% endif %}

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
			{% block footer %}
				{% include 'Page_Footer.html.twig' %}
			{% endblock %}
        </div>
    </footer>
    
    {% include 'Piwik.twig' %}

</body>
</html>
