{$ donation.amount|localizedcurrency('EUR', 'de_DE') $}
{$ donation.interval|trans({}, 'paymentIntervals') $}

{% if donation.paymentType == 'PPL' or donation.paymentType == 'MCP' %}
	Ihre Spende per {$ donation.paymentType|trans({}, 'paymentTypes') $} {$ donation.status|trans({}, 'paymentStatus') $}.
{% elseif donation.paymentType == 'BEZ' %}
	Sie zahlen per {$ donation.paymentType|trans({}, 'paymentTypes') $}
{% endif %}

{% if person %}
	<p>
		{$ person.salutation $} <span id="confirm-name">{$ person.fullName $}</span>
	</p>
	<p class="no-margin">
		<span id="confirm-street">{$ person.streetAddress $}</span><br/>
		<span id="confirm-postcode">{$ person.postalCode $}</span> <span id="confirm-city">{$ person.city $}</span><br/>
		<span id="confirm-mail">{$ person.email $}</span>
	</p>
{% else %}
	<p>
		Anonym
	</p>
{% endif %}

{% if donation.optsIntoNewsletter == true %}
	send-info
{% endif %}

{% include 'Membership_Application_Embedded.html.twig' %}
{% include 'Piwik.twig' %}

Template Name: {$ template_name $}
Template Campaign: {$ templateCampaign $}
