{$ donation.amount|localizedcurrency('EUR', 'de_DE') $}
{$ donation.interval|trans({}, 'paymentIntervals') $}

{% if donation.paymentType == 'PPL' or donation.paymentType == 'MCP' %}
	Ihre Spende per {$ donation.paymentType|trans({}, 'paymentTypes') $} {$ donation.status|trans({}, 'paymentStatus') $}.
{% elseif donation.paymentType == 'BEZ' %}
	Sie zahlen per {$ donation.paymentType|trans({}, 'paymentTypes') $}
{% endif %}

{% if address and address.isAnonymous == false %}
	<p>
		{$ address.salutation $} <span id="confirm-name">{$ address.fullName $}</span>
	</p>
	<p class="no-margin">
		<span id="confirm-street">{$ address.streetAddress $}</span><br/>
		<span id="confirm-postcode">{$ address.postalCode $}</span> <span id="confirm-city">{$ address.city $}</span><br/>
		<span id="confirm-mail">{$ address.email $}</span>
	</p>
{% else %}
	<p>
		Anonym
	</p>
{% endif %}

{% if donation.optsIntoNewsletter == true %}
	send-info
{% endif %}

{% include 'Membership_Application_Embedded.html.twig' %}
{% include 'Piwik.twig' %}