<div class="membership-benefits">
	<h2>{$ 'membership_benefit_list_title' | trans $}</h2>
	<ul class="list-membership">
		<li>{$ 'membership_benefit_list_1' | trans $}</li>
		<li>{$ 'membership_benefit_list_2' | trans $}</li>
		<li>{$ 'membership_benefit_list_3' | trans $}</li>
		{% if showActiveMembershipBenefits %}
			<li>{$ 'membership_benefit_list_4' | trans $}</li>
		{% endif %}
		<li>{$ 'membership_benefit_list_5' | trans $}</li>
		<li>{$ 'membership_benefit_list_6' | trans $}</li>
	</ul>
</div>
