<div class="container">
	<div class="row wrap-overview">
		<section id="overview" class="state-overview  col-sm-7 col-md-8 col-lg-12 clearfix">
			<h2>Übersicht</h2>
			<div class="overview no-gutter">
				<div class="wrap-field member-type col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#membership-type">
							<span class="text">Mitgliedschaft noch nicht ausgewählt</span>
							<i class="membership-type-icon"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-type"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>
				<div class="wrap-field donator-type col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#donation-type">
							<span class="text">Daten noch nicht ausgewählt</span>
							<i class="address-icon"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-type"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>

				<div class="wrap-field amount col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#donation-amount">
							<span class="text">Betrag noch nicht ausgewählt.</span>
							<i class="periodicity-icon icon-mode_edit"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-amount"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>

				<div class="wrap-field payment-method col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#donation-payment">
							<span class="text">Zahlart noch nicht ausgewählt</span>
							<i class="payment-icon"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-payment"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>
			</div>
		</section>
		<div id="other-info" class="other-info col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8 clearfix">
			<div class="other-text  hidden-lg">
				<span><i class="icon-lock"></i></span>
				<span class="text">SSL-Verschlüsselte Daten.</span>
			</div>
			<div class="other-text  hidden-lg">
				<span><i class="icon-phone"></i></span>
				<span class="text">030 / 21 91 58 26 - 0.</span>
			</div>
			<input type="submit" value="Jetzt Mitglied werden" class="btn btn-donation btn-unactive hidden-xs">
		</div>
	</div>
</div>
