<li class="member-type">
	<a href="#membership-type">
		<span class="text" data-empty-text="{$ 'membership_section_membership_type_anchor' | trans | e( 'html_attr' ) $}"></span>
		<i class="membership-type-icon"></i>
	</a>
</li>

<li class="donor-type">
	<a href="#donation-type">
		<span class="text" data-empty-text="{$ 'membership_section_applicant_anchor' | trans | e( 'html_attr' ) $}"></span>
		<i class="address-icon"></i>
	</a>
</li>

<li class="amount">
	<a href="#donation-amount">
		<span class="text" data-empty-text="{$ 'membership_section_fee_anchor' | trans | e( 'html_attr' ) $}"></span>
		<i class="periodicity-icon"></i>
	</a>
</li>
<li class="payment-method">
	<a href="#donation-payment">
		<span class="text" data-empty-text="{$ 'membership_section_payment_anchor' | trans | e( 'html_attr' ) $}"></span>
		<i class="payment-icon"></i>
	</a>
</li>
