.footer {
  	background-color: $brand-footer;
	margin-top: 40px;
	padding: 70px 0 55px;
	@include bkp(sm) {
		margin-top: 100px;
	}
	.logo-footer {
		span {
			background: transparent url("#{$image-path}/logo-horizontal-wikimedia.svg") no-repeat left top;
			background-size: contain;
			height: 50px;
			width: 100%;
			display: block;
			max-width: 205px;
			margin-bottom: 50px;
			margin-top: 18px;
			@include bkp(sm) {
				background: transparent url("#{$image-path}/logo-vertical-wikimedia.svg") no-repeat left top;
				background-size: contain;
				height: 100px;
				max-width: 134px;
				margin-bottom: 20px;
			}
			@include bkp(xs) {
				margin-bottom: 20px;
			}
		}
	}
	.bank-data-footer {
		p {
			&:first-child {
				margin-top: 18px;
			}
			.spacer {
				margin-left: 3px;
			}
			font-weight: 300;
			margin-bottom: 3px;
		}
		.bank-data-content {
			margin-left: 3px;
		}
		@include bkp(xs) {
			margin-bottom: 20px;
		}
	}
}