.introduction, .content {
	padding-top: 45px;
	.strong {
        @include themify($themes) {
            color: themed('brandPrimary');
        }
		text-transform: uppercase;
		> span {
			text-transform: lowercase;
		}
	}
	.link-back {
		margin-top: 22px;

		@include bkp(md) {
			padding-left: 30px;
		}
		@include bkp(lg) {
			padding-left: 52px;
		}
		a {
			display: block;
			border-bottom: 1px solid $gray-light;
			padding: 10px 0;
			&:after {
				content: '\e315';
				font-family: 'icomoon';
				position: absolute;
				right: 15px;
				top: 29%;
				width: auto;
				height: auto;
				font-size: 20px;
			}
		}
	}
}
.introduction + .paginator + .content, .introduction + .content {
	padding-top: 0;
}

.introduction-banner {
	border: 1px solid $brand-primary;
	padding: 1em 1em 1em 2em;
	font-size: 16px;
	line-height: 1.4em;
	margin-top: 1em;

	a {
		color: $brand-primary;
		display: inline-block;
		margin-left: 1em;
	}

	/* Avoid line breaks between amount and euro sign */
	.amount {
		white-space: nowrap;
	}
}