
.info-text, .wrap-check, .info-text-bottom{
    opacity: 0;
    //transition:  opacity 500ms ease-out, height 500ms ease-out;
    height: 0;
    overflow: hidden;
    display: block;
	&.opened {
        opacity: 1;
        height: auto;
	}
	.icon-done {
		position: absolute;
		top: 18px;
		right: 10px;
	}
}
.info-text.opened{
	overflow: visible;
	height: auto;
}

.info-text-bottom {
	@include bkp(lg) {
		opacity:1;
		height: auto;
	}

}

form {
	@include bkp(sm) {
		margin-top: 60px;
	}

	section {
		padding-top: 40px;

		h2 {
			margin-bottom: 25px;
		}


		#type-donator {
			.info-text.opened {
				height: auto;
			}
		}
	}

	section.donation-amount {
		.amount-qty {
			margin-bottom: 25px;
			div {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				@media (min-width: 374px) and (max-width: 677px) {
					margin: 0 -7px;
				}
			}
			input[type=radio] {
				position: absolute;
				left: -99999px;
				& + label {
					//transition: all 500ms;
				}

				+ label:before {
					//transtion: background 500ms;
				}
			}

			label, input#amount-typed {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				margin-bottom: 0;
				//border: 2px solid $gray-light;
			}

			.wrap-radio {
				position: relative;
				width: 60px;
				height: 60px;
				max-width: 60px;

				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 12px;

				@media (min-width: 374px) and (max-width: 677px) {
					margin-right: 7px;
					margin-left: 7px;
				}
			}


			.wrap-radio input[type=radio] + label:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border: 2px solid $gray-light;
				z-index: -1;
				background-color: transparent;
				transition: background-color  500ms;
			}
			.wrap-radio input[type=radio] + label {
				background-color: transparent;
				transition: background-color  500ms;
			}
			.wrap-radio input[type=radio] + label:hover,
			.wrap-radio input[type=radio]:checked + label{
				color: white;
					&:before {
						@include themify($themes) {
							background-color: themed('brandPrimary');
						}
						border: 2px solid $text-color;
						background-color: $brand-primary;
						box-shadow: inset 0 0 0 2px white;
						color: white;
					}
			}

            .wrap-amount-typed {
                height: 60px;
                width: 100%;
                position: relative;

				@include themify($themes) {
					border: themed('border2pxfieldNormal');
                    background-color: themed('fieldNormal');
				}
                &.focused {
                    @include themify($themes) {
                          border-bottom: themed('border2pxPrimary');
                      }
                    &.filled {
                        border-bottom: 2px solid #000000;
                    }
                }
                input {
                    height: 56px;
                    width: 100%;
					padding-right: 25px;
                    text-align: right;
                    @include themify($themes) {
                        border: themed('border2pxfieldNormal');
                        background-color: themed('fieldNormal');
                    }
                    &:focus {
                        outline: none;
                    }
                }
				@media (min-width: 374px) and (max-width: 677px) {
					margin-right: 7px;
					margin-left: 7px;
				}
                &.filled {
                    border: 2px solid $text-color;
                    background-color: $brand-primary;
					@include themify($themes) {
						background-color: themed('brandPrimary');
					}
                    color: white;
                    input {
						padding-right: 25px;
						@include themify($themes) {
							background-color: themed('brandPrimary');
						}
                        color: white;
                       	border: 2px solid white;
                        &:focus {
                            border-bottom: 2px solid white;
                            outline: none;
                        }
                    }
                }
				&:after {
					content: "€";
					position: absolute;
					right: 10px;
                    top: 50%;
                    transform: translateY(-50%);

				}
            }
			input#amount-typed:invalid {
				box-shadow: none;
				outline: none;
			}


            input[type=radio]:checked + label {
                color: white;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
		}

	}
	hr {
		display: none;
		@include bkp(sm) {
			display: block;
			border: none;
			height: 12px;
			box-shadow: 0 3px 9px -5px rgba(0,0,0,0.65);
		}
		@include bkp(md) {
			box-shadow: none;
		}
	}
}

.other-info {
	&.other-info-lateral {
		padding-left: 0;
		padding-top: 20px;
	}
	.other-text {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}
	.text {
		font-size: 12px;
		line-height: 24px;
		padding-left: 15px;
	}

	i {
		font-size: 14px;
	}
	input[type="submit"] {
		margin-top: 40px;
		max-width: 100%;
	}

}

form#form-donation, form#form-membership {
	@include bkp(sm) {
		box-shadow: 0 -3px 9px -5px rgba(0,0,0,0.65);
	}
	@include bkp(md) {
		box-shadow: none;
	}
}

.form-shadow-wrap {
	margin-bottom: 60px;
	@include bkp(md) {
        box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.35);
        width: calc(66.6666666667% + 30px);
        margin-left: -30px;
        margin-bottom: 30px;
        section {
            padding-left: 30px;
        }
	}
	@include bkp(md) {

	}

}
.shadow-wrap {
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.65);
	@include bkp(md) {
		box-shadow: none;
	}
}

.donation {
	form {
		section {
			&#donation-type {
				@include bkp(md) {
					padding-bottom: 30px;
				}
			}
		}
	}
}
