.info-text, .wrap-check, .info-text-bottom {
    display: none;
	&.opened {
        display:block;
	}
	.icon-done {
		position: absolute;
		top: 18px;
		right: 10px;
	}
}

.info-text-bottom {
	@include bkp(lg) {
		display: block;
	}
}

form {
	hr {
		display: none;
		@include bkp(sm) {
			display: block;
			border: none;
			height: 12px;
			box-shadow: 0 3px 9px -5px rgba(0,0,0,0.65);
		}
		@include bkp(md) {
			box-shadow: none;
		}
	}
	@include bkp(sm) {
		margin-top: 60px;
	}
	section {
		padding-top: 40px;
		h2 {
			margin-bottom: 25px;
		}
	}
}

.donation-data {
	.info-text.opened {
		height: auto;
	}
}

.donation-amount {
	fieldset:not( :first-of-type ) {
		margin-top: 25px;
	}
	.amount-qty {
		div {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
				margin: 0 -7px;
			}
		}
		input[type=radio] {
			position: absolute;
			left: -99999px;
		}
		label, .wrap-amount-typed input {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			margin-bottom: 0;
		}
		.wrap-radio {
			position: relative;
			width: 60px;
			height: 60px;
			max-width: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 12px;
			@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
				margin-right: 7px;
				margin-left: 7px;
			}
			input[type=radio] {
				& + label {
					background-color: transparent;
					transition: background-color 500ms;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						border: 2px solid $gray-light;
						z-index: -1;
						background-color: transparent;
						transition: background-color 500ms;
					}
				}
				& + label:hover,
				&:checked + label {
					color: white;
					&:before {
						@include themify($themes) {
							background-color: themed('brandPrimary');
						}
						border: 2px solid $text-color;
						background-color: $brand-primary;
						box-shadow: inset 0 0 0 2px white;
						color: white;
					}
				}
			}
		}
		input[type=radio]:checked + label {
			color: white;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
	}
}

.wrap-amount-typed.field-grp {
	height: 60px;
	width: 100%;
	position: relative;
	input {
		height: 56px;
		width: 100%;
		padding-right: 25px;
		text-align: right;
	}
	@media ( min-width: $screen-xs-min ) and ( max-width: $screen-xs-max ) {
		margin-right: 7px;
		margin-left: 7px;
	}
	&.filled {
		border: 2px solid $text-color;
		background-color: $brand-primary;
		@include themify($themes) {
			background-color: themed('brandPrimary');
		}
		color: white;
		input {
			padding-right: 25px;
			@include themify($themes) {
				background-color: themed('brandPrimary');
			}
			color: white;
			border: 2px solid white;
			&:focus, &:hover {
				border-bottom: 2px solid white;
				outline: none;
			}
		}
	}
	&:after {
		content: attr( data-currency );
		font-family: $font-main;
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.other-info {
	&.other-info-lateral {
		padding-left: 0;
		padding-top: 20px;
	}
	.other-text {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}
	.text {
		font-size: 12px;
		line-height: 24px;
		padding-left: 15px;
	}
	i {
		font-size: 14px;
	}
	input[type="submit"] {
		margin-top: 40px;
		max-width: 100%;
	}
}

.main-form {
	@include bkp(sm) {
		box-shadow: 0 -3px 9px -5px rgba(0,0,0,0.65);
	}
	@include bkp(md) {
		box-shadow: none;
	}
}

.form-shadow-wrap {
	margin-bottom: 60px;
	@include bkp(md) {
        box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.35);
        width: calc(66.6666666667% + 30px);
        margin-left: -30px;
        margin-bottom: 30px;
        section {
            padding-left: 30px;
        }
	}
}

.shadow-wrap {
	box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.65);
	@include bkp(md) {
		box-shadow: none;
	}
}