main.conclusion {

	@include bkp(xsmax) {
		padding-top: 25px;
	}

	.introduction {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.switch-container {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.donation-conclusion {

	p.h1 {
		margin-bottom: 40px;
	}
	.list-unstyled {
		clear: both;
	}

	.btn-donation.btn-introduction {
		margin: 20px 0;
		widht: 100%;
		max-width: 100%;
		height: 66px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		@include bkp(sm) {
			height: 45px;
		}
		@include bkp(md) {
			display: flex;
			margin-top: -50px;
			&.btn-side {
				margin-top: 0;
			}
		}
	}

	.text-moved {
		margin: 40px 0;
		@include bkp(sm) {
			margin: 80px 0 0;
			width: 55%;
		}
		@include bkp(md) {
			width: 85%;
		}
	}

	.cancel-block {
		margin-top: 30px;
		@include bkp(sm) {
			margin-top: -120px;
		}
		@include bkp(md) {
			margin-top: 80px;
		}
	}
	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}
}

.introduction p {
	@include bkp(sm) {
		width: 75%;
	}
	@include bkp(md) {
		width: 85%;
	}
}

.others {
	p {
		margin-bottom: 18px;
		@include bkp(md) {
			line-height: 20px;

		}
	}
	.subtitle {
		font-weight: 600;
	}
	.h2, h3 {
		@include bkp(md) {
			font-size: 16px;
			line-height: 26px;
		}
	}
	h2 + h3 {
		@include bkp(md) {
			margin-top: 15px;
			margin-bottom: 35px;
		}
	}
}

.transfer-data-list {
	margin-top: 15px;
	margin-bottom: 0;
	@include bkp(sm) {
		width: 65%;
	}
	@include bkp(md) {
		width: 75%;
	}
	dt, dd {
		display: inline-block;
	}
	.wrap-def {
		padding: 6px 0;
		@include bkp(sm) {
			padding: 6px 30px;
		}
		&:nth-child(odd) {
			background-color: $gray-light;
		}
		.container {
			@include bkp(sm) {
				width: auto;
				max-width: none;
				padding: 0;
			}
		}
	}
}

.donation-cancel {
	.introduction {
		margin-bottom: 60px;
		@include bkp(sm) {
			margin-bottom: 25vh;
		}
	}
}

.donation-contact {
	form {
		margin-top: 50px;
	}
	.field-grp {
		.error-text {
			display: none;
		}
		#subject {
			@include bkp(sm) {
				max-width: 227px;
			}
		}
		textarea {
			height: 180px;
		}
        &.invalid {
         .error-text {
             display: block;
         }
        }
	}
    .wrap-submit {
        margin-top: 40px;
        @include bkp(sm) {
            margin-top: 80px;
        }
    }
    input[type="submit"] {
        position: relative;
        margin: 0 -300px;
        width: 900px;
        height: 66px;
        @include bkp(sm) {
            max-width: 100%;
            display: flex;
            margin:0 auto;
            padding: 0;
            height: 45px;
        }
    }
	.list-menu {
		margin-top: 30px;
	}
}

.donation-contact-sent {
	.introduction {
		margin-bottom: 300px;
	}
}

.donation-comment {
	form {
		margin-top: 25px;
		fieldset {
			padding-top: 25px;
		}
	}
	textarea {
		height: 180px;
	}
}

.impressum {
	h2 {
		margin-bottom: 25px;
	}
}

.tax-deduction {
	.cancel-block {
		padding-top: 45px,
	}
}

.data-protection {

	section  {
		margin-bottom: 50px;
	}
	.back-block {
		@include bkp(md) {
			margin-top: -80px;
		}
	}
}
.comments-list {
	.introduction {
		padding-top: 80px;
		@include bkp(md) {
			padding-top: 45px;
		}
	}
	article {
		margin: 40px 0 0;
		span {
			display: block;
			margin-bottom: 10px;
			&:first-child {
				font-weight: $font-main-semibold;
			}
			&.date-time {
				font-weight: $font-main-light;
			}
		}
		&:last-child {
			margin-bottom: 60px;
		}
	}
}

.supporters-list {
	.introduction {
		padding-top: 80px;
		@include bkp(md) {
			padding-top: 45px;
		}
	}
	.wrap-items {
		margin-top: 40px;
		@include bkp(sm) {
			margin-top: 50px;
		}
		@include bkp(md) {
			margin-top: 60px;
		}
		.wrap-field {
			.wrap-input {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:after {
					left: 4px;
				}
			}
		}
	}
	.list-menu {
		margin-top: 40px;
	}

}

.side a.btn {
	margin-bottom: 30px;
}