// todo Does not match our templates - rm once all 3rd party "html/" is ported, incorporated this one way or another
main.conclusion {

	@include bkp(xsmax) {
		padding-top: 25px;
	}

	.introduction {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.switch-container {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.introduction p {
	@include bkp(sm) {
		width: 75%;
	}
	@include bkp(md) {
		width: 85%;
	}
}

.others {
	p {
		margin-bottom: 18px;
		@include bkp(md) {
			line-height: 20px;
            &.h1 {
                line-height: 36px;
            }
		}
	}
	.subtitle {
		font-weight: 600;
	}
	.h2, h3 {
		@include bkp(md) {
			font-size: 16px;
			line-height: 26px;
		}
	}
	h2 + h3 {
		@include bkp(md) {
			margin-top: 15px;
			margin-bottom: 35px;
		}
	}
}

.transfer-data-list {
	margin-top: 15px;
	margin-bottom: 0;
	@include bkp(sm) {
		width: 65%;
	}
	@include bkp(md) {
		width: 75%;
	}
	dt, dd {
		display: inline-block;
	}
	.wrap-def {
		padding: 6px 0;
		@include bkp(sm) {
			padding: 6px 30px;
		}
		&:nth-child(odd) {
			background-color: $gray-light;
		}
		.container {
			@include bkp(sm) {
				width: auto;
				max-width: none;
				padding: 0;
			}
		}
	}
}

@import "pages/donation-comment";

.side a.btn {
	margin-bottom: 30px;
}

.content-page {
	.itz-logo {

		padding-top: 20px;

		@include bkp(md) {
			padding-top: 70px;
		}

		img {
			width: 200px;
		}
	}
}

@import "pages/contact";
@import "pages/comments_list";
@import "pages/donation_confirmation";
@import "pages/donation_receipt";
@import "pages/donation_cancel";
@import "pages/membership_confirmation";
@import "pages/membership_cancel";
@import "pages/privacy_protection";
@import "pages/supporters";
@import "pages/use_of_resources";
