// todo Does not match our templates - rm once all 3rd party "html/" is ported, incorporated this one way or another
main.conclusion {

	@include bkp(xsmax) {
		padding-top: 25px;
	}

	.introduction {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.switch-container {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.membership-conclusion {

	p.h1 {
		margin-bottom: 40px;
	}
	.list-unstyled {
		clear: both;
	}

	.btn-donation.btn-introduction {
		margin: 20px 0;
		widht: 100%;
		max-width: 100%;
		height: 66px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		@include bkp(sm) {
			height: 45px;
		}
		@include bkp(md) {
			display: flex;
			margin-top: -50px;
			&.btn-side {
				margin-top: 0;
			}
		}
	}

	.cancel-block {
		margin-top: 30px;
		@include bkp(sm) {
			margin-top: -170px;
		}
		@include bkp(md) {
			margin-top: 45px;
		}
		@include bkp(lg) {
			margin-top: 16px;
		}
	}
	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}

	.down {
		@include bkp(sm) {
			margin-top : 200px;
		}
		@include bkp(md) {
			margin-top: 200px;
		}
		@include bkp(lg) {
			margin-top: 0;
		}
	}
	.link-back {
		@include bkp(lg) {
			margin-top: 40px;
		}
	}
}

.membership-cancel {
    .h2 {
        font-size: 16px;
        line-height: 26px;
    }
}

.introduction p {
	@include bkp(sm) {
		width: 75%;
	}
	@include bkp(md) {
		width: 85%;
	}
}

.others {
	p {
		margin-bottom: 18px;
		@include bkp(md) {
			line-height: 20px;
            &.h1 {
                line-height: 36px;
            }
		}
	}
	.supporters-list p {
		margin-bottom: 0;
	}
	.subtitle {
		font-weight: 600;
	}
	.h2, h3 {
		@include bkp(md) {
			font-size: 16px;
			line-height: 26px;
		}
	}
	h2 + h3 {
		@include bkp(md) {
			margin-top: 15px;
			margin-bottom: 35px;
		}
	}
}

.transfer-data-list {
	margin-top: 15px;
	margin-bottom: 0;
	@include bkp(sm) {
		width: 65%;
	}
	@include bkp(md) {
		width: 75%;
	}
	dt, dd {
		display: inline-block;
	}
	.wrap-def {
		padding: 6px 0;
		@include bkp(sm) {
			padding: 6px 30px;
		}
		&:nth-child(odd) {
			background-color: $gray-light;
		}
		.container {
			@include bkp(sm) {
				width: auto;
				max-width: none;
				padding: 0;
			}
		}
	}
}

.donation-cancel {
	.introduction {
		margin-bottom: 60px;
		@include bkp(sm) {
			margin-bottom: 25vh;
		}
	}
}

@import "pages/contact";

.donation-comment {
	form {
		margin-top: 25px;
		fieldset {
			padding-top: 25px;
		}
	}
	textarea {
		height: 180px;
	}
}

.supporters-list {
	.introduction {
		padding-top: 80px;
		@include bkp(md) {
			padding-top: 45px;
		}
	}
	.wrap-items {
		margin-top: 40px;
		@include bkp(sm) {
			margin-top: 50px;
		}
		@include bkp(md) {
			margin-top: 60px;
		}
		.wrap-field {
			.wrap-input {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&:after {
					left: 4px;
				}
			}
		}
	}
	.list-menu {
		margin-top: 40px;
	}
	p {
		margin-bottom: 0;
	}

}

.side a.btn {
	margin-bottom: 30px;
}

.content-page {
	.itz-logo {

		padding-top: 20px;

		@include bkp(md) {
			padding-top: 70px;
		}

		img {
			width: 200px;
		}
	}
}

@import "pages/comments_list";
@import "pages/donation_confirmation";
@import "pages/donation_receipt";
@import "pages/privacy_protection";
@import "pages/use_of_resources";
