# See the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "composer" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    reviewers:
      - "wmde/funtech-core"
      
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    reviewers:
      - "wmde/funtech-core"
      
  - package-ecosystem: "composer" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    reviewers:
      - "wmde/funtech-core"

  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/skins/laika" # Location of package manifests
    schedule:
      interval: "daily"
    reviewers:
      - "wmde/funtech-core"


