{% extends 'page_layouts/base.html.twig' %}

{% block page_identifier %}faq{% endblock%}

{% block main %}
	<div id="faq"></div>
{% endblock %}

{% block scripts %}
	<script src="{$ basepath $}{$ '/skins/cat17/scripts/faq.js' | prefix_file $}"></script>
{% endblock %}