*~
!.*

composer.phar
npm-debug.log
coverage.clover

vendor/
node_modules/
var/
coverage/

.env
.env.*.local
.idea/
.floo
.flooignore

.phpunit.result.cache
.phpunit.cache

app/config/

app/fundraising-frontend-content/

res/blz.lut2f

web/res/js/wmde.js
web/resources
web/skins

deployment/deployment.retry

tmp/

/.docker/database/*
!/.docker/database/01.Database_Schema.sql
!/.docker/database/02.Default_Data.sql

# This is a file with lots of errors that we could copy 'ignore' rules from
phpstan-baseline-source.neon