*~
!.*

composer.phar
npm-debug.log
coverage.clover

vendor/
node_modules/
var/

.env
.idea/
.floo
.flooignore

.phpunit.result.cache

app/config/
!app/config/Resources/*

app/fundraising-frontend-content/

res/blz.lut2f

web/res/js/wmde.js
web/resources
web/skins

deployment/deployment.retry

tmp/

/build/database/*
!/build/database/01.Database_Schema.sql
!/build/database/02.Default_Data.sql
