*~
!.*

composer.phar
npm-debug.log

vendor/
node_modules/
var/

.idea/
.floo
.flooignore

app/config/

app/fundraising-frontend-content/

res/blz.lut2f

web/res/js/wmde.js
web/resources
web/skins

deployment/deployment.retry
deployment/inventory

tmp/