version: '3'

services:
  proxy:
    image: nginx:stable
    links:
      - app
    ports:
      - "8082:8080"
    volumes:
      - ./build/proxy/nginx.conf.template:/etc/nginx/conf.d/nginx.conf.template:ro
      - ./build/proxy/includes:/etc/nginx/conf.d/includes:ro
      - ./web:/usr/share/nginx/www/spenden.wikimedia.de/current/web:ro
    environment:
      - NGINX_HOST=spenden.wikimedia.de
      - NGINX_PORT=8080
    command: /bin/bash -c "envsubst '$$NGINX_HOST $$NGINX_PORT' < /etc/nginx/conf.d/nginx.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

  app:
    build: ./build/app
    expose:
      - "9000"
    volumes:
      - .:/usr/share/nginx/www/spenden.wikimedia.de/current
      - var-data:/usr/share/nginx/www/spenden.wikimedia.de/current/var
    working_dir: /usr/share/nginx/www/spenden.wikimedia.de/current
    links:
      - database
      - mailhog

  database:
    image: mysql:5.6
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_USER=fundraising
      - MYSQL_PASSWORD=INSECURE PASSWORD
      - MYSQL_DATABASE=fundraising
    expose:
      - "3306"
    volumes:
      - db-storage:/var/lib/mysql
    networks:
      - default
      - frontend-proxy

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
    expose:
      - "1025"

  start_dependencies:
    image: dadarek/wait-for-dependencies
    depends_on:
      - database
    command: database:3306

volumes:
  var-data:
  db-storage:

networks:
  frontend-proxy:
    # uncomment this as soon as we can use version 3.5 (Docker 17.12.0+) on Travis CI,
    # to make linking easier with a defined name instead of using the directory name this repo is living in
    # name: fundraising_network
