includes:
	- phpstan-baseline.neon

parameters:
	excludePaths:
		- src/Presentation/DonationMembershipApplicationAdapter.php
		- src/Presentation/Presenters/MembershipFormViolationPresenter.php
		- tests/EdgeToEdge/PayPalRequestLoggerTest.php
		- tests/EdgeToEdge/CampaignCookieTest.php
		- tests/EdgeToEdge/TrackingDataTest.php
		- tests/Unit/Routes/SofortNotificationRequestTest.php
