parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 1
			path: src/BucketTesting/CampaignConfiguration.php

		-
			message: "#^Method WMDE\\\\Fundraising\\\\Frontend\\\\BucketTesting\\\\Validation\\\\FeatureToggleParser\\:\\:parseMethodCalls\\(\\) should return array\\<PhpParser\\\\Node\\\\Expr\\\\MethodCall\\> but returns array\\<PhpParser\\\\Node\\>\\.$#"
			count: 1
			path: src/BucketTesting/Validation/FeatureToggleParser.php

