<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    backupGlobals="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
    >
  <php>
    <server name="APP_ENV" value="test" force="true"/>
    <env name="APP_ENV" value="test" force="true"/>
  </php>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">app</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
    <testsuite name="edgetoedge">
      <directory>tests/EdgeToEdge</directory>
    </testsuite>
  </testsuites>
</phpunit>
