<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">
    <testsuites>
        <testsuite name="FundraisingFrontend-unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="FundraisingFrontend-integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="FundraisingFrontend-system">
            <directory>tests/System</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
