<p>
	Ich ermächtige Wikimedia Deutschland e. V. (Gläubiger-ID: DE39ZZZ00000029337) Zahlungen
	von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von
	Wikimedia Deutschland e. V. auf mein Konto gezogenen Lastschriften einzulösen.
</p>
<p>
	Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages
	verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
</p>
