<p>
	Gläubiger-ID Wikimedia Deutschland e. V.: DE39ZZZ00000029337
</p>
<p>
	Die Mandatsreferenznummer zur eindeutigen Identifizierung des SEPA-Lastschriftmandats wird Ihnen separat per E-Mail mitgeteilt.
	Ihre Lastschrift wird als SEPA-Rahmenmandat behandelt.
</p>
