<p>Wir haben Ihre Nachricht erhalten.</p>

<p>Wir werden uns auch bald bei Ihnen melden. Bitte beachten Sie, dass es Zeiten gibt, in denen wir sehr viele Anfragen bekommen. Dies gilt vor allem für die Monate November bis Dezember, in der unsere Spendenkampagne auf Wikipedia läuft. Es kann daher sein, dass wir etwas Zeit benötigen, um uns um Ihr Anliegen zu kümmern. Auch wenn es manchmal etwas dauert, seien Sie versichert, dass wir uns bei Ihnen melden werden; versprochen. Keine Anfrage geht verloren.</p>

<p>Ihr Wikimedia-Spendenservice</p>
