<p>
  <strong>Ihre Unterstützung ist steuerlich absetzbar</strong><br />
  <br />
  Die Wikimedia Fördergesellschaft ist als gemeinnützig anerkannt und ist berechtigt Zuwendungsbescheinigungen auszustellen.
  Als Dankeschön und Zeichen unserer Wertschätzung stellen wir für jede Spende ab genau 5 Euro automatisch eine Zuwendungsbescheinigung
  aus. Dies erfolgt nur dann nicht, wenn Sie dies ausdrücklich nicht wünschen. Die Bescheinigungen verschicken wir zum Ende des ersten
  Quartals des folgenden Jahres. Wenn Sie Ihre Zuwendungsbestätigung eher benötigen, sagen Sie uns einfach Bescheid. Auf Nachfrage
  versenden wir die Bestätigung auch gern eher. Schreiben Sie uns dazu einfach eine E-Mail an spenden@wikimedia.de oder nutzen Sie
  unser <a href="/contact/get-in-touch">Kontaktformular</a>.
</p>

<p>
  Grundsätzlich genügt dem Finanzamt bis zu einem Betrag von 200 € der sogenannten Vereinfachte Zuwendungsbescheid in Verbindung mit
  Ihrem Kontoauszug als Nachweis der Spende. Wenn Sie den vereinfachten Bescheid verwenden möchten, können Sie diesen hier als
  <a href="/resources/de_DE/Vereinfachter_Zuwendungsbescheid_Foerdergesellschaft.pdf" target="_blank">PDF-Dokument</a>
  herunterladen.
</p>

<p>
  Bitte beachten Sie, dass bei selbstständigen Überweisungen die Adresse in den Verwendungszweck eingetragen werden muss, wenn Sie eine
  Zuwendungsbestätigung erhalten möchten. Sie können uns Ihre Adresse übrigens auch über das Spendenformular zusenden. Hierfür wählen Sie
  die Option “Überweisung” und geben Ihre Adresse ein. Danach erhalten Sie von uns einen speziellen Überweisungscode. Diesen schreiben Sie
  einfach in den Verwendungszweck Ihrer Überweisung. Auf diesem Weg können wir Ihre Adresse der Zahlung automatisch zuordnen. Das ist für
  uns der einfachste Weg. 
</p>
