<p>
	Diese Seite benötigt
	<a href="https://de.wikipedia.org/wiki/Javascript">JavaScript</a>
	um richtig zu funktionieren. Leider haben Sie dieses deaktiviert.
</p>

<p>
	Sie können gerne per Überweisung spenden. Nutzen Sie bitte folgende Bankverbindung:<br /><br />
	<strong>Wikimedia Foerdergesellschaft</strong><br />
	<strong>IBAN: DE33 1002 0500 0001 1947 00</strong><br />
	<strong>BIC: BFSWDE33BER</strong>
</p>

<p>
	<a href="https://www.enable-javascript.com/de/">Finden Sie heraus wie Sie JavaScript aktivieren können</a>
	um zu spenden oder Mitglied zu werden.
</p>
