<ol>

	<li>
		Verantwortlicher und Kontaktmöglichkeiten des Datenschutzbeauftragten
		<p>
			Die datenschutzrechtlich Verantwortliche für die auf unserer Website stattfindenden Datenverarbeitungen ist die
		</p>

		<p>
			Gemeinnützige Wikimedia Fördergesellschaft mbH<br />
			Tempelhofer Ufer 23-24<br />
			10963 Berlin<br />
			Geschäftsführer<br />
			Abraham Taherivand<br />
			datenschutz@wikimedia.de<br />
			Telefon 030 - 219 158 26-0
		</p>

		<p>
			Unser Datenschutzbeauftragter ist erreichbar unter:
		</p>

		<p>
			Gemeinnützige Wikimedia Fördergesellschaft mbH<br />
			- Datenschutzbeauftragter -<br />
			Tempelhofer Ufer 23–24<br />
			10963 Berlin <br />
			datenschutz@wikimedia.de
		</p>
	</li>

	<li>
		Zwecke und Rechtsgrundlage der Datenverarbeitung
		<ol>

			<li>
				Allgemeine Nutzung der Website
				<p>
					Bei der Nutzung dieses Angebots werden die von Ihrem Browser an den Server übermittelten Daten erfasst und gespeichert.
					Dies umfasst üblicherweise Informationen über den Typ und die Version des von Ihnen verwendeten Browsers, das verwendete
					Betriebssystem, die Referrer URL (die Webseite, von der aus Sie zu dieser Website gelangt bist) sowie die Uhrzeit der
					Serveranfrage. Diese Daten können nicht bestimmten Personen zugeordnet werden. Die Daten werden von uns statistisch
					ausgewertet. Die Verarbeitung Ihrer IP-Adresse während des Verbindungsaufbaus erfolgt, damit wir Ihnen unsere Website
					zur Verfügung stellen können. Sie basiert auf Art. 6 Abs. 1 lit. f) DSGVO. Unser berechtigtes Interesse besteht im
					genannten Zweck.
				</p>
			</li>

			<li>
				Erhebung und Verarbeitung personenbezogener Spenderdaten
				<p>
					Die Wikimedia Fördergesellschaft erhebt und verarbeitet verschiedene personenbezogene Spenderdaten, darunter Spendenhöhe,
					Adresse, Telefonnummer, Spendenkommentar und E-Mail-Adresse. Steuerrechtliche Vorgaben verlangen, dass wir Kontaktdaten
					und Spendensummen vorhalten. Zudem erheben wir, wenn Sie per Überweisung oder Bankeinzug die Zahlung vornehmen Ihre Bankdaten.
				</p>

				<p>
					Wir werden personenbezogene Spenderdaten nicht veröffentlichen, verkaufen, vermieten oder anderweitig anbieten, es sei denn,
					der Spender hat dies erlaubt, etwa zur Veröffentlichung im Spendenticker, oder dies ist aufgrund der anwendbaren gesetzlichen
					Bestimmungen erforderlich und zulässig. Sollte ein Spender nicht ausdrücklich der Veröffentlichung seiner Spenderdaten
					zugestimmt haben, werden die Daten nach Maßgabe der gesetzlichen Vorschriften des Datenschutzes vertraulich behandelt.
					Kontaktdaten von Spendern werden vor allem zu den folgenden Zwecken verwendet:
				</p>

				<ul>
					<li>Zahlungsabwicklung</li>
					<li>Zustellung von Zuwendungsbestätigungen</li>
					<li>Danksagungen für einzelne Spenden</li>
					<li>auf ausdrücklichen Wunsch des Spenders hin: Versand von Informationen über aktuelle und zukünftige Aktivitäten von Wikimedia, Versand von Spendenerinnerungen per eMail</li>
					<li>Interne Auswertung und Buchhaltung</li>
					<li>Mitteilungen an Finanzbehörden im Rahmen geltenden Rechts</li>
					<li>Mitteilungen an Spender über Änderungen an dieser Richtlinie</li>
				</ul>

				<p>
					Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 lit. b) DSGVO. FÜr die gesetzlich vorgeschriebene Aufbewahrung der
					Spendenunterlagen ist die Rechtsgrundlage Art. 6 Abs. 1 lit. c) DSGVO.
				</p>

			</li>

			<li>
				Spendenaufrufe per E-Mail
				<p>
					Sie haben die Möglichkeit, sich für unseren Spendenaufruf-Newsletter zu registrieren.
					In diesem Fall verwenden wir Ihre E-Mail-Adresse, um Ihnen Informationen über unsere
					neuesten Spendenaufrufe zuzusenden. Die Rechtsgrundlage für die Verarbeitungen ist
					Ihre Einwilligung (Art. 6 Abs. 1 lit. a) DSGVO). Ihre Einwilligung können Sie
					jederzeit mit Wirkung für die Zukunft widerrufen, z.B. per E-Mail an
					spenden@wikimedia.de oder indem Sie auf einen Abmeldelink in einer der Ihnen
					zugesendeten E-Mails klicken. Durch den Widerruf wird die Rechtmäßigkeit der aufgrund
					der Einwilligung bis zum Widerruf vorgenommenen Verarbeitungen nicht berührt.
				</p>
	
				<p>
					Wir analysieren zudem Ihre Nutzung unseres Newsletters, z.B. auf welchen Link oder
					welchen Banner Sie geklickt haben. Dies geschieht, um zu analysieren, wie unsere
					Spendenaufrufe angenommen werden und damit wir sie in Zukunft ggf. verbessern können.
				</p>
	
				<p>
					Die Verarbeitungen zu diesen Zwecken beruhen auf Art. 6 Abs. 1 lit. f) DSGVO, wobei
					unser berechtigtes Interesse in den vorgenannten Zwecken liegt. Wenn Sie mit der
					Analyse nicht einverstanden sind, können Sie jederzeit widersprechen, indem Sie die
					E-Mails abbestellen.
				</p>
			</li>
		</ol>
	</li>

	<li>
		Empfänger der Daten
		<p>
			Zur Erfüllung unserer Aufgaben (Versand von Zuwendungsbestätigungen und Informationen) arbeiten wir mit externen Auftragnehmern
			zusammen, die in unserem Auftrag für diese Zwecke gegebenenfalls personenbezogene Daten verarbeiten. Diese Dienstleister sind
			vertraglich durch die Wikimedia Fördergesellschaft gebunden und dürfen personenbezogene Daten, die sie in diesem Zusammenhang
			erhalten, nur für die jeweils vereinbarten Zwecke verwenden.
		</p>

		<p>
			Zudem arbeiten wir mit Zahlungsdienstleistern zusammen (PayPal (Europe) S.à r.l. et Cie, S.C.A. und Sofort GmbH). Wir übertragen
			an diese Dienstleister die für die Zahlung erforderlichen Daten. Die übrige Zahlungsabwicklung findet vollständig auf den Plattformen
			der Dienstleister statt, ohne dass wir Kenntnis von oder Einfluss auf die dortigen Datenverarbeitungen haben. Nähere Informationen
			dazu finden Sie unter: https://www.paypal.com/de/webapps/mpp/ua/privacy-full?locale.x=de_DE und https://www.sofort.de/datenschutz.html.
			Für die Zahlung per Kreditkarte arbeiten wir mit dem Dienstleister Micropayment zusammen. Nähere Informationen zur Verarbeitung
			Ihrer Daten dort finden Sie unter: https://www.micropayment.de/about/privacy/
		</p>

		<p>
			Die für die Zusammenarbeit mit diesen Dienstleistern erforderlichen Datenverarbeitungen sind aufgrund von Art. 6 Abs. 1 lit. f)
			gerechtfertigt. Unser berechtigtes Interesse liegt hier darin, Ihnen möglichst bequeme Zahlungsoptionen anzubieten.
		</p>

		<p>
			Es findet im Übrigen keine Übermittlung in Drittstaaten statt.
		</p>
	</li>

	<li>
		Speicherdauer
		<p>
			Unsere Logfiles werden 30 Tage gespeichert.
		</p>

		<p>
			Die für die Spende erforderlichen Daten speichern wir für eine Dauer von 10 Jahren ab Ende des Jahres in dem die letzte Spende erfolgte.
		</p>

		<p>
			Wenn Sie uns Ihre Einwilligung zur Aufnahme in die Zusendung von E-Mails gegeben haben, speichern wir bis zu Ihrem Widerruf die
			folgenden Daten: Vorname, Name, E-Mail, Straße und Hausnummer, Postleitzahl, Stadt, Land, Anrede, Titel.
		</p>

		<p>
			Ihre E-Mails und Kontaktaufnahmen speichern wir so lange, wie es zur Bearbeitung Ihrer Anfrage erforderlich ist und speichern Sie
			anschließend für einen Zeitraum von 3 Jahren, falls Sie sich bezugnehmend auf Ihre ursprüngliche Frage noch einmal an uns wenden.
		</p>

		<p>
			Wenn Sie sich für unseren Spendenaufruf-Newsletter registriert haben, wird Ihre E-Mail-Adresse bis auf Widerruf zu diesem Zweck
			verarbeitet und gespeichert. Die Analysedaten werden nach 12 Monaten gelöscht.
		</p>
	</li>

	<li>
		Betroffenenrechte
		<p>
			Die Datenschutz-Grundverordnung garantiert Ihnen gewisse Rechte, die Sie uns gegenüber — soweit die gesetzlichen
			Voraussetzungen vorliegen — geltend machen können.
		</p>

		<p>
			Art. 15 DSGVO — Auskunftsrecht der betroffenen Person: Sie haben das Recht, von uns eine Bestätigung darüber zu
			verlangen, ob Sie betreffende personenbezogene Daten verarbeitet werden und wenn ja, welche dies sind sowie die näheren
			Umstände der Datenverarbeitung.
		</p>

		<p>
			Art. 16 DSGVO — Recht auf Berichtigung: Sie haben das Recht, von uns unverzüglich die Berichtigung Sie betreffender
			unrichtiger personenbezogener Daten zu verlangen. Dabei haben Sie unter Berücksichtigung der Zwecke der Verarbeitung auch
			das Recht, die Vervollständigung unvollständiger personenbezogener Daten — auch mittels einer ergänzenden Erklärung
			— zu verlangen.
		</p>

		<p>
			Art. 17 DSGVO — Recht auf Löschung: Sie haben das Recht, von uns zu verlangen, dass Sie betreffende personenbezogene
			Daten unverzüglich gelöscht werden. Beachten Sie hier bitte die unter Punkt II. 4 beschriebene Ausnahme.
		</p>

		<p>
			Art. 18 DSGVO — Recht auf Einschränkung der Verarbeitung: Sie haben das Recht, von uns die Einschränkung der
			Verarbeitung zu verlangen.
		</p>

		<p>
			Art. 20 DSGVO — Recht auf Datenübertragbarkeit: Sie haben das Recht, im Falle der Verarbeitung aufgrund einer
			Einwilligung oder zur Erfüllung eines Vertrags, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt
			haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und diese Daten einem anderen
			Verantwortlichen ohne Behinderung durch uns zu übermitteln oder die Daten direkt an den anderen Verantwortlichen
			übermitteln zu lassen, soweit dies technisch machbar ist.
		</p>

		<p>
			Art. 21 DSGVO — Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation
			ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund eines berechtigten
			Interesses unsererseits oder zur Wahrung einer Aufgabe im öffentlichen Interesse erforderlich ist, oder die in Ausübung
			öffentlicher Gewalt erfolgt, Widerspruch einzulegen.
		</p>

		<p>
			Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können
			zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen,
			oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
		</p>

		<p>
			Soweit wir Ihre personenbezogenen Daten verarbeiten, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit
			Widerspruch gegen die Verarbeitung einzulegen. Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so
			werden wir Ihre personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten.
		</p>

		<p>
			Art. 77 DSGVO i. V. m. § 19 BDSG — Recht auf Beschwerde bei einer Aufsichtsbehörde: Sie haben das Recht, jederzeit
			Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes
			oder des Orts des mutmaßlichen Verstoßes, einzulegen, wenn Sie der Ansicht sind, dass die Verarbeitung der sie
			betreffenden personenbezogenen Daten gegen geltendes Recht verstößt.
		</p>

		<p>
			Wenn Sie uns eine Einwilligung erteilt haben, haben Sie das Recht, Ihre Einwilligung jederzeit zu widerrufen. Alle
			Datenverarbeitungen die wir bis zu Ihrem Widerruf vorgenommen haben, bleiben in diesem Fall rechtmäßig. Zu diesem Zweck
			können Sie einfach den in jeder Mail enthaltenen Link anklicken und sich von dem E-Mail-Dienst abmelden, in Ihrem
			Nutzerkonto die entsprechende Einstellung vornehmen oder eine Nachricht an datenschutz@wikimedia.de schicken. Wenn Sie
			uns in dieser Nachricht mitteilen, künftig keine E-Mails erhalten zu wollen, werden wir an die von Ihnen angegebene
			E-Mail-Adresse keine Nachrichten mehr versenden.
		</p>

		<p>
			Pflicht zur Bereitstellung von Daten
		</p>

		<p>
			Sie haben keine vertragliche, oder gesetzliche Pflicht uns personenbezogene Daten bereitzustellen. Allerdings sind
			wir ohne die von Ihnen mitgeteilten Daten nicht in der Lage, Ihnen unsere Services anzubieten.
		</p>

		<p>
			Bestehen von automatisierten Entscheidungsfindungen (einschließlich Profiling)
		</p>

		<p>
			Wir verwenden keine automatisierten Entscheidungsfindungen die Ihnen gegenüber rechtliche Wirkungen entfaltet oder Sie beeinträchtigt.
		</p>
	</li>

	<li>
		Internetspezifische Datenverarbeitungen
		<ol>

			<li>
				Cookies
				<p>
					Auf bestimmten Seiten kommen Cookies zum Einsatz. Diese Cookies stellen sicher, dass bestimmte Werte für die Zeit, in der Sie diese
					Internetseite nutzen, erhalten bleiben. Das Speichern von Cookies kann jedoch deaktiviert oder der Browser so eingestellt werden,
					dass Cookies nur für die Dauer der jeweiligen Verbindung zum Internet gespeichert werden. Für spenden.wikimedia.de werden Cookies
					ausschließlich für Sessions verwendet. Nach Beendigung der Session werden die Cookies gelöscht. Die Cookies werden nicht an Dritte
					weitergeben. Cookies für de.wikipedia.org werden durch die Wikimedia Foundation auf folgender Seite dargelegt:
					https://wikimediafoundation.org/wiki/Cookie_statement
				</p>

				<p>
					Die Rechtsgrundlage hierfür findet sich in Art. 6 Abs. 1 lit. f) DSGVO. Das berechtigte Interesse findet sich in den eben genannten
					Zwecken.
				</p>
			</li>

			<li>
				Services von Drittanbietern
				<ul>
					<li>
						Vimeo
						<p>
							Unsere Website bettet Inhalte des Videoportals Vimeo ein. Anbieter ist die Vimeo Inc., 555 West 18th Street, New York, New York 10011, USA. 
						</p>
						<p>
							Wenn Sie eine unserer mit einem Vimeo-Plugin ausgestatteten Seiten besuchen, wird eine Verbindung zu den Servern von Vimeo hergestellt. Dabei wird dem Vimeo-Server mitgeteilt, welche unserer Seiten Sie besucht haben. Zudem erlangt Vimeo Ihre IP-Adresse. Dies gilt auch dann, wenn Sie nicht bei Vimeo eingeloggt sind oder keinen Account bei Vimeo besitzen. Die von Vimeo erfassten Informationen werden an den Vimeo-Server in den USA übermittelt.
						</p>
						<p>
							Wenn Sie in Ihrem Vimeo-Account eingeloggt sind, ermöglichen Sie Vimeo, Ihr Surfverhalten direkt Ihrem persönlichen Profil zuzuordnen. Dies können Sie verhindern, indem Sie sich aus Ihrem Vimeo-Account ausloggen.
						</p>
						<p>
							Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der <a href="https://vimeo.com/privacy" target="_blank">Datenschutzerklärung von Vimeo</a>.
						</p>
					</li>
				</ul>
			</li>

			<li>
				Erhebung und Verarbeitung personenbezogener Besucherdaten
				<p>
					Diese Website benutzt den Open Source Webanalysedienst Matomo. Matomo verwendet Cookies. Das sind Textdateien, die auf Ihrem Computer
					gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten
					Informationen über die Benutzung dieser Website auf unserem Server gespeichert. Die IP-Adresse wird vor der Speicherung anonymisiert.
				</p>

				<p>
					Matomo-Cookies verbleiben auf Ihrem Endgerät, bis Sie sie löschen.
				</p>

				<p>
					Die Speicherung von Matomo-Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Wir - Gemeinnützige Wikimedia Fördergesellschaft
					mbH - haben ein berechtigtes Interesse an der anonymisierten Analyse des Nutzerverhaltens, um sowohl unser Webangebot als auch unsere
					Werbung zu optimieren.
				</p>

				<p>
					Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben. Sie können die
					Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass
					Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
				</p>

				<p>
					Wenn Sie mit der Speicherung und Nutzung Ihrer Daten nicht einverstanden sind, können Sie die Speicherung und Nutzung hier
					deaktivieren. In diesem Fall wird in Ihrem Browser ein Opt-Out-Cookie hinterlegt, der verhindert, dass Matomo Nutzungsdaten
					speichert. Wenn Sie Ihre Cookies löschen, hat dies zur Folge, dass auch das Matomo Opt-Out-Cookie gelöscht wird. Das Opt-Out
					muss bei einem erneuten Besuch unserer Seite wieder aktiviert werden.
				</p>
			</li>
		</ol>
	</li>
</ol>

<!-- placeholder_matomo -->

<p>
	Wikimedia Donor Privacy Policy
</p>

<p>
	Als Wikimedia-Länderverein unterstützen und befolgen wir die Wikimedia Privacy Policy.
	<a href="https://foundation.wikimedia.org/wiki/Privacy_policy">Hier können Sie sich die Datenschutzerklärung der
	Wikimedia Stiftung ansehen.</a>
</p>

<p>
	Fragen zum Datenschutz?
</p>

<p>
	Sollten Sie Fragen oder Anmerkungen zum Datenschutz bei der Wikimedia Fördergesellschaft haben, wenden Sie sich bitte mit Ihrem Anliegen
	per E-Mail an datenschutz[at]wikimedia.de.
</p>
