<p>Herzlichen Dank für Ihr Interesse an der Förderung von Wikipedia und Freiem Wissen!</p>
<p>Wir haben Ihnen soeben eine E-Mail an die von Ihnen angegebene E-Mail-Adresse gesendet. Bitte bestätigen Sie uns durch Klicken auf den darin enthaltenen Link Ihre Einwilligung zum Empfang von eMails. Die Anmeldung ist damit dann erfolgreich abgeschlossen. </p>
