<p>Herzlichen Dank für die großzügige Unterstützung</p>

<table class="donors">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Betrag</th>
    <th scope="col">Spendenkommentar</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Hendrik Klindworth</td>
      <td>65.536 €</td>
      <td>
        <p>Wikimedia setzt sich für den freien Zugang zu Wissen ein. Das ist heutzutage wichtiger als jemals zuvor. Daher unterstütze ich dieses Ziel gerne.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">AVM Computersysteme Vertriebs GmbH</td>
      <td>48.000 €</td>
      <td>
        <p>Wikipedia ist wichtig! Im Unternehmen erfahren wir täglich die Kraft des Wissens. Und wie wichtig es ist, dass Wissen im Unternehmen bekannt ist. Wikipedia ist ein fester Bestandteil des digitalen Lebens und essentiell für die Gesellschaft. Denn der freie Zugang zu Wissen ist ein großer Fortschritt. Wir unterstützen das Team von Wikipedia, das sich täglich engagiert für Qualität und Vielfalt.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">dSPACE GmbH</td>
      <td>28.000 €</td>
      <td>
        <p>Mir ist diese Informationsquelle wichtig, weil ich sie als weitgehend neutral ansehen kann und durch die Vielzahl von Autoren und Beobachtern ein hohes Maß an Informationsqualität gegeben ist.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">IGES Institut GmbH</td>
      <td>15.400 €</td>
      <td>
       <p>Wikipedia ist in meinen Augen eines der größten humanistischen Projekte auf der Welt, weil es hochwertiges Wissen ohne Hürden zugänglich macht. Wir freuen uns, Wikipedia bei seiner Mission unterstützen zu können. Prof. Dr. Bertram Häussler</p> 
      </td>
    </tr>

    <tr>
      <td scope="row">Michael Fernau</td>
      <td>12.200 €</td>
      <td>
        <p>Für mich ist die Wikipedia als "soziales Lexikon" eine wichtige Bereicherung von Recherchemöglichkeiten durch die Nutzung der vielfältigsten Kenntnisse der Gemeinschaft der Autorinnen und Autoren. Bei manchen Beiträgen enthalten zudem die Diskussions- und die Versionen-Seiten reiches Material zur kritischen Betrachtung der Artikelthemen und bisweilen auch für eigene Sozialstudien. Eine demokratische, frei zugängliche Wissensdatenbank, für die ich einen nicht abebbenden Zustrom an Artikeln auch von neu dazukommenden Fachleuten erhoffe. Großartig! Unverzichtbar! Verdient jede Unterstützung!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Solutio GmbH</td>
      <td>10.250 €</td>
      <td>
        <p>Unsere Mitarbeiter greifen gerne auf das gesammelte Wissen in Wikipedia zurück - kompakt und kompetent. Mit unserer Spende möchten wir einen Beitrag dazu leisten, dass die Enzyklopädie in ihrer jetzigen Form bestehen bleibt und auch in Zukunft weiter ausgebaut wird.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">TNG Technology Consulting GmbH</td>
      <td>9.762 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Biallo &amp; Team GmbH</td>
      <td>7.500 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">HMS Analytical Software GmbH</td>
      <td>6.000 €</td>
      <td>
        <p>Für uns als IT-Beratungshaus steht „Wissen“ absolut im Mittelpunkt. Diese Fokussierung gewährleistet erfolgreiche Projekte und zieht hochqualifizierte Bewerber an. Um uns dieses Wissen anzueignen, bedienen wir uns zahlreicher Informationsquellen – und natürlich ist Wikipedia als eine zuverlässige und ausgesprochen umfangreiche Wissensdatenbank ganz vorne mit dabei.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Barbara Mayer</td>
      <td>5.700 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">AUVESY GmbH &amp; Co KG</td>
      <td>5.550 €</td>
      <td>
        <p>Hinter Wikipedia stehen viele freiwillige, ehrenamtliche Helfer, die die Vielzahl an Artikeln und Einträgen koordinieren. Damit das enzyklopädische Angebot weiterhin frei verfügbar sein kann, unterstützen wir, die AUVESY GmbH &amp; Co KG, Wikipedia mit unserer Spende.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">cubeoffice GmbH &amp; Co.KG </td>
      <td>5.300 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">EMK Elektronik GmbH &amp; Co. KG</td>
      <td>5.250 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">esd electronic system design gmbh</td>
      <td>5.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Heidezüchtung Kramer</td>
      <td>5.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Anton Thimet</td>
      <td>5.000 €</td>
      <td>
        <p>In Zeiten "alternativer Fakten" und esoterischen Verirrungen soll meine Spende dazu beitragen, den objektiv messbaren Fakten und wissenschaftlich fundierten Erkenntnissen eine verlässliche Plattform zu bieten. Rettet die Aufklärung!!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Erck Rickmers</td>
      <td>5.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Nationales Institut für Wissenschaftskommunikation, NaWik gGmbH</td>
      <td>5.000 €</td>
      <td>
        <p>Die Vision des NaWik ist eine starke Verankerung von Wissenschaft in der Gesellschaft. Dazu zählt, dass die Menschen besser über wissenschaftliche Fragen informiert sind und wissenschaftliche Themen in der Öffentlichkeit sachkundig diskutiert werden. Voraussetzung dafür ist frei zugängliches und neutrales Wissen. Wir danken den Mitarbeitern von Wikimedia Deutschland für den täglichen Einsatz, Wissen zu Verfügung zu stellen und zu teilen. Diese wertvolle Arbeit unterstützen wir sehr gerne!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Eike Klindworth</td>
      <td>5.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Zahnarztpraxis Dres. Dajka</td>
      <td>4.100 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Klaus Detering</td>
      <td>4.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">IQC AG</td>
      <td>4.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Susanne L.</td>
      <td>4.000 €</td>
      <td>
        <p>Einen Riiiesen-Dank allen Wiki-Mitarbeiterinnen und –Mitarbeitern!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">OdiSys GmbH</td>
      <td>4.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Nicolas Woll / Designscape</td>
      <td>4.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Mietens &amp; Partner GmbH</td>
      <td>4.000 €</td>
      <td>
        <p>Für unsere Mitarbeiter gehört Wikipedia seit Jahren zu den wichtigsten Informationsquellen ihrer Recherchearbeit. Ein großes Dankeschön an das Wikipedia-Team und die unzähligen freien Autoren.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Agentur MASCARA GmbH</td>
      <td>3.800 €</td>
      <td>
        <p>Es gibt keinen Tag an dem ich nicht auf das gesammelte Wissen in Wikipedia zurückgreife. Mit dieser Spende will ich einfach „Danke“ sagen und dazu beitragen, dass der Zugang zu diesem Wissen weiterhin kostenlos bleibt. Soraya Müller, Geschäftsführerin</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Andreas Gall</td>
      <td>3.750 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Christoph Röllig</td>
      <td>3.700 €</td>
      <td>
        <p>Wissen ist unser größter Schatz. Wissen ist das wichtigste Fundament einer menschlichen und demokratischen Gesellschaft. Wissen ist das beste Mittel gegen Armut und Krankheit. Wissen für alle macht unsere Welt zu einem besseren Ort. Wissen für alle ist eine großartige Sache! Danke Wikipedia</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Lutz Dannenberg</td>
      <td>3.600 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Stephan Douteil Elektromaschinenbau</td>
      <td>3.500 €</td>
      <td>
        <p>Wir unterstützen Wikimedia, weil jeder die Chance haben soll, sich durch Wissen vor Fehlern zu schützen.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Cerona GmbH</td>
      <td>3.500 €</td>
      <td>
        <p>Wir nutzen den Inhalt von Wikipedia tagtäglich - quasi selbstverständlich. Mit unserer Spende möchten wir dazu beitragen, dass Wissen frei zugänglich bleibt.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Maximilian Scheidt</td>
      <td>3.500 €</td>
      <td>
         <p>Mein Beitrag für freies Wissen im Netz. Wikipedias Sammlung des Wissens der Menschheit ist unvergleichlich und von unschätzbarem Wert.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Ingeborg von Schlenk-Barnsdorf Stiftung</td>
      <td>3.500 €</td>
      <td>
        <p>Wikimedia bietet zuverlässig freien, uneingeschränkten Zugang zu Wissen. Gut recherchiert und immer aktuell steht dieses ohne Werbung global und immer zur Verfügung. Diese einzigartige Neutralität unterstützen wir gerne.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Franz Heim</td>
      <td>3.100 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Stefan Kamsties</td>
      <td>3.000 €</td>
      <td>
        <p>Ich halte frei und einfach verfügbares, geprüftes und belastbares Wissen für die großartigste Sache seit Erfindung der Aufklärung. Die Arbeit von Wikipedia verdient unbedingt Unterstützung. Vielen Dank, liebe Beitragende!</p>
      </td>
    </tr>    

    <tr>
      <td scope="row">ibb</td>
      <td>2.800 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Alexander Mankowsky</td>
      <td>2.825 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Dr. Christian Tamm</td>
      <td>2.550 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Jens Hagenberg</td>
      <td>2.420 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">PW AG Wirtschaftsprüfungsgesellschaft</td>
      <td>2.350 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">marmalade GmbH</td>
      <td>2.275 €</td>
      <td>
        <p>Frei zugängliches Wissen ist ein Privileg. Für uns als IT-Unternehmen mit starkem Fokus im Open Scource Bereich ist es eine Verpflichtung, dieses offene Prinzip der Sammlung und Teilung von Wissen und Informationen zu unterstützen und aufrecht zu erhalten. Vielen Dank für Euer Engagement!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Otto Braun</td>
      <td>2.250 €</td>
      <td>
        <p>Ohne frei zugängliches Wissen gibt es keine selbstbestimmte Gesellschaft: Darum unterstütze ich Wikipedia.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">proPlant GmbH</td>
      <td>2.200 €</td>
      <td>
        <p>Der Vorschlag kam aus unserer Mitarbeiterschaft, weil viele davon diese freie Online-Enzyklopädie zukünftig weiterhin nutzen möchten.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Radiologische Praxis am Feuersee in Stuttgart</td>
      <td>2.150 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Science March München</td>
      <td>2.060 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Autoteile Felder GmbH &amp; Co. KG</td>
      <td>2.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Dr. med. Cathleen Barth</td>
      <td>2.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Gerd Stotmeister</td>
      <td>2.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">VÖLKEL Threading Solutions</td>
      <td>2.000 €</td>
      <td>
        <p>Einfache Zugangsmöglichkeiten zu Wissen, ist eines der höchsten Güter, was eine Gesellschaft bieten kann.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">audius GmbH</td>
      <td>2.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Familie Frohmann</td>
      <td>1.750 €</td>
      <td>
        <p>wikipedia ist für uns eine instanz des wissens und der wahrheit; beides werte, die wir gerne unterstützen.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Avinway Consultants S. Asendorf</td>
      <td>1.600 €</td>
      <td>
        <p>Mit Wikipedia allen Menschen Wissen von hoher Qualität zugänglich zu machen ist ein großer Schritt in Richtung Chancengleichheit für alle Menschen. Dieses Projekt immer weiter zu entwickeln braucht viel Engagement der Aktiven, die meinen höchsten Respekt genießen.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Andreas und Sabine von Tiedemann und Freunde</td>
      <td>1.405 €</td>
      <td>
        <p>Wissen ist die Grundlage der Wahrheit. Und Wahrheit ist der einzige Grund auf den man dauerhaft bauen kann. Dem dient Wikipedia in einer Weise, die für jeden zugänglich ist und das ist unbedingt unterstützenswert.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Jürgen Reckin</td>
      <td>1.300 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Aegidius Schuster</td>
      <td>1.300 €</td>
      <td>
        <p>Alles kostenlos - alles umsonst - war gestern.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Familie Naumann</td>
      <td>1.300 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Dr. Richard Hoffmann</td>
      <td>1.300 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Reinmuth Galvanik GmbH</td>
      <td>1.250 €</td>
      <td>
        <p>Die Welt wird immer komplexer. Wikipedia hilft im Alltag schnell Hintergrundwissen zu aktuellen Fragestellungen zu finden. Das ist ein unbezahlbarer Schatz beruflich wie privat.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">HomeCompany GbR</td>
      <td>1.200 €</td>
      <td>
        <p>Mit bestem Dank an die Organisatoren und Autoren von Wikipedia! Die HomeCompany-Agenturen Bochum, Dortmund, Essen und Wuppertal.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">top concepts GmbH</td>
      <td>1.200 €</td>
      <td>
        <p>Wissen ist wichtig! Das Team der Wikipedia bündelt Wissen und stellt es uns und der ganzen Welt zur Verfügung. Das ist großartig!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">AGORA direct Ltd.</td>
      <td>1.100 €</td>
      <td>
        <p>Goethe spricht: "Was wir wissen, ist ein Tropfen; was wir nicht wissen, ein Ozean". Damit auch unser Ozean täglich kleiner wird, ist uns die Wikipediaunterstützung ein Bedürfnis. Wir glauben, dass Wissen die Basis für Freiheit und Toleranz ist.</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Prof. Rethmeier</td>
      <td>1.075 €</td>
      <td>
        <p>Seit WIKIPEDIA ist Wissen unkompliziert für jede(n) verfügbar. Durch die transparente Diskussion der Inhalte ist das fachliche Niveau quasi wissenschaftlich!</p>
      </td>
    </tr>

    <tr>
      <td scope="row">Matthias Ramlow</td>
      <td>1.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">OxyCare GmbH Sauerstoff Beatmungstechnik</td>
      <td>1.000 €</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">Mobile Appliance GmbH</td>
      <td>Betrag anonym</td>
      <td></td>
    </tr>

    <tr>
      <td scope="row">ORDIX AG</td>
      <td>Betrag anonym</td>
      <td></td>
    </tr>

  </tbody>
</table>
