<p>
  <img src="/resources/de_DE/WMDE-application-of-funds-diagram-2018.png" alt="Diagramm Mittelverwendung 2017" />
</p>

<p>
  <img src="/resources/de_DE/WMDE-application-of-funds-2018.png" alt="Mittelverwendung 2017" />
</p>

<hr/>

<p>
  <a href="https://meta.wikimedia.org/wiki/Wikimedia_Foundation_Annual_Plan/2017-2018/Final">Erfahren Sie mehr zum Jahresplan<br />der Wikimedia Foundation</a>
  <a href="https://meta.wikimedia.org/wiki/Wikimedia_Deutschland/Planung_2018">Erfahren Sie mehr zum Jahresplan<br />von Wikimedia Deutschland</a>
</p>
