
@import "common/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "components/fonts";
@import "components/font_opensans";
@import "common/themify";
@import "common/mixins";
@import "common/base";
@import "components/menu";
@import "components/paginator";
@import "components/buttons";
@import "components/forms";
@import "components/state-overview";
@import "layouts/header";
@import "layouts/introduction";
@import "layouts/footer";
@import "layouts/landing";
@import "layouts/membership";
@import "layouts/pages";
@import "layouts/borders-system";

// @fixme Remove when all pages set the correct page_identifier (see Base_Layout.html.twig)
.page-uncustomized .header h1::after {
	content: '@todo';
	color: fuchsia;
	font-size: 20px;
}
