/* CSS variances for A/B tests */

@import "main";


.field {
  &-grp {

    &.valid {

      &:after {
        content: $icon-done;
        position: absolute;
        right: 12px;
        top: 10px;
        font-family: 'icomoonwikimedia';
        font-size: 20px;
      }

    }

  }
}

.h1 {
  font-size: 16px;
}

.donation-amount h2,
.donation-payment-method h2,
.donation-data h2 {
  display: none;
}