html {
    overflow-x: hidden;
}
body {
    font-weight: 400;
	font-family: $font-main;
	line-height: 24px;
	font-size: 16px;
	overflow-x: hidden;
	@include bkp(sm) {
		font-size: 14px;
	}
	@include bkp(md) {
		font-size: 12px;
	}
}

section {
    outline: none;
}

img {
	width: 100%;
}

a {
	color: $text-color;
	transition: all 0.2s;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: $text-color;
	}
	&.link {
		@include themify($themes) {
			color: themed('brandPrimary');
		}
	}
}

h1, .h1 {
	font-size: 16px;
	line-height: 32px;
}

h2, .h2 {
	font-size: 24px;
	line-height: 32px;
}

h3, .h3 {
	font-size: inherit;
	line-height: inherit;
	font-weight: 600;
	margin: 30px 0 20px;
}

p, legend {

	border-bottom: none;

}
ul {
	margin: 0;
	padding: 0;
}

main {
	padding-top: 45px;
	@include bkp(md) {
		padding-top: 85px;
	}
}

[class^="icon-"] {
    @include bkp(sm) {
        font-size: 22px;
    }
    @include bkp(md) {
        font-size: 20px;
    }
}

input[type="text"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.container {
	max-width: 310px;
	@include bkp(xs) {
		max-width: $screen-xs;
	}
	@include bkp(sm) {
		max-width: $screen-sm;
	}
	@include bkp(md) {
		max-width: $screen-md;
	}
	@include bkp(lg) {
		max-width: $screen-md;
	}
}

.no-gutter > [class*='col-'], .no-gutter {
	 padding-right:0;
	 padding-left:0;
 }
.no-gutter-left {
	padding-left: 0;
}
.padding-right-4 {
	padding-right: 0;
	@include bkp(sm) {
		padding-right: 4%;
	}
}

.container-no-gutter {
	padding-right:0;
	padding-left:0;
}

.col-xs-offset-right-12 {
	margin-right: 100%;
}
.col-xs-offset-right-11 {
	margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
	margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
	margin-right: 75%;
}
.col-xs-offset-right-8 {
	margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
	margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
	margin-right: 50%;
}
.col-xs-offset-right-5 {
	margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
	margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
	margin-right: 25%;
}
.col-xs-offset-right-2 {
	margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
	margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
	margin-right: 0;
}
@media (min-width: 648px) {
	.col-sm-offset-right-12 {
		margin-right: 100%;
	}
	.col-sm-offset-right-11 {
		margin-right: 91.66666667%;
	}
	.col-sm-offset-right-10 {
		margin-right: 83.33333333%;
	}
	.col-sm-offset-right-9 {
		margin-right: 75%;
	}
	.col-sm-offset-right-8 {
		margin-right: 66.66666667%;
	}
	.col-sm-offset-right-7 {
		margin-right: 58.33333333%;
	}
	.col-sm-offset-right-6 {
		margin-right: 50%;
	}
	.col-sm-offset-right-5 {
		margin-right: 41.66666667%;
	}
	.col-sm-offset-right-4 {
		margin-right: 33.33333333%;
	}
	.col-sm-offset-right-3 {
		margin-right: 25%;
	}
	.col-sm-offset-right-2 {
		margin-right: 16.66666667%;
	}
	.col-sm-offset-right-1 {
		margin-right: 8.33333333%;
	}
	.col-sm-offset-right-0 {
		margin-right: 0;
	}
}
@media (min-width: 942px) {
	.col-md-offset-right-12 {
		margin-right: 100%;
	}
	.col-md-offset-right-11 {
		margin-right: 91.66666667%;
	}
	.col-md-offset-right-10 {
		margin-right: 83.33333333%;
	}
	.col-md-offset-right-9 {
		margin-right: 75%;
	}
	.col-md-offset-right-8 {
		margin-right: 66.66666667%;
	}
	.col-md-offset-right-7 {
		margin-right: 58.33333333%;
	}
	.col-md-offset-right-6 {
		margin-right: 50%;
	}
	.col-md-offset-right-5 {
		margin-right: 41.66666667%;
	}
	.col-md-offset-right-4 {
		margin-right: 33.33333333%;
	}
	.col-md-offset-right-3 {
		margin-right: 25%;
	}
	.col-md-offset-right-2 {
		margin-right: 16.66666667%;
	}
	.col-md-offset-right-1 {
		margin-right: 8.33333333%;
	}
	.col-md-offset-right-0 {
		margin-right: 0;
	}
}
@media (min-width: 1200px) {
	.col-lg-offset-right-12 {
		margin-right: 100%;
	}
	.col-lg-offset-right-11 {
		margin-right: 91.66666667%;
	}
	.col-lg-offset-right-10 {
		margin-right: 83.33333333%;
	}
	.col-lg-offset-right-9 {
		margin-right: 75%;
	}
	.col-lg-offset-right-8 {
		margin-right: 66.66666667%;
	}
	.col-lg-offset-right-7 {
		margin-right: 58.33333333%;
	}
	.col-lg-offset-right-6 {
		margin-right: 50%;
	}
	.col-lg-offset-right-5 {
		margin-right: 41.66666667%;
	}
	.col-lg-offset-right-4 {
		margin-right: 33.33333333%;
	}
	.col-lg-offset-right-3 {
		margin-right: 25%;
	}
	.col-lg-offset-right-2 {
		margin-right: 16.66666667%;
	}
	.col-lg-offset-right-1 {
		margin-right: 8.33333333%;
	}
	.col-lg-offset-right-0 {
		margin-right: 0;
	}
}
