
/*
 * Theme definitions
 */

$themes: (
		donation: (
				brandPrimary: #00adee,
				brandPrimaryDark: #0C69A3,
				fieldSelected: #ecf7fd,
				fieldNormal: #cfdbe2,
				//fieldSelectedBkColor: #ecf7fd,
				border1pxPrimary: 1px solid #00adee,
				border2pxPrimary: 2px solid #00adee,
				border2pxfieldSelected: 2px solid #ecf7fd,
				border2pxError: 2px solid #812923,
				border2pxfieldNormal: 2px solid #cfdbe2,
				borderColorTrianglePrimary: #00adee transparent transparent transparent,
				brandError: #812923,
				brandErrorRgba: rgba(129, 41, 35, 0.2),
				border1pxGrayLight: 1px solid #ddd,
				border2pxGrayLight: 2px solid #ddd,
				borderNone: none,
		),
		membership: (
				brandPrimary: #69c159,
				brandPrimaryDark: #4E9242,
				fieldSelected: #CDF1C7,
				fieldNormal: #C6DBC3,
				//fieldSelectedBkColor: #CDF1C7,
				border1pxPrimary: 1px solid #69c159,
				border2pxPrimary: 2px solid #69c159,
				border2pxfieldSelected: 2px solid #CDF1C7,
				border2pxError: 2px solid #812923,
				border2pxfieldNormal: 2px solid #C6DBC3,
				borderColorTrianglePrimary: #69c159 transparent transparent transparent,
				brandError: #812923,
				brandErrorRgba: rgba(129, 41, 35, 0.2),
				border1pxGrayLight: 1px solid #ddd,
				border2pxGrayLight: 2px solid #ddd,
				borderNone: none,
		),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
