@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5ky9b3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5ky9b3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5ky9b3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5ky9b3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5ky9b3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-repeat_one {
  &:before {
    content: $icon-repeat_one; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-mode_edit {
  &:before {
    content: $icon-mode_edit; 
  }
}
.icon-keyboard_arrow_down {
  &:before {
    content: $icon-keyboard_arrow_down; 
  }
}
.icon-keyboard_arrow_left {
  &:before {
    content: $icon-keyboard_arrow_left; 
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: $icon-keyboard_arrow_right; 
  }
}
.icon-keyboard_arrow_up {
  &:before {
    content: $icon-keyboard_arrow_up; 
  }
}
.icon-flash_on {
  &:before {
    content: $icon-flash_on; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-account_circle {
  &:before {
    content: $icon-account_circle; 
  }
}
.icon-done {
  &:before {
    content: $icon-done; 
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-visibility {
  &:before {
    content: $icon-visibility; 
  }
}
.icon-visibility_off {
  &:before {
    content: $icon-visibility_off; 
  }
}
.icon-work {
  &:before {
    content: $icon-work; 
  }
}
.icon-payment-sofort {
  &:before {
    content: $icon-payment-sofort; 
  }
}
.icon-new-tab {
  &:before {
    content: $icon-new-tab; 
  }
}
.icon-payment-credit_card {
  &:before {
    content: $icon-payment-credit_card; 
  }
}
.icon-payment-debit {
  &:before {
    content: $icon-payment-debit; 
  }
}
.icon-payment-transfer {
  &:before {
    content: $icon-payment-transfer; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-payment-paypal {
  &:before {
    content: $icon-payment-paypal; 
  }
}
.icon-repeat_1 {
  &:before {
    content: $icon-repeat_1; 
  }
}
.icon-repeat_3 {
  &:before {
    content: $icon-repeat_3; 
  }
}
.icon-repeat_6 {
  &:before {
    content: $icon-repeat_6; 
  }
}
.icon-repeat_12 {
  &:before {
    content: $icon-repeat_12; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-unique {
  &:before {
    content: $icon-unique; 
  }
}
.icon-envelop {
  &:before {
    content: $icon-envelop; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}

