$icomoon-font-path: "fonts" !default;

$icon-payment-sofort: "\e900";
$icon-error: "\e000";
$icon-repeat_one: "\e041";
$icon-comment: "\e0b9";
$icon-phone: "\e0cd";
$icon-mode_edit: "\e254";
$icon-keyboard_arrow_down: "\e313";
$icon-keyboard_arrow_left: "\e314";
$icon-keyboard_arrow_right: "\e315";
$icon-keyboard_arrow_up: "\e316";
$icon-flash_on: "\e3e7";
$icon-close: "\e5cd";
$icon-menu: "\e5d2";
$icon-account_circle: "\e853";
$icon-done: "\e876";
$icon-favorite: "\e87d";
$icon-lock: "\e897";
$icon-visibility: "\e8f4";
$icon-visibility_off: "\e8f5";
$icon-work: "\e8f9";
$icon-payment-credit_card: "\e901";
$icon-payment-debit: "\e902";
$icon-payment-transfer: "\e903";
$icon-facebook: "\e905";
$icon-payment-paypal: "\e906";
$icon-repeat_1: "\e907";
$icon-repeat_3: "\e908";
$icon-repeat_6: "\e909";
$icon-repeat_12: "\e90a";
$icon-twitter: "\e90b";
$icon-unique: "\e90c";
