# Configuration file for defining A/B test campaigns
campaigns:
    #
    # Example for a campaign:
    # skins:
    #    description: Test different skins
    #    reference: "https://phabricator.wikimedia.org/T123"
    #    start: "2017-10-01"
    #    end: "2019-12-31"
    #    buckets:
    #        - "laika"
    #    default_bucket: "laika"
    #
    # Start each campaign with a unique key, that is "campaign name". Then add the following keys:
    # description: (optional) What this campaign is about
    # reference: (optional) URL where you can read more about it, e.g. Phabricator ticket. You need to enclose the URL in quotes
    # start: Start date, in either YYYY-MM-DD or YYYY-MM-DD HH:MM:SS format. If no time is specified, it will be 0:00:00. Timezone is set in app config.
    # end: (Optional) End date, in either YYYY-MM-DD or YYYY-MM-DD HH:MM:SS format. If no time is specified, it will be 23:59:59 of that day. Timezone is set in app config.
    # active: Date-independent toggle for test
    # buckets: List of bucket names
    # default_bucket: used bucket when campaign is not active. Must be listed in buckets.
    # url_key: URL parameter key used for assigning buckets to people
    # param_only: (Optional) Set to true if the campaign should return the default bucket when the url key is not in a request. This is for A/B tests triggered by banners

    address_pages:
      description: Test different iterations of address pages
      reference: "https://phabricator.wikimedia.org/T366576"
      start: "2024-07-01"
      end: "2026-02-28"
      buckets:
        - "legacy"
        - "test_02_no_anon"
        - "test_03_compact_no_anon"
      default_bucket: "legacy"
      url_key: ap
      active: true
      param_only: true

    membership_form:
      description: Test different iterations of the membership form
      reference: "https://phabricator.wikimedia.org/T411619"
      start: "2025-12-15"
      end: "2026-02-28"
      buckets:
        - "legacy"
        - "test_01_more_info"
      default_bucket: "legacy"
      url_key: mf
      active: true
      param_only: true
