# Configuration file for defining A/B test campaigns
campaigns:
    #
    # Example for a campaign:
    # skins:
    #    description: Test different skins
    #    reference: "https://phabricator.wikimedia.org/T123"
    #    start: "2017-10-01"
    #    end: "2019-12-31"
    #    buckets:
    #        - "laika"
    #    default_bucket: "laika"
    #
    # Start each campaign with a unique key, that is "campaign name". Then add the following keys:
    # description: (optional) What this campaign is about
    # reference: (optional) URL where you can read more about it, e.g. Phabricator ticket. You need to enclose the URL in quotes
    # start: Start date, in either YYYY-MM-DD or YYYY-MM-DD HH:MM:SS format. If no time is specified, it will be 0:00:00. Timezone is set in app config.
    # end: (Optional) End date, in either YYYY-MM-DD or YYYY-MM-DD HH:MM:SS format. If no time is specified, it will be 23:59:59 of that day. Timezone is set in app config.
    # active: Date-independent toggle for test
    # buckets: List of bucket names
    # default_bucket: used bucket when campaign is not active. Must be listed in buckets.
    # url_key: URL parameter key used for assigning buckets to people
    # param_only: (Optional) Set to true if the campaign should return the default bucket when the url key is not in a request. This is for A/B tests triggered by banners

    address_type:
      description: Test if the address type not being preselected changes the user behaviour of entering nonsense address data.
      reference: "https://phabricator.wikimedia.org/T247228"
      start: "2020-09-15"
      end: "2020-11-02"
      buckets:
        - "preselection"
        - "no_preselection"
      default_bucket: "no_preselection"
      url_key: addrpre
      active: false
      param_only: false

    address_provision_options:
      description: Test adding provisional address type options before choosing a donor type. (Adds "e-mail only" option)
      reference: "https://phabricator.wikimedia.org/T260023"
      start: "2020-10-01"
      end: "2020-12-31"
      buckets:
        - "old_address_type_options"
        - "provisional_address_options"
      default_bucket: "old_address_type_options"
      url_key: provadd
      active: true
      param_only: true

    confirmation_page_layout:
      description: Testing a new layout for the confirmation page
      reference: "https://phabricator.wikimedia.org/T268649"
      start: "2021-02-10"
      end: "2021-12-31"
      buckets:
          - "old_layout"
          - "new_layout"
      default_bucket: "new_layout"
      url_key: confirmation
      active: true
      param_only: false

    encryption_hint:
      description: Testing users seeing/not seeing the hint about encrypted connection when they submit a form.
      reference: "https://phabricator.wikimedia.org/T286446"
      start: "2021-08-02"
      end: "2021-08-20"
      buckets:
        - "visible"
        - "not_visible"
      default_bucket: "visible"
      url_key: enh
      active: true
      param_only: true

    address_type_steps:
      description: Test different texts for the multistep address type
      reference: "https://phabricator.wikimedia.org/T291362"
      start: "2021-10-07"
      end: "2021-12-31"
      buckets:
        - "direct"
        - "multistep"
        - "multistep_var"
      default_bucket: "direct"
      url_key: ast
      active: true
      param_only: true