# Configuration file for defining A/B test campaigns
campaigns:
    #
    # Example for a campaign:
    # skins:
    #    description: Test different skins
    #    reference: "https://phabricator.wikimedia.org/T123"
    #    start: "2017-10-01"
    #    end: "2019-12-31"
    #    buckets:
    #        - "laika"
    #    default_bucket: "laika"
    #
    # Start each campaign with a unique key, that is "campaign name". Then add the following keys:
    # description: (optional) What this campaign is about
    # reference: (optional) URL where you can read more about it, e.g. Phabricator ticket. You need to enclose the URL in quotes
    # start: Start date, in either YYYY-MM-DD or YYYY-MM-DD HH:MM:SS format. If no time is specified, it will be 0:00:00. Timezone is set in app config.
    # end: (Optional) End date, in either YYYY-MM-DD or YYYY-MM-DD HH:MM:SS format. If no time is specified, it will be 23:59:59 of that day. Timezone is set in app config.
    # active: Date-independent toggle for test
    # buckets: List of bucket names
    # default_bucket: used bucket when campaign is not active. Must be listed in buckets.
    # url_key: URL parameter key used for assigning buckets to people
    # param_only: (Optional) Set to true if the campaign should return the default bucket when the url key is not in a request. This is for A/B tests triggered by banners


    address_type_steps:
      description: Test different kinds of address options, ask user whether they want receipt or just confirmation
      reference: "https://phabricator.wikimedia.org/T342206"
      start: "2023-08-08" # Banners start at 2023-08-10, earlier date is for testing the banners
      end: "2023-12-31"
      buckets:
        - "direct"
        - "preselect"
        - "full_or_email"
      default_bucket: "direct"
      url_key: ast
      active: true
      param_only: true

    membership_intervals:
      description: Test offering only monthly and yearly payments in the membership form
      reference: "https://phabricator.wikimedia.org/T326300"
      start: "2023-01-05"
      end: "2023-12-31"
      buckets:
        - "all_intervals"
        - "some_intervals"
      default_bucket: "all_intervals"
      url_key: mbi
      active: true
      param_only: true

    address_pages:
      description: Test different iterations of address pages
      reference: "https://phabricator.wikimedia.org/T345528"
      start: "2023-09-12"
      end: "2023-12-31"
      buckets:
        - "legacy"
        - "test_01"
      default_bucket: "legacy"
      url_key: ap
      active: true
      param_only: true
