{% extends 'Base_Layout.html.twig' %}
{% set page_works_without_js = true %}
{% set title = page_id|trans({}, 'pageTitles') %}
{% set content = web_content("pages/#{page_id}") %}

{% block main %}
	<div id="app"
		data-page-id="{$ page_id $}"
		data-page-title="{$ title | e('html_attr') $}"
		data-page-content="{$ content | e('html_attr') | raw $}"
		data-application-vars="{$ _context|json_encode|e('html_attr') $}"
		data-application-messages="{$ translations()|e('html_attr') $}"
		data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}">
	</div>
	<noscript>
		<h2>{$ title $}</h2>
		{$ content $}
	</noscript>
{% endblock %}

{% block scripts %}
	{$ parent() $}
	<script src="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/js/static_page.js"></script>
{% endblock %}