/* open-sans-300 - greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Light'), local('OpenSans-Light'),
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-300.woff') format('woff'), /* Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-600.eot'); /* IE9 Compat Modes */
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-600.woff') format('woff'), /* Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-700.woff') format('woff'), /* Modern Browsers */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('#{$opensans-font-path}/open-sans-v15-greek-ext_latin_latin-ext_greek_cyrillic-ext_vietnamese_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
