{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "chrome >= 48",
            "firefox >= 44",
            "safari >= 8",
            "ie 11"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "stage-2"
  ]
}