{
  "extends": "wikimedia",
  "plugins": [
    "html"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "spread": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-parens": [ "error", "as-needed" ],
    "one-var": [ "error", { "var": "always", "let": "never", "const": "never" } ],
    "semi-style": 0,
    "max-len": [ "warn", 185 ]
  }
}
