<p>
Vielen Dank f체r die Verifizierung Ihrer E-Mailadresse!
</p>

<p>
Wir haben Ihre E-Mailadresse in unserem System gespeichert und soeben eine Best채tigungsemail an Sie
versandt.
</p>

<p>
Herzlichen Dank f체r Ihre Bereitschaft uns zu unterst체tzen!
</p>
