@@include('./head.html', {"title": "Home", "id": "donation-cancel", "themeclass": "donation", "classes": "donation-cancel others"})

@@include('./header.html')
<main class="cancellation">
	<div class="container">
		<div class="row">
			<div class="introduction col-xs-12 col-sm-10 col-md-8">
                <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots if really needed -->
                <h2 class="sr-only">Cancellation page</h2>
                <p class="h1">Ihre Spende wurde storniert.</p>
                <p class="h2">Der spendenvorgang mit der Nummer <span class="strong field">XXXXXXX</span> wurde storniert. Wenn Sie noch Fragen haben oder uns auf Probleme hinweisen mochten, wenden Sie sich bitte <strong>spenden@wikimedia.de</strong></p>
			</div>
			<div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
				<ul class="list-menu link-reverse link-back list-unstyled">
					<li><a href="#" class="">Zuruck zur spendenseite</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
@@include('./footer.html')
