@@include('./head.html', {"title": "Spendenkommentare", "id": "comments-list", "themeclass": "donation", "classes": "comments-list others"})
@@include('./header.html')
<main>
    <!-- nav content filled with paginator-sidebar via css / dont delete -->
    <nav class="paginator paginator-top col-xs-12">
    </nav>
    <div class="container">
        <div class="row">
			<div class="introduction col-xs-12 col-sm-7 col-md-8 clearfix">
				<h2>Spendenkommentare</h2>
				<p class="subtitle">
					Nachfolgend finden Sie eine Übersicht der letzten Spendenkommentare. Die neuesten Einträge sind auch
					als RSS-Feed verfügbar.</p>
			</div>
			<nav class="paginator paginator-sidebar col-md-4 clearfix">
				<div class="container">
					<div class="row">
						<div class="pages-wrap col-xs-12 col-sm-5 col-sm-offset-7">
                            <span class="controls prev"><a href="#"><i class="icon-keyboard_arrow_left"></i><span
									class="sr-only">Previous page of comments</span></a></span>
							<ul class="page-numbers list-inline list-unstyled">
								<li class="selected">
									<span class="current">1</span>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
							</ul>
                            <span class="controls next"><a href="#"><span class="sr-only">Next page of comments</span><i
									class="icon-keyboard_arrow_right"></i></a></span>
						</div>
					</div>

				</div>
			</nav>

			<div class="content col-xs-12 col-sm-6 col-md-8">
                <div class="wrap-items">
                <article class="comment-item">
                    <span class="field-amount-name">25 € von Alfred Kümmler</span>
                    <span class="date-time">25/05/2017 | 16:20 Uhr</span>
                    <p>Ich nutze die Plattform um Wissen "nachzuschlagen". Der mir gebotene Wissensinhalt, ist für mich
                        ein Wert den ich schätze, auch weil er gut umschrieben wird. Meine Spende soll denen zu Gute
                        kommen die sich mit ihren Beiträgen zu dem Ausbau der Plattform beteiligen, sowie den Menschen
                        die es ermöglichen den Dienst nutzbar zu machen.</p>
                </article>

                <article class="comment-item">
                    <span class="field-amount-name">BETRAG € von Vorname Name</span>
                    <span class="date-time">Datum | 00:00 Uhr</span>
                    <p>Ich nutze die Plattform um Wissen "nachzuschlagen". Der mir gebotene Wissensinhalt, ist für mich
                        ein Wert den ich schätze, auch weil er gut umschrieben wird. Meine Spende soll denen zu Gute
                        kommen die sich mit ihren Beiträgen zu dem Ausbau der Plattform beteiligen, sowie den Menschen
                        die es ermöglichen den Dienst nutzbar zu machen.</p>
                </article>
                <article class="comment-item">
                    <span class="field-amount-name">BETRAG € von Vorname Name</span>
                    <span class="date-time">Datum | 00:00 Uhr</span>
                    <p>Ich nutze die Plattform um Wissen "nachzuschlagen". Der mir gebotene Wissensinhalt, ist für mich
                        ein Wert den ich schätze, auch weil er gut umschrieben wird. Meine Spende soll denen zu Gute
                        kommen die sich mit ihren Beiträgen zu dem Ausbau der Plattform beteiligen, sowie den Menschen
                        die es ermöglichen den Dienst nutzbar zu machen.</p>
                </article>
                    </div>
            </div>

        </div>
        <div class="row">
            <div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
                <ul class="list-menu link-reverse list-unstyled">
                    <li><a href="index.html" class="">Zuruck zur spendenseite</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
@@include('./footer.html')
