@@include('./head.html', {"title": "Contact sent", "id": "donation-contact-sent", "themeclass": "donation", "classes": "donation-contact-sent "})
@@include('./header.html')
<main class="contact">
    <div class="container">
        <div class="row">
            <div class="content col-xs-12 col-md-9">
                <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots -->
                <h2 class="sr-only">Kontakt thanks</h2>
                <p class="h2">Vielen Dank fur lhre Nachricht</p>
            </div>
            <ul class="list-menu link-reverse list-unstyled  col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">              <li><a href="#" class="">Zuruck zur spendenseite</a></li>
            </ul>
        </div>
    </div>
</main>
@@include('./footer.html')
