@@include('./head.html', {"title": "Data Protection", "id": "data-protection", "themeclass": "donation", "classes": "data-protection others"})

@@include('./header.html')
<main>
	<div class="container">
		<div class="row">
			<div class="content col-xs-12 col-sm-10 col-md-8">

				<h2>Datenschutz</h2>
				<h3>Erhebung und Verarbeitung personenbezogener Spenderdaten</h3>
				<p>Die Wikimedia F&ouml;rdergesellschaft erhebt und verarbeitet verschiedene personenbezogene Spenderdaten, darunter Spendenh&ouml;he, Adresse, Telefonnummer, Spendenkommentar und E-Mail-Adresse. Steuerrechtliche Vorgaben verlangen, dass wir Kontaktdaten und Spendensummen vorhalten.</p>
				<p>Wir werden personenbezogene Spenderdaten nicht ver&ouml;ffentlichen, verkaufen, vermieten oder anderweitig anbieten, es sei denn, der Spender hat dies erlaubt, etwa zur Ver&ouml;ffentlichung im Spendenticker, oder dies ist aufgrund der anwendbaren gesetzlichen Bestimmungen erforderlich und zul&auml;ssig. Sollte ein Spender nicht ausdr&uuml;cklich der Ver&ouml;ffentlichung seiner Spenderdaten zugestimmt haben, werden die Daten nach Ma&szlig;gabe der gesetzlichen Vorschriften des Datenschutzes vertraulich behandelt. Kontaktdaten von Spendern werden vor allem zu den folgenden Zwecken verwendet:</p>
				<p>Zustellung von Zuwendungsbest&auml;tigungen</p>
				<p>Danksagungen f&uuml;r einzelne Spenden</p>
				<p>auf ausdr&uuml;cklichen Wunsch des Spenders hin: Versand von Informationen &uuml;ber aktuelle und zuk&uuml;nftige Aktivit&auml;ten von Wikimedia, Versand von Spendenerinnerungen per eMail</p>
				<p>Interne Auswertung und Buchhaltung</p>
				<p>Mitteilungen an Finanzbeh&ouml;rden im Rahmen geltenden Rechts</p>
				<p>Mitteilungen an Spender &uuml;ber &Auml;nderungen an dieser Richtlinie</p>


				<h3>&Uuml;bermittlung personenbezogener Daten an Dritte</h3>
				<p>Zur Erf&uuml;llung unserer Aufgaben (Versand von Zuwendungsbest&auml;tigungen und Informationen) arbeiten wir mit externen Auftragnehmern zusammen, die in unserem Auftrag f&uuml;r diese Zwecke gegebenenfalls personenbezogene Daten verarbeiten. Diese Dienstleister sind vertraglich durch die Wikimedia F&ouml;rdergesellschaft gebunden und d&uuml;rfen personenbezogene Daten, die sie in diesem Zusammenhang erhalten, nur f&uuml;r die jeweils vereinbarten Zwecke verwenden.</p>
				<h3>Erhebung und Verarbeitung personenbezogener Besucherdaten</h3>
				<p>Personenbezogene Daten werden auf dieser Webseite im technisch notwendigem und zweckm&auml;&szlig;igem Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft. Im Folgenden erhalten Sie einen &Uuml;berblick &uuml;ber die von uns im Rahmen dieser Website erhobenen Nutzungsdaten.</p>
				<p>Log-Files: Bei der Nutzung dieses Angebots werden die von Ihrem Browser an den Server &uuml;bermittelten Daten erfasst und gespeichert. Dies umfasst &uuml;blicherweise Informationen &uuml;ber den Typ und die Version des von Ihnen verwendeten Browsers, das verwendete Betriebssystem, die Referrer URL (die Webseite, von der aus Sie zu dieser Website gelangt sind), den Hostnamen des zugreifenden Rechners (die IP-Adresse) sowie die Uhrzeit der Serveranfrage. Als Daten werden diese Informationen ausschlie&szlig;lich f&uuml;r statistische Zwecke und zur Optimierung unseres Internet-Angebots verwendet. Sie k&ouml;nnen der Nutzung dieser Daten per Email, Fax, Brief oder Telefon widersprechen.</p>
				<p>Cookies: Diese Website verwendet an mehreren Stellen Cookies. Cookies sind kleine Textdateien, die Ihr Browser speichert und die dazu dienen, die Benutzung einer Website einfacher, effektiver und sicherer zu machen. Cookies richten auf Ihrem Rechner keinen Schaden an, nehmen minimalen Speicherplatz in Anspruch und enthalten keine Viren.</p>
				<h3>Wikimedia Donor Privacy Policy</h3>
				<p>Als Wikimedia-L&auml;nderverein unterst&uuml;tzen und befolgen wir die Wikimedia Donor Privacy Policy. Hier k&ouml;nnen Sie sich die Datenschutzerkl&auml;rung der Wikimedia Stiftung ansehen.</p>
				<p>Verfahrensverzeichnis</p>
				<p>Verantwortliche Stelle</p>
				<p>Gemeinn&uuml;tzige Wikimedia F&ouml;rdergesellschaft mbH</p>
				<p>Tempelhofer Ufer 23-24</p>
				<p>10963 Berlin</p>
				<p>Gesch&auml;ftsf&uuml;hrer</p>
				<p>Abraham Taherivand</p>
				<p>Leiter der Datenverarbeitung der verantwortlichen Stelle</p>
				<p>Till Mletzko</p>
				<p>Externer Datenschutzbeauftragter Rechtsanwalt</p>
				<p>Thorsten Feldmann</p>
				<p>Zweckbestimmungen der Datenerhebung, -verarbeitung oder &ndash;nutzung</p>
				<p>Entgegennahme von Spenden von nat&uuml;rlichen und juristischen Personen zum Zwecke der F&ouml;rderung freien Wissens, zu diesem Zweck Verarbeitung der Spenderdaten, damit verbundene Nebenzwecke. Nebenzwecke sind begleitende oder unterst&uuml;tzende Funktionen wie im Wesentlichen die Personal-, Vermittler-, Lieferanten- und Dienstleisterverwaltung. Zu den Verarbeitungszwecken geh&ouml;ren insbesondere auch die Zustellung von Zuwendungsbest&auml;tigungen, Danksagungen f&uuml;r einzelne Spenden; auf ausdr&uuml;cklichen Wunsch des Spenders hin: Versand von Informationen &uuml;ber aktuelle und zuk&uuml;nftige Aktivit&auml;ten; interne Auswertung und Buchhaltung; Mitteilungen an Finanzbeh&ouml;rden im Rahmen geltenden Rechts.</p>
				<p>Betroffene Personengruppen und Daten oder Datenkategorien</p>
				<p>Es werden zu folgenden Gruppen zur Erf&uuml;llung der oben genannten Zwecke im Wesentlichen die im Folgenden aufgef&uuml;hrten personenbezogenen Daten bzw. Datenkategorien erhoben, verarbeitet und genutzt:</p>
				<p>Spender: Name, Adressdaten, Spendenkommentar, E-Mail-Adresse , Bankverbindung, Telefonnummer, Geburtsdatum, Wikipedia-Benutzername</p>
				<p>Mitarbeiter, Auszubildende, Praktikanten, Ruhest&auml;ndler, fr&uuml;here Mitarbeiter und Unterhaltsberechtigte: Vertrags-, Stamm- und Abrechnungsdaten (Angaben zu Privat- und Gesch&auml;ftsadresse, T&auml;tigkeitsbereich, Ge-haltszahlungen, Name und Alter von Angeh&ouml;rigen soweit f&uuml;r Sozialleistungen relevant, Lohnsteuerdaten, Bankverbindungsdaten, dem Mitarbeiter anvertrauten Verm&ouml;gensgegenst&auml;nde); Daten zur Personalverwaltung und - steuerung; Arbeitszeiterfassungsdaten sowie Zugangskontrolldaten; Terminverwaltungsdaten; Daten zur Kommunikation sowie zur Abwicklung und Kontrolle von Transaktionen wie der technischen Systeme; Notfallkontaktdaten zu vom Mitarbeiter ausgew&auml;hlten Personen, die im Notfall kontaktiert werden sollen</p>
				<p>Lieferanten/Dienstleister: Adressdaten; Kontaktkoordinaten; Bankverbindungen, Vertragsdaten; Terminverwaltungsdaten; Abrechnungs- und Leistungsdaten sowie Kontaktpersonen zu vorgenannten Gruppen.</p>
				<p>Empf&auml;nger oder Kategorien von Empf&auml;ngern, denen die Daten mitgeteilt werden k&ouml;nnen: &Ouml;ffentliche Stellen, die Daten aufgrund gesetzlicher Vorschriften erhalten (z.B. Sozialversicherungstr&auml;ger, Finanzbeh&ouml;rden, Aufsichtsbeh&ouml;rden). Interne Stellen, die an der Ausf&uuml;hrung der jeweiligen Gesch&auml;ftsprozesse beteiligt sind (im Wesentlichen: Personalverwaltung, Buchhaltung, Rechnungswesen, Einkauf, Marketing, Allgemeine Verwaltung, Vertrieb, Telekommunikation und EDV).</p>
				<p>Externe Auftragnehmer (Dienstleistungsunternehmen) entsprechend &sect; 11 BDSG.</p>
				<p>Weitere externe Stellen wie z.B. Kreditinstitute (Gehaltszahlungen, Unternehmen soweit der Betroffene seine schriftliche Einwilligung erkl&auml;rt hat oder eine &Uuml;bermittlung aus &uuml;berwiegendem berechtigtem Interesse zul&auml;ssig ist.</p>
				<p>Regelfristen f&uuml;r die L&ouml;schung der Daten</p>
				<p>Der Gesetzgeber hat vielf&auml;ltige Aufbewahrungspflichten und -fristen erlassen. Nach Ablauf dieser Fristen werden die entsprechenden Daten routinem&auml;&szlig;ig gel&ouml;scht, wenn sie nicht mehr zur Vertragserf&uuml;llung erforderlich sind. So werden die handelsrechtlichen oder finanzwirksamen Daten eines abgeschlossenen Gesch&auml;ftsjahrs den rechtlichen Vorschriften entsprechend nach weiteren zehn Jahren gel&ouml;scht, soweit keine l&auml;ngeren Aufbewahrungsfristen vorgeschrieben oder aus berechtigten Gr&uuml;nden erforderlich sind. K&uuml;rzere L&ouml;schungsfristen werden auf besonderen Gebieten genutzt (z.B. im Personalverwaltungsbereich wie z.B. abgelehnten Bewerbungen oder Abmahnungen). Sofern Daten hiervon nicht ber&uuml;hrt sind, werden sie gel&ouml;scht, wenn die oben genannten Zwecke wegfallen.</p>
				<p>&Uuml;berpr&uuml;fung gem&auml;&szlig; &sect; 35 Abs. 2 Nr. 4 BDSG sp&auml;testens nach vier Jahren</p>
				<p>Geplante Daten&uuml;bermittlung in Drittstaaten</p>
				<p>Keine</p>
				<p>Fragen zum Datenschutz?</p>
				<p>Sollten Sie Fragen oder Anmerkungen zum Datenschutz bei der Wikimedia F&ouml;rdergesellschaft haben, wenden Sie sich bitte mit Ihrem Anliegen per E-Mail an datenschutz[at]wikimedia.de.</p>

			</div>
			<div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
				<ul class="list-menu link-reverse link-back list-unstyled">
					<li><a href="#" class="">Zuruck zur spendenseite</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
@@include('./footer.html')
