@@include('./head.html', {"title": "Donation conclusion paypal", "id": "donation-conclusion-paypal", "themeclass": "donation", "classes": "donation-conclusion others"})
@@include('./header.html')
<main class="conclusion conclusion-sepa">

	<div class="container">
		<div class="row">
			<div class="introduction col-xs-12 col-md-8">
                <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots -->
                <h2 class="sr-only">Donation conclusion Paypal & kredit carte</h2>
				<p class="h1">Vielen Dank für Ihr Engagement. Ihlre Spende AMOUNT wurde erfolgreich durch Paypal verbucht.</p>

				<p class="h2">Ihre Spendennummer lautet: <span class="strong">XXXXXXX</span><br/>
				Ihre Spende über <span class="strong">AMOUNT</span> wird wie gewünscht  <span class="strong">FREQUENCY</span></p>

				<p class="text-moved visible-sm-block visible-md-block visible-lg-block">Auf Ihren Wunsch hin erhalten Sie von uns Informationen rund um die
					Spendenkampagne. Sie können den Erhalt von Informationen jederzeit widerrufen.</p>

			</div>
			<div class="cancel-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4">
				<ul class="list-menu link-back list-unstyled">
					<li><a href="#" class="">Spende stornieren</a></li>
				</ul>
				<p class="text-moved hidden-sm hidden-md hidden-lg">Auf Ihren Wunsch hin erhalten Sie von uns Informationen rund um die
					Spendenkampagne. Sie können den Erhalt von Informationen jederzeit widerrufen.</p>
			</div>
		</div>
	</div>
	<div class="switch-container container-fluid container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
			<a href="#" class="btn btn-introduction bk-blue text-center text-uppercase">Jetzt
				Mitglied werden</a>
				</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<nav class="menu menu-footer col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4"">
				<ul class="list-menu list-unstyled">
					<li><a href="#"><span>Spendenkommentar schreiben</span></a></li>
					<li class="facebook"><a href="#"><span>Auf Facebook teilen</span></a></li>
					<li class="twitter"><a href="#"><span>Auf Twitter teilen</span></a></li>
				</ul>
			</nav>
		</div>
	</div>


</main>
@@include('./footer.html')
