@@include('./head.html', {"title": "Home", "classes": "donation-conclusion-paypal"})
@@include('./header.html', {"menu-main-status": ""})
<main>

	<div class="conclusion paypal container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p class="h1">Vielen Dank für Ihr Engagement. Ihre Spende über <span class="field1 strong">AMOUNT<span>Euro</span></span> wurde erfolgreich durch PayPal verbucht.</p>
				<p class="">Ihre Spendennummer lautet:<span class="field3"> XXXXXXX</span></p>
				<p>Ihre Spende über <span>AMOUNT</span> wird wie gewünscht <span>FREQUENCY</span> abgebucht.</p>
			</div>
			<div class="link-back col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4">
				<a href="#" class="">Spende stornieren ></a>
			</div>

			<p>Auf Ihren Wunsch hin erhalten Sie von uns Informationen rund um die Spendenkampagne. Sie können den Erhalt von Informationen jederzeit widerrufen.</p>

			<a href="#donation-amount" class="btn btn-donation btn-introduction bk-blue text-center text-uppercase">Jetzt Mitglied werden</a>

			<nav class="menu menu-footer col-xs-12 col-sm-5">
				<ul class="list-unstyled">
					<li><a href="#"><span>Spendenkommentar schreiben</span><i class="icon-keyboard_arrow_right"></i></a></a></li>
					<li><a href="#"><span>Auf Facebook teilen</span><i class="icon-keyboard_arrow_right"></i></a></a></li>
					<li><a href="#"><span>Auf Twitter teilen</span><i class="icon-keyboard_arrow_right"></i></a></a></li>
				</ul>
			</nav>
		</div>
	</div>

</main>
@@include('./footer.html')
