@@include('./head.html', {"title": "Donation conclusion transfer", "id": "donation-conclusion-uberweisung", "themeclass": "donation", "classes": "donation-conclusion others"})
@@include('./header.html')
<main class="conclusion conclusion-uberweisung">

	<div class="container">
		<div class="row">
			<div class="content col-xs-12 col-md-8">
                <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots -->
                <h2 class="sr-only">Donation conclusion transfer</h2>
                <!-- ToDo: wikimedia-team change all p or only span class="field**" from backend data on form load -->
				<p class="h1">Vielen Dank für Ihr Engagement.<br> Sie Spende <span class="text-uppercase field-amount">amount</span> per
					<span class="text-uppercase field-payment">payment</span>.</p>
                <!-- ToDo: wikimedia-team change all p or only span class="field**" from backend data on form load -->
				<p class="h2">Ihre Spendennummer lautet: <span class="strong field">XXXXXXX</span><br/>
					Bitte überweisen Sie jetzt lhre Spende mit folgenden Zahlungsinformationen:</p>
			</div>
		</div>
	</div>

	<div class="switch-container container-fluid">
		<div class="row">
			<div class="introduction col-xs-12 col-md-8">
				<dl class="transfer-data-list">
					<div class="wrap-def">
						<div class="container">
							<dt>Kontoinhaber</dt>
							<dd>Wikimedia Foerdergesellschaft</dd>
						</div>
					</div>
					<div class="wrap-def">
						<div class="container">
							<dt>Betrag</dt>
                            <!-- ToDO: wikimedia-team this field has to be filled from backend -->
							<dd class="field-amount">15,00 €</dd>
						</div>
					</div>
					<div class="wrap-def">
						<div class="container">
							<dt>IBAN</dt>
							<dd>DE33 1002 0500 0001 1947 00</dd>
						</div>
					</div>
					<div class="wrap-def">
						<div class="container">
							<dt>BIC</dt>
							<dd>BFSWDE33BER</dd>
						</div>
					</div>
					<div class="wrap-def">
						<div class="container">
							<dt>Verwendungszweck</dt>
							<dd>W-Q-SMWUET-K</dd>
						</div>
					</div>
				</dl>
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="introduction col-xs-12 col-md-8">
				<p>Wenn Sie eine periodche Spende eingericthet haben, richten Sie bitte einen Dauerauftrag mit den
					genannten Zahlungsinformationene ein.</p>

				<p>Sie könene übrigens alle Daten auch in der E-Mail überprüfen, die wir lhnen soeben geschickt haben
					(sofern Sie uns eines E-Mail Adreesse mitgeteilt haben).</p>

				<p>Auf Ihren Wunsch hin erhalten Sie von uns Informationen rund um die Spendenkampagne. Sie können den
					Erhalt von Informationen jederzeit widerrufen.</p>

			</div>
			<div class="side col-md-4 visible-md visible-lg">
				<a href="membership-index.html" class="btn btn-introduction btn-side bk-blue text-center text-uppercase">Jetzt Mitglied werden</a>
				<nav class="menu menu-footer">
					<ul class="list-menu list-unstyled">
						<li><a href="comment-write.html"><span>Spendenkommentar schreiben</span></a></li>
						<li class="facebook"><a href="https://www.facebook.com/WMDEeV/"><span>Auf Facebook teilen</span></a></li>
						<li class="twitter"><a href="https://twitter.com/wikimediade"><span>Auf Twitter teilen</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="visible-xs visible-sm">
		<div class="switch-container container-fluid container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
					<a href="membership-index.html" class="btn btn-introduction bk-blue text-center text-uppercase">Jetz Mitglied werden</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<nav class="menu menu-footer col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
                    <ul class="list-menu list-unstyled">
                        <li><a href="comment-write.html"><span>Spendenkommentar schreiben</span></a></li>
                        <li class="facebook"><a href="#"><span>Auf Facebook teilen</span></a></li>
                        <li class="twitter"><a href="https://twitter.com/wikimediade"><span>Auf Twitter teilen</span></a></li>
                    </ul>
				</nav>
			</div>
		</div>
	</div>

</main>
@@include('./footer.html')
