@@include('./head.html', {"title": "Impressum", "id": "impressum", "themeclass": "donation", "classes": "impressum others"})

@@include('./header.html')
<main>
	<div class="container">
		<div class="row">
			<div class="content col-xs-12 col-sm-10 col-md-8">

				<h2>Impressum</h2>

				<p>Gemäß § 28 BDSG widersprechen wir jeder kommerziellen Verwendung und Weitergabe unserer Daten.</p>


				<p><span class="subtitle">Diensteanbieter</span><br>
					Gemeinnützige Wikimedia Fördergesellschaft mbH<br>
					Tempelhofer Ufer 23-24<br>
					10963 Berlin</p>

				<p>E-Mail: spenden@wikimedia.de</p>

				<p>Telefon: +49 (0)30-219 15 826-0<br>
					Fax: +49 (0)180-522 71 17-619<br>
					(aus dem Festnetz: 14 ct/min, Mobilfunk max.: 42 ct/min)</p>

				<p><span class="subtitle">Geschäftsführer</span><br>
					Abraham Taherivand</p>

				<p><span class="subtitle">Wikimedia Fördergesellschaft</span>
					verfolgt ausschließlich und unmittelbar gemeinnützigen Zwecken im Sinne des Abschnitts
					'steuerbegünstigte Zwecke' der Abgabenordnung.</p>

				<p><span class="subtitle">Spendenkonto</span><br>
					IBAN: DE33 1002 0500 0001 1947 00<br>
					BIC: BFSWDE33BER<br>
					Bank für Sozialwirtschaft<br>
					Kontonummer: 1194700<br>
					BLZ: 10020500</p>

				<p>Eingetragen beim Amtsgericht Berlin-Charlottenburg unter der Nummer 130183 B.</p>

				<p><span class="subtitle">Haftungsausschluss</span><br>
					Die Inhalte dieses Webprojektes wurden sorgfältig geprüft und nach bestem Wissen erstellt. Aber für
					die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und
					Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die durch das
					Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.</p>


			</div>
			<div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
				<ul class="list-menu link-reverse link-back list-unstyled">
					<li><a href="index.html" class="">Zuruck zur spendenseite</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
@@include('./footer.html')