@@include('./head.html', {"title": "Membership conclusion", "id": "membership-conclusion", "themeclass": "membership", "classes": "membership-conclusion others"})
@@include('./header.html')
<main class="conclusion conclusion-membership">

    <div class="container">
        <div class="row">
            <div class="content col-xs-12 col-md-8">
                <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots -->
                <h2 class="sr-only">Membership confirmation</h2>

                <p class="h1">Vielen Dank für Ihre Engagement. Sie möchten bei Wikimedia Deutschland e.V, <span
                    class="text-uppercase field-type strong">MITGLIEDART</span> werden.
                    per <span class="field-payment">Lasschrift</span>.</p>

                <p class="h1">Ihr Mitgliedsbeitrag über <span class="field-amount strong"> amount €</span> Euro soll
                    <span class="field-periodicity strong">interval</span> per <span class="field-type strong"> Lastchrift </span>
                    gezahlt werden.</p>

                <p class="text-moved visible-sm-block visible-md-block visible-lg-block">Die Mandatsreferenznummer
                    erhalten Sie vor dem ersten Einzug lhres Mitgliedsbeitrags per E-Mail.<br><br>Wir haben lhnen soeben
                    die Bestätigung per E-Mail geschickt. Sie werden zudem in kürze ein BegrüBungsschreiben von uns per
                    Post eshalten. Wir freuen uns, dass Sie dabei sind.</p>
            </div>
            <div class="cancel-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4">
                <ul class="list-menu link-back list-unstyled">
                    <li><a href="#" class="">Ihr SEPA-Mandat können Sie hier einsehen</a></li>
                    <div class="down hidden-xs">
                        <li><a href="membership-cancellation.html" class="">Mitgliedschaft stornieren</a></li>
                        <li><a href="https://www.wikimedia.de/" class="">Mehr Informationen zu Wikimedia</a></li>
                    </div>
                </ul>
                <div class="text-moved hidden-sm hidden-md hidden-lg">
                    <p>Die Mandatsreferenznummer erhalten Sie vor dem ersten Einzug Ihres Mitgliedsbeitrags per
                        E-Mail.</p>

                    <p>Wir haben Ihnen soeben die Bestätigung per E-Mail geschickt. Sie werden zudem in kürze ein
                        Begrüßungsschreiben von uns per Post erhalten. Wir freuen uns, dass Sie dabei sind.</p>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <ul class="list-menu link-back list-unstyled">
                        <div class="down">
                            <li><a href="membership-cancellation.html" class="">Mitgliedschaft stornieren</a></li>
                            <li><a href="https://www.wikimedia.de/" class="">Mehr Informationen zu Wikimedia</a></li>
                        </div>
                    </ul>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
                    <ul class="list-menu link-reverse link-back list-unstyled">
                        <li><a href="https://de.wikipedia.org" class="">zur Wikipedia</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
@@include('./footer.html')
