@@include('./head.html', {"title": "Home", "classes": "membership"})
@@include('./header.html', {"menu-main-status": ""})
<main>

	<div class="introduction banner container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p class="h1">Vielen Dank für Ihr Engagement.<br>Sie spenden <span class="field1 strong"> AMOUNT <span>Euro</span></span>   per <span class="field2 strong">PAYMENT</span></p>
				<p class="">Ihre Spendennummer lautet:<span class="field3"> XXXXXXX</span></p>
				<p>Die Mandatsreferenznummer erhalten Sie separat per E-Mail.</p>
			</div>
			<div class="link-back col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4">
				<a href="#" class="">Das stimmt nicht? Hier können<br> Sie Ihre Angaben ändern.</a>
			</div>
		</div>
	</div>

</main>
@@include('./footer.html')
