@@include('./head.html', {"title": "Steuerlich absetzbar", "id": "tax-deduction", "themeclass": "donation", "classes": "tax-deduction others"})

@@include('./header.html')
<main>
	<div class="container">
		<div class="row">
			<div class="content col-xs-12 col-sm-10 col-md-8">

				<h2>Steuerlich absetzbar</h2>

				<p class="subtitle">Ist meine Spende steuerlich absetzbar?</p>

				<p>Ja, Ihre Spende ist steuerlich absetzbar. Die Wikimedia Fördergesellschaft ist als gemeinnützig
					anerkannt und kann somit Zuwendungsbescheinigungen ausstellen. Bis zu einem Betrag von 200 € genügt
					dem Finanzamt der sogenannten Vereinfachte Zuwendungsbescheid in Verbindung mit Ihrem Kontoauszug
					als Nachweis der Spende.</p>

				<p>Als Dankeschön und Zeichen unserer Wertschätzung stellen wir jedoch für jede Spende ab genau 5 Euro
					automatisch eine Zuwendungsbescheinigung aus. Diese verschicken wir zum Ende des ersten Quartals des
					folgenden Jahres. Wenn Sie Ihre Zuwendungsbestätigung eher benötigen, sagen Sie uns einfach
					Bescheid. Auf Nachfrage versenden wir die Bestätigung auch gern eher.</p>

				<p>Für Spenden unter 5 € bieten wir in der Regel keine Zuwendungsbestätigung an, da dem Finanzamt der
					Kontoauszug in Verbindung mit dem vereinfachten Zuwendungsbescheid als Nachweis der Spende
					ausreicht. Ebenso möchten wir die Kosten für Verwaltung und Versand möglichst gering halten. Wenn
					Sie dennoch eine Zuwendungsbestätigung erhalten möchten, ist dies natürlich kein Problem. Gern
					stellen wir Ihnen eine Bestätigung aus. Schreiben Sie uns dazu einfach eine E-Mail an
					spenden@wikimedia.de.</p>

				<p>Bitte beachten Sie: Bei selbstständigen Überweisungen müssen Sie die Adresse in den Verwendungszweck
					eintragen, wenn Sie eine Zuwendungsbestätigung erhalten möchten. Komfortabler ist es jedoch, wenn
					Sie mittels unseres Spendenformulars per Überweisung spenden. Dort können Sie Ihre Adresse direkt
					eingeben. Die Kontoverbindung wird Ihnen dann im Anschluss mitsamt dem Code Ihrer Spende mitgeteilt.
					Diesen Code tragen Sie bitte bei Ihrer Überweisung in den Verwendungszweck ein.</p>

			</div>
			<div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
				<ul class="list-menu link-tax list-unstyled">
					<li><a href="#" class="">Den vereinfachten Zuwendungsbescheid für die Wikimedia Fördergesellschaft können Sie hier herunterladen.</a></li>
				</ul>
				<ul class="list-menu link-reverse link-back list-unstyled">
					<li><a href="#" class="">Zuruck zur spendenseite</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
@@include('./footer.html')