// This class imports all fonts, variables and overrides
// and adds custom classes on top of that
@import "fonts";
@import "variables";

.is-form-input {
	.has-border-rounded {
		background-color: $fun-color-bright;
		border: 1px solid $fun-color-off-bright;
		border-radius: 2px;
	}

	.select {
		select {
			border-radius: 0;
			width: 300px;
			font-size: 1rem;
			line-height: 40px;
			height: 48px;
		}
		// Buefy has different types of dropdowns with selectors like these
		// This modifies a "normal" selection dropdown list to accommodate for the custom size we apply
		&:not(.is-multiple):not(.is-loading)::after {
			top: 24px;
		}
	}
}

.list-menu {
	max-width: 340px;
	li {
		height: 54px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			border-bottom: 1px solid $fun-color-dark-lighter;
		}
		a {
			color: $fun-color-dark-lighter;
			display: block;
			position: relative;
			top:50%;
			transform: translateY(-50%);

			&:hover, &:focus {
				color: $fun-color-dark;
			}
		}
	}
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-helpers/sass/helpers/spacing/margin-padding";

@import "overrides";