// Fonts are expected in the build directory
// If the fonts do not show up, make sure to run 'make ui'

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/skins/laika/fonts/Open-Sans.eot');
	src: local('/skins/laika/fonts/Open Sans Light'), local('OpenSans-Light'),
	url('/skins/laika/fonts/Open-Sans.eot?#iefix') format('embedded-opentype'),
	url('/skins/laika/fonts/Open-Sans.woff2') format('woff2'),
	url('/skins/laika/fonts/Open-Sans.woff') format('woff'),
	url('/skins/laika/fonts/Open-Sans.ttf') format('truetype'),
	url('/skins/laika/fonts/Open-Sans.svg#OpenSans') format('svg');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/skins/laika/fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('/skins/laika/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/skins/laika/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('/skins/laika/fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('/skins/laika/fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/skins/laika/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('/skins/laika/fonts/open-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
	url('/skins/laika/fonts/open-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/skins/laika/fonts/open-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('/skins/laika/fonts/open-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('/skins/laika/fonts/open-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/skins/laika/fonts/open-sans-v17-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('/skins/laika/fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
	url('/skins/laika/fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/skins/laika/fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('/skins/laika/fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
	url('/skins/laika/fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/skins/laika/fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Icons';
	font-weight: normal;
	font-style: normal;
	src: url('/skins/laika/fonts/fontello.eot');
	src: url('/skins/laika/fonts/fontello.eot?#iefix') format('embedded-opentype'),
	url('/skins/laika/fonts/fontello.woff2') format('woff2'),
	url('/skins/laika/fonts/fontello.woff') format('woff'),
	url('/skins/laika/fonts/fontello.ttf') format('truetype'),
	url('/skins/laika/fonts/fontello.svg#fontello') format('svg');
}

$icon-error: '\e800'; /* Error triangle */
$icon-warning: '\f0f3'; /* Warning Bell */
$icon-up-open: '\e801'; /* Arrow Up */
$icon-down-open: '\e802'; /* Arrow Down*/
$icon-left-open: '\e803'; /* Arrow Left */
$icon-right-open: '\e804'; /* Arrow Right*/

.mdi:before {
	font: normal normal normal 18px/48px "Icons";
	speak: none;
	width: 1em;
	text-align: center;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	top: 3px;
}

.mdi-alert-circle:before {
	content: $icon-error;
}

.mdi-alert:before {
	content: $icon-warning;
	color: $fun-color-gray-dark;
}

.mdi-arrow-down:before {
	content: $icon-down-open;
	font-size: 14px;
	color: $fun-color-dark;
	top: 0;
}

.mdi-arrow-up:before {
	content: $icon-up-open;
	font-size: 14px;
	color: $fun-color-dark;
	top: 0;
}

.mdi-arrow-left:before {
	content: $icon-left-open;
	font-size: 14px;
	color: $fun-color-dark;
	top: 0;
}

.mdi-arrow-right:before {
	content: $icon-right-open;
	font-size: 14px;
	color: $fun-color-dark;
	top: 0;
}