@import "variables";

// Miscellaneous overrides

.title {
	margin-top: 30px;
}

.b-radio.radio {
	height: 4em;
	width: 320px;
	border-bottom: 2px solid $fun-color-off-bright;
	&:hover {
		border-bottom: 2px solid $fun-color-dark-lighter;
	}
	&.is-active {
		border-bottom: 2px solid $fun-color-primary;
		&:hover {
			border-bottom: 2px solid $fun-color-primary;
		}
	}
	.check.radio {
		font-size: 13px;
	}
}

.input {
	&::-ms-clear {
		display: none;
	}
	&:active {
		background-color: $fun-color-primary-lightest;
	}
	&.is-large {
		font-size: 1rem;
		padding: 0 25px;
		line-height: 25px;
		width: 100%;
		height: 50px;
	}
	&-amount {
		text-align: right;
	}
	&.is-valid {
		background-color: $fun-color-bright;
		border-color: $fun-color-primary;
		border-bottom-width: 2px;
	}
	&.is-invalid {
		background-color: $fun-color-bright;
		border-color: $fun-color-error;
		border-bottom-width: 2px;
	}
}

// Ensure footer always sticks to the bottom of the page
// by setting min-height of the root elements to 100vh
// and ensuring the main element is set to flex: 1
// When in doubt, it's probably a workaround to make something work in IE11 :D
body {
	display: flex;
	min-height: 100vh;
	> div {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		flex: 1;
	}
}
main {
	flex: 1 0 auto;
}
