@import "variables";

// Overriding Bulma variables

// General page / body
$primary: $fun-color-primary;
$body-background-color: $fun-color-primary-lightest;

// Text or font related
$text: $fun-color-dark;
$family-primary: "Open Sans",Helvetica,Arial,sans-serif;
$body-size: 14px;
$body-line-height: 1.8;

// Header / Navbar
$navbar-height: 5.2rem;
$navbar-box-shadow-size: 1px 2px 3px;
$navbar-box-shadow-color: rgba(0, 0, 0, 0.1);
$navbar-item-color: $text;
$navbar-item-hover-color: $fun-color-primary;
$navbar-item-hover-background-color: $fun-color-bright;
$navbar-item-active-color: $fun-color-primary;
$navbar-item-active-background-color: $fun-color-bright;

$spacing-range-start: 18;
$spacing-range-end: 110;
$spacing-interval: 18;

// Miscellaneous overrides

.title {
	margin-top: 30px;
}

// Ensure footer always sticks to the bottom of the page
// by setting min-height of the root elements to 100vh
// and ensuring the main element is set to flex: 1
// When in doubt, it's probably a workaround to make something work in IE11 :D
body {
	display: flex;
	min-height: 100vh;
	> div {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		flex: 1;
	}
}
main {
	flex: 1 0 auto;
}
