@import "variables";

// Overriding Bulma variables

// General page / body
$primary: $fun-color-primary;
$body-background-color: $fun-color-primary-lightest;

// Text or font related
$size-1: 1.7rem;
$size-2: 1.6rem;
$size-3: 1.5rem;
$size-4: 1.4rem;
$size-5: 1.3rem;
$size-6: 1.2rem;
$size-7: 1.1rem;

$input-color: $fun-color-dark-lighter;
$input-shadow: none;
$input-focus-border-color: $fun-color-off-bright;
$input-focus-box-shadow-size: 0;

$text: $fun-color-dark;
$family-primary: "Open Sans",Helvetica,Arial,sans-serif;
$body-size: 14px;
$body-line-height: 1.8;
$danger: $fun-color-error;

$title-size: $size-1;
$title-weight: 400;
$subtitle-size: $size-5;

// Header / Navbar
$navbar-height: 5.2rem;
$navbar-box-shadow-size: 1px 2px 3px;
$navbar-box-shadow-color: rgba(0, 0, 0, 0.1);
$navbar-item-color: $text;
$navbar-item-hover-color: $fun-color-primary;
$navbar-item-hover-background-color: $fun-color-bright;
$navbar-item-active-color: $fun-color-primary;
$navbar-item-active-background-color: $fun-color-bright;

$spacing-range-start: 0;
$spacing-range-end: 54;
$spacing-interval: 18;

// Miscellaneous overrides

.title {
	margin-top: 30px;
}

.input {
	&:active {
		background-color: $fun-color-primary-lightest;
	}
	&.is-large {
		font-size: 1rem;
		padding: 25px;
		width: 100%;
	}
	&-amount {
		text-align: right;
	}
	&.is-valid {
		background-color: $fun-color-bright;
		border-color: $fun-color-primary;
		border-bottom-width: 2px;
	}
	&.is-invalid {
		background-color: $fun-color-bright;
		border-color: $fun-color-error;
		border-bottom-width: 2px;
	}
}

// Ensure footer always sticks to the bottom of the page
// by setting min-height of the root elements to 100vh
// and ensuring the main element is set to flex: 1
// When in doubt, it's probably a workaround to make something work in IE11 :D
body {
	display: flex;
	min-height: 100vh;
	> div {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		flex: 1;
	}
}
main {
	flex: 1 0 auto;
}
