{% extends 'Base_Layout.html.twig' %}

{% block page_identifier %}address-update-success{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="content col-xs-12 col-sm-10 col-md-8">
                <h1>{$ address_update_success_head $}</h1>

                <p>{$ address_update_success_body $}</p>

            </div>
        </div>
    </div>
{% endblock %}