<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spenden für Freies Wissen - Wikimedia Fördergesellschaft</title>

	<meta name="title" content="Spenden für Freies Wissen - Wikimedia Fördergesellschaft" />
	<meta name="description" content="Wenn jeder nur einen kleinen Beitrag leisten würde, wäre unsere Spendenkampagne in einer Stunde vorüber." />

	<meta property="og:title" content="Wenn jeder nur einen kleinen Beitrag leisten würde, wäre unsere Spendenkampagne in einer Stunde vorüber." />
	<meta property="og:type" content="non_profit" />
	<meta property="og:url" content="https://spenden.wikimedia.de/" />
	<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Wikipedia_svg_logo-de.svg/200px-Wikipedia_svg_logo-de.svg.png" />
	<meta property="og:site_name" content="Gemeinnnützige Wikimedia Fördergesellschaft mbH" />
	<meta property="og:description" content="Mir liegt Wikipedia am Herzen, deshalb habe ich gespendet. Denn was wäre das Netz ohne Wikipedia?" />

	<link rel="shortcut icon" href="{$ basepath $}/skins/cat17/assets/images/favicon.ico" />
	<link rel="apple-touch-icon" href="{$ basepath $}/skins/cat17/assets/images/apple-touch-icon.png" />
	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" href="{$ basepath $}/skins/cat17/scripts/vendor/jcf/jcf.css">
	<link rel="stylesheet" href="{$ basepath $}/skins/cat17/css/main.css">
	<link rel="stylesheet" href="{$ basepath $}/skins/cat17/css/print.css" media="print">
	<!--endbuild-->
</head>
<body id="{% block page_identifier %}{% endblock%}" class="{% block page_theme %}theme-donation{% endblock %}">
	<div class="{$ block('page_identifier') $} others">
		{% include 'partials/' ~ header_template %}

		<main>
			{% block main %}
				{$ main | raw $}
			{% endblock %}
		</main>

		{% include 'partials/' ~ footer_template %}
	</div>

	<!--build:js js/main.min.js -->
	<script type="text/javascript" src="{$ basepath $}/skins/cat17/scripts/vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="{$ basepath $}/skins/cat17/scripts/vendor/jcf/jcf.js"></script>
	<script type="text/javascript" src="{$ basepath $}/skins/cat17/scripts/vendor/jcf/jcf.select.js"></script>
	<script type="text/javascript" src="{$ basepath $}/skins/cat17/scripts/vendor/jcf/jcf.scrollable.js"></script>
	<script type="text/javascript" src="{$ basepath $}/skins/cat17/scripts/main.js"></script>
	<!-- endbuild -->
</body>
</html>
