<!DOCTYPE html>
<html lang="de" class="client-nojs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spenden für Freies Wissen - Wikimedia Fördergesellschaft</title>

	<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>

	<meta name="format-detection" content="telephone=no" />
	<meta name="title" content="Spenden für Freies Wissen - Wikimedia Fördergesellschaft" />
	<meta name="description" content="Wenn jeder nur einen kleinen Beitrag leisten würde, wäre unsere Spendenkampagne in einer Stunde vorüber." />

	<meta property="og:title" content="Wenn jeder nur einen kleinen Beitrag leisten würde, wäre unsere Spendenkampagne in einer Stunde vorüber." />
	<meta property="og:type" content="non_profit" />
	<meta property="og:url" content="https://spenden.wikimedia.de/" />
	<meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Wikipedia_svg_logo-de.svg/200px-Wikipedia_svg_logo-de.svg.png" />
	<meta property="og:site_name" content="Gemeinnnützige Wikimedia Fördergesellschaft mbH" />
	<meta property="og:description" content="Mir liegt Wikipedia am Herzen, deshalb habe ich gespendet. Denn was wäre das Netz ohne Wikipedia?" />

	<link rel="shortcut icon" href="{$ basepath $}/skins/cat17/assets/images/favicon.ico" />
	<link rel="apple-touch-icon" href="{$ basepath $}/skins/cat17/assets/images/apple-touch-icon.png" />
	<link rel="stylesheet" href="{$ basepath $}{$ '/skins/cat17/css/main.css' | prefix_file $}">
</head>
<body class="theme-{% block page_theme %}donation{% endblock %}">
	<div class="page-{% block page_identifier %}uncustomized{% endblock %}">
		{% block header %}
			{% include 'partials/Page_Header.html.twig' %}
		{% endblock %}

		<main{% if page_works_without_js is not defined or page_works_without_js == false %} class="hidden-no-js"{% endif %}>
			{% block main %}
				{$ main | raw $}
			{% endblock %}
		</main>

		{% if page_works_without_js is not defined or page_works_without_js == false %}
			<noscript class="no-js-fallback">
				<main>
					<div class="content container">
						<h2>{$ 'no_javascript_title' | trans $}</h2>
						{$ web_content( 'pages/no_javascript' ) $}
					</div>
				</main>
			</noscript>
		{% endif %}

		{% block footer %}
			{% include 'partials/Page_Footer.html.twig' %}
		{% endblock %}
	</div>

	<script src="{$ basepath $}{$ '/skins/cat17/scripts/vendor.js' | prefix_file $}"></script>
	<script src="{$ basepath $}{$ '/skins/cat17/scripts/main.js' | prefix_file $}"></script>

    {% block scripts %}{% endblock %}

    {% include 'partials/piwik.html.twig' %}

    {% if piwikGoals | default( [] ) %}
		<script>
			{% for goal in piwikGoals %}
			_paq.push( [ 'trackGoal', '{$ goal $}' ] );
			{% endfor %}
		</script>
    {% endif %}

</body>
</html>
