{% extends 'Base_Layout.html.twig' %}

{% block page_identifier %}comments-list{% endblock %}

{% block scripts %}
	<script src="{$ basepath $}/skins/cat17/scripts/donationComments.js"></script>
{% endblock %}

{% block main %}
	<!-- nav content filled with paginator-sidebar via css / dont delete -->
	<nav class="paginator paginator-top col-xs-12">
	</nav>
	<div class="container">
		<div class="row">
			<div class="introduction col-xs-12 col-sm-7 col-md-8 clearfix">
				<h2>{$ "donation_comments_head" | trans $}</h2>
				<p class="subtitle">
					{$ "donation_comments_intro"| trans( {
						'%rss_link%': '<a href="' ~
							path( 'list-comments.rss', { piwik_campaign: 'Spendenseite', piwik_kwd: 'spendenliste' } ) ~
							'" target="_top">' ~
							"rss_feed" | trans ~ '</a>'

					} ) | raw $}
			</div>
			<nav class="paginator paginator-sidebar col-md-4 clearfix comment-paginationContainer">
				<div class="container">
					<div class="row">
						<div class="pages-wrap col-xs-12 col-sm-5 col-sm-offset-7">
                            <span class="controls prev"><a href="#"><i class="icon-keyboard_arrow_left"></i><span
											class="sr-only">{$ "donation_comments_pagination_prev" | trans $} </span></a></span>
							<span class="page-indicator">{$ "pagination_page_n_of_x" | trans( {
								'%page%': '<span class=\"current-page\">' ~ page ~ '</span>',
								'%max_pages%': '<span class=\"num-pages\">' ~ max_pages ~ '</span>'
								} ) | raw $}</span>
							<span class="controls next"><a href="#"><span class="sr-only">{$ "donation_comments_pagination_next" | trans $}</span><i
											class="icon-keyboard_arrow_right"></i></a></span>
						</div>
					</div>

				</div>
			</nav>

			<div class="content col-xs-12 col-sm-6 col-md-8 comment-commentContainer" data-no-comments="{$ 'donation_comments_none_found' | trans | e( 'html_attr' ) $}">
				{$ "donation_comments_loading" | trans $}
			</div>

		</div>
		<div class="row">
            {% include 'partials/back_link.html.twig' %}
		</div>
	</div>
{% endblock %}
