{% extends 'Base_Layout.html.twig' %}

{% block page_identifier %}page-{$ page_id $}{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="content col-xs-12 col-sm-10 col-md-8">
				<h2>{$ page_id|trans({}, 'pageTitles') $}</h2>

				{$ web_content("pages/#{page_id}") $}
			</div>

			{% include 'partials/back_link.html.twig' %}
		</div>
	</div>
{% endblock %}
