{% extends 'Base_Layout.html.twig' %}

{% block page_identifier %}donation-comment{% endblock %}

{% block main %}
	<form id="comment-form" action="#" method="post" class="row">
		<input type="hidden" name="donationId" value="{$ donationId $}" />
		<input type="hidden" name="updateToken" value="{$ updateToken $}" />

		<div class="container">
			<div class="row">
				<div class="content col-xs-12">
					<h2 class="h1">Spendenkommentar</h2>
					<fieldset class="col-xs-12 col-sm-6">
						<legend class="legend">Erzahlen Sie uns, warum sie gespendt haben.</legend>
						<div class="field-grp">
							<!-- ToDo: wikimedia translate label text / error text add the adequate -->
							{# TODO: i18n placeholder #}
							<textarea name="comment" rows="50" cols="10" id="comment" placeholder="Your comment"></textarea>
							<label for="comment" class="sr-only">Your comment</label>
						</div>
					</fieldset>
					<fieldset class="col-xs-12 col-sm-6">
						<legend class="legend">Veröffentlichungsoptionen</legend>
						<div class="row">
							<div class="field-grp col-xs-12 col-md-6">
								<select id="public" name="public"
										data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true,  "maxVisibleItems": 6}'
										class="no-outline offentlich">
									<option value="1">Öffentlich</option>
									<option value="0">Nicht öffentlich</option>
								</select>
							</div>
							<div class="field-grp col-xs-12 col-sm-6">
								{# TODO: full name option #}
								<select id="displayName" name="displayName"
										data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true,  "maxVisibleItems": 6}'
										class="no-outline personalized">
									<option value="Anonym">Anonym</option>
									<option value="TODO">Personalisiert</option>
								</select>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		<div class="switch-container container-fluid container">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
					<input type="submit" value="Kommenar veröffetlichen" class="btn btn-introduction bk-blue text-center text-uppercase">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<ul class="list-menu link-reverse list-unstyled  col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
					<li><a href="{$ cancelUrl $}" class="">Abbrechen</a></li>
				</ul>
			</div>
		</div>
	</form>
{% endblock %}