{% extends 'Base_Layout.html.twig' %}

{% block page_identifier %}donation-confirmation{% endblock %}

{% block main %}
	{% set formattedAmount = donation.amount|localizedcurrency('EUR', 'de_DE') %}
	<div{% if global.session.get('address_changed') %} class="address-change"{% endif %}>
		{% if donation.paymentType == 'MCP' or donation.paymentType == 'PPL' or donation.paymentType == 'SUB' %}
			{% include 'partials/donation_confirmation/external_payment.html.twig' %}
		{% elseif donation.paymentType == 'BEZ' %}
			{% include 'partials/donation_confirmation/direct_debit.html.twig' %}
		{% elseif donation.paymentType == 'UEB' %}
			{% include 'partials/donation_confirmation/bank_transfer.html.twig' %}
		{% endif %}
	</div>
	{% if featureToggle.donorUpdateEnabled and not updateData.isSuccessful %}
		{% include 'partials/donation_confirmation/donor_form.html.twig' %}
	{% endif %}

	{% include 'partials/donation_confirmation/membership_information.html.twig' %}

	{% if updateData.message and not updateData.isSuccessful%}
		<div class="container hidden-print messages">
			<p class="h3">
				{$ updateData.message | trans $}
			</p>
		</div>
	{% endif %}

	<img src="https://de.wikipedia.org/wiki/Special:HideBanners?duration={$ donation.cookieDuration $}&reason=donate" width="0" height="0" border="0" />

{% endblock %}

{% block scripts %}
	<script src="{$ basepath|e('html_attr') $}{$ '/skins/cat17/scripts/wmde.js'|prefix_file $}"></script>
	<script id="init-form" src="{$ basepath|e('html_attr') $}{$ '/skins/cat17/scripts/donorUpdateForm.js'|prefix_file $}"
			data-initial-form-values="{% if initialFormValues %}{$ initialFormValues|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
			data-violated-fields="{% if violatedFields %}{$ violatedFields|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
			data-initial-validation-result="{% if validationResult %}{$ validationResult|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
			data-validate-address-url="{$ urls.validateAddress | e('html_attr') $}"
			data-validate-email-address-url="{$ urls.validateEmail | e('html_attr') $}"
	></script>
{% endblock %}
