{% extends 'page_layouts/base.html.twig' %}

{% block page_identifier %}faq{% endblock%}

{% block main %}
	<div id="faq" data-content="{$ faq_content $}" data-messages="{$ faq_messages $}"></div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		var faqContent = JSON.parse( document.getElementById( "faq" ).getAttribute( "data-content" ) );
		var faqMessages = JSON.parse( document.getElementById( "faq" ).getAttribute( "data-messages" ) );
	</script>
	<script src="{$ basepath $}{$ '/skins/cat17/scripts/faq.js' | prefix_file $}"></script>
{% endblock %}