{% extends 'Base_Layout.html.twig' %}

{% set COUNTRIES = [ 'DE', 'AT', 'CH', 'BE', 'IT', 'LI', 'LU' ] %}
{% set PAYMENT_INTERVALS = [ 1, 3, 6, 12 ] %}

{% if initialFormValues is not defined or initialFormValues is null %}
	{% set initialFormValues = {} %}
{% endif %}

{% set initialPaymentType = paymentTypes|length == 1 ? paymentTypes|first : '' %}
{% set initialFormValues = initialFormValues | merge( { 'paymentType': initialPaymentType } ) %}

{% set showMembershipTypeOption = showMembershipTypeOption is defined ? showMembershipTypeOption : 'true' %}
{% if showMembershipTypeOption != 'true' %}
	{% set initialFormValues = initialFormValues | merge( { 'membershipType': 'sustaining' } ) %}
{% endif %}

{% block page_identifier %}membership{% endblock %}
{% block page_theme %}membership{% endblock %}

{% block main %}
	<div class="introduction">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="sr-only">{$ 'membership_title' | trans $}</h2>

					<p class="h1">{$ 'membership_intro' | trans $}</p>

					<div class="row">
						<div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
							<a href="#membership-type"
							   class="btn btn-membership btn-introduction bk-blue text-center text-uppercase">{$ 'membership_submit' | trans $}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="shadow-top container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8">
						{% include 'partials/membership/benefit_list.html.twig' with {
							'showActiveMembershipBenefits': showMembershipTypeOption == 'true'
						} only %}
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="external-link">
							<a href="{$ 'membership_link_to_wmde_url' | trans | e( 'html_attr' ) $}" target="_blank">
								{$ 'membership_link_to_wmde' | trans $}
								<div class="right"><i class="icon-new-tab"></i></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form id="form-membership" class="main-form" action="{$ basepath $}/apply-for-membership" method="post" novalidate="">
		<div class="container">
			<section class="state-bar state-overview col-xs-12 ">
				<div class="wrap-bar container ">
					<ul class="">
						{% include 'partials/membership/state_bar_sections.html.twig' with { 'membership_type_empty_text': 'membership_section_membership_type_anchor_short' | trans } only %}
					</ul>
				</div>
			</section>
			<div class="row">

				<div class="form-shadow-wrap col-xs-12 col-sm-8 col-md-8">

					<section id="membership-type" class="donation-amount clearfix wrap-membership-type"{% if showMembershipTypeOption != 'true' %} style="display:none"{% endif %}>
						<h2 class="">{$ 'membership_section_membership_type_title' | trans $}</h2>

						<div class="error-container">
							<span class="error-text">{$ 'form_membership_type_error' | trans $}</span>
						</div>

						<fieldset id="type-membership"
								class="show-info padding-right-4 col-xs-12 col-sm-8 col-sm-offset-right-4 col-md-6 col-md-offset-right-7 no-gutter-left">
							<legend class="sr-only">{$ 'membership_section_membership_type_legend' | trans $}</legend>
							<div class="wrap-field" data-info-text="{$ 'membership_membershiptype_option_sustaining_legend' | trans | e( 'html_attr' ) $}">
								<div class="wrap-input">
									<input type="radio" name="membership_type" id="support" value="sustaining">
									<label for="support" data-short-text="{$ 'membership_membershiptype_option_sustaining_short' | trans $}">
										<span>{$ 'membership_membershiptype_option_sustaining' | trans $}</span>
										<i class="icon-favorite"></i>
									</label>
								</div>

								<p class="info-text opened" data-info="support">
									{$ 'membership_membershiptype_option_sustaining_legend' | trans $}
								</p>
							</div>
							<div class="wrap-field" data-info-text="{$ 'membership_membershiptype_option_active_legend' | trans | e( 'html_attr' ) $}">
								<div class="wrap-input">
									<input type="radio" name="membership_type" id="aktive" value="active">
									<label for="aktive" data-short-text="{$ 'membership_membershiptype_option_active_short' | trans $}">
										<span>{$ 'membership_membershiptype_option_active' | trans $}</span>
										<i class="icon-flash_on"></i>
									</label>
								</div>

								<p class="info-text opened" data-info="aktive">
									{$ 'membership_membershiptype_option_active_legend' | trans $}
								</p>
							</div>

						</fieldset>
					</section>

					{% if showMembershipTypeOption == 'true' %}
						<input type="hidden" name="showMembershipTypeOption" value="true" />
					{% else %}
						<input type="hidden" name="showMembershipTypeOption" value="false" />
					{% endif %}

					<section id="donation-type" class="donation-data clearfix">
						<h2>{$ 'membership_section_applicant_title' | trans $}</h2>

						{% if showMembershipTypeOption == 'true' %}
							<p class="legend">{$ 'membership_section_applicant_legend' | trans $}</p>
						{% endif %}

						<div class="error-container">
							<span class="error-text">{$ 'form_membership_applicant_error' | trans $}</span>
						</div>

						<fieldset id="type-donor"
								  class="show-info padding-right-4 col-xs-12 col-sm-8 col-sm-offset-right-4 col-md-6 col-md-offset-right-7 no-gutter-left">
							{% if showMembershipTypeOption == 'true' %}
								<legend class="sr-only">{$ 'membership_section_applicant_legend' | trans $}</legend>
							{% endif %}

							<div class="wrap-field personal">

								<div class="wrap-input">
									<input type="radio" name="adresstyp" id="personal" value="person">
									<label for="personal" data-short-text="{$ 'membership_addresstype_option_private_short' | trans $}">
										<span>{$ 'membership_addresstype_option_private' | trans $}</span>
										<i class="icon-account_circle"></i>
									</label>
								</div>
								<div class="wrap-info">
									<div class="info-text" data-info="personal">
										<div class="field-grp field-salutation">
											<div class="wrap-select-50 clearfix">
												<select class="no-outline salutation" id="treatment" name="anrede"
														data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true }'>
													<option hidden class="hideme" value="">{$ 'salutation_label' | trans $}</option>
													<option value="Herr">{$ 'salutation_option_mr' | trans $}</option>
													<option value="Frau">{$ 'salutation_option_mrs' | trans $}</option>
												</select>
												<select class="no-outline personal-title" id="title" name="titel"
														data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true}'>
													<option value="">{$ 'title_option_none' | trans $}</option>
													<option value="Dr.">Dr.</option>
													<option value="Prof.">Prof.</option>
													<option value="Prof. Dr.">Prof. Dr.</option>
												</select>
											</div>
											<span class="error-text">{$ 'form_salutation_error' | trans $}</span>
										</div>

										<div class="field-grp field-firstname">
											<input type="text" id="first-name" name="vorname" class="first-name" placeholder="{$ 'firstname_label' | trans | e( 'html_attr' ) $}" data-pattern="^.+$">
											<label for="first-name" class="sr-only">{$ 'firstname_label' | trans $}</label>
											<span class="error-text">{$ 'form_firstname_error' | trans $}</span>
										</div>
										<div class="field-grp field-lastname">
											<input type="text" id="surname" name="nachname" class="name" placeholder="{$ 'lastname_label' | trans | e( 'html_attr' ) $}" data-pattern="^.+$">
											<label for="surname" class="sr-only">{$ 'lastname_label' | trans $}</label>
											<span class="error-text">{$ 'form_lastname_error' | trans $}</span>
										</div>
										<div class="field-grp field-email">
											<input type="email" id="email" class="email" placeholder="{$ 'email_label' | trans | e( 'html_attr' ) $}" data-pattern="^[^@]+@.+$">
											<label for="email" class="sr-only">{$ 'email_label' | trans $}</label>
											<span class="error-text">{$ 'form_email_error' | trans $}</span>
										</div>
										<div class="field-grp field-street">
											<input type="text" id="street" class="street"
												   placeholder="{$ 'street_label' | trans | e( 'html_attr' ) $}" data-pattern="^.+$">
											<label for="street" class="sr-only">{$ 'street_label' | trans $}</label>
											<span class="error-text">{$ 'form_street_error' | trans $}</span>
											<span class="warning-text">{$ "form_street_number_warning" | trans $}</span>
										</div>
										<div class="field-grp field-postcode">
											<input type="text" id="post-code" class="post-code" placeholder="{$ 'zip_label' | trans | e( 'html_attr' ) $}" data-pattern="^[0-9]{4,5}$">
											<label for="post-code" class="sr-only">{$ 'zip_label' | trans $}</label>
											<span class="error-text">{$ 'form_zip_error' | trans $}</span>
										</div>
										<div class="field-grp field-city">
											<input type="text" id="city" placeholder="{$ 'city_label' | trans | e( 'html_attr' ) $}" class="city" data-pattern="^.+$">
											<label for="city" class="sr-only">{$ 'city_label' | trans $}</label>
											<span class="error-text">{$ 'form_city_error' | trans $}</span>
										</div>
										<div class="field-grp field-dob">
											<input id="date-of-birth" name="dob" type="text" value="" title="DD.MM.YYYY" placeholder="{$ 'membership_dob_label' | trans | e( 'html_attr' ) $}" data-pattern="^[0-3]?[0-9]\.[01]?[0-9]\.[0-9]{2,4}$">
											<label for="city" class="sr-only">{$ 'membership_dob_label' | trans $}</label>
											<span class="error-text">{$ 'form_dob_error' | trans $}</span>
										</div>
										<select id="country" title="{$ 'country_label' | trans | e( 'html_attr' ) $}"
												data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true, "maxVisibleItems": 6}'
												class="no-outline country-select">
											{% for countryCode in COUNTRIES %}
												<option value="{$ countryCode $}">{$ ( 'country_option_' ~ countryCode ) | trans $}</option>
											{% endfor %}
										</select>
									</div>
									<div class="wrap-check">
										<div>
											<input type="checkbox" id="donation-receipt" data-jcf='{"wrapNative": true}' class="jcf">
											<label for="donation-receipt">
												{$ 'membership-no-donation-receipt' | trans $}
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="wrap-field firma">

								<div class="wrap-input">
									<input type="radio" name="adresstyp" id="company" value="firma">
									<label for="company" data-short-text="{$ 'membership_addresstype_option_company_short' | trans $}">
										<span>{$ 'membership_addresstype_option_company' | trans $}</span>
										<i class="icon-work"></i>
									</label>
								</div>
								<div class="wrap-info">
									<div class="info-text" data-info="company">
										<div class="field-grp field-company">
											<input type="text" id="company-name" name="firma" placeholder="{$ 'companyname_label' | trans | e( 'html_attr' ) $}" data-pattern="^.+$">
											<label for="company-name" class="sr-only">{$ 'companyname_label' | trans $}</label>
											<span class="error-text">{$ 'form_companyname_error' | trans $}</span>
										</div>
										<div class="field-grp field-email">
											<input type="email" id="email-company" name="email" class="email" placeholder="{$ 'email_label' | trans | e( 'html_attr' ) $}" data-pattern="^[^@]+@.+$">
											<label for="email-company" class="sr-only">{$ 'email_label' | trans $}</label>
											<span class="error-text">{$ 'form_email_error' | trans $}</span>
										</div>
										<div class="field-grp field-street">
											<input type="text" id="adress-company" name="strasse" class="street" placeholder="{$ 'street_label' | trans | e( 'html_attr' ) $}" data-pattern="^.+$">
											<label for="adress-company" class="sr-only">{$ 'street_label' | trans $}</label>
											<span class="error-text">{$ 'form_street_error' | trans $}</span>
											<span class="warning-text">{$ "form_street_number_warning" | trans $}</span>
										</div>
										<div class="field-grp field-postcode">
											<input type="text" id="post-code-company" name="postcode" class="post-code" placeholder="{$ 'zip_label' | trans | e( 'html_attr' ) $}" data-pattern="^[0-9]{4,5}$">
											<label for="post-code" class="sr-only">{$ 'zip_label' | trans $}</label>
											<span class="error-text">{$ 'form_zip_error' | trans $}</span>
										</div>
										<div class="field-grp field-city">
											<input type="text" id="city-company" name="ort" placeholder="{$ 'city_label' | trans | e( 'html_attr' ) $}" class="city" data-pattern="^.+$">
											<label for="city-company" class="sr-only">{$ 'city_label' | trans $}</label>
											<span class="error-text">{$ 'form_city_error' | trans $}</span>
										</div>
										<select id="country-company" name="country" title="{$ 'country_label' | trans | e( 'html_attr' ) $}"
												data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true, "maxVisibleItems": 6}'
												class="no-outline country-select">
											{% for countryCode in COUNTRIES %}
												<option value="{$ countryCode $}">{$ ( 'country_option_' ~ countryCode ) | trans $}</option>
											{% endfor %}
										</select>
									</div>
									<div class="wrap-check">
										<div>
											<input type="checkbox" id="donation-receipt-company" name="donationReceipt" value="0" data-jcf='{"wrapNative": true}' class="jcf">
											<label for="donation-receipt-company">
												{$ 'membership-no-donation-receipt' | trans $}
											</label>
										</div>
									</div>
								</div>

							</div>

						</fieldset>
					</section>

					<section id="donation-amount" class="donation-amount clearfix">
						<h2>{$ 'membership_section_fee_title' | trans $}</h2>

						<p class="legend">{$ 'membership_section_fee_legend' | trans $}</p>

						<div class="error-container">
							<span class="error-text">{$ 'form_membership_fee_error' | trans $}</span>
						</div>

						<fieldset id="recurrence"
								  class="show-info padding-right-4 col-xs-12 col-sm-8 col-sm-offset-right-4 col-md-6 col-md-offset-right-7 no-gutter-left wrap-recurrence">
							<legend class="sr-only">{$ 'membership_section_interval_legend' | trans $}</legend>

							{% include 'partials/payment_intervals.html.twig' with { 'context': 'membership', 'intervals': PAYMENT_INTERVALS, 'fieldName': 'membership_fee_interval' } only %}

							<div class="more-info">
								<p>{$ 'membership_section_fee_minimum_info' | trans $}</p>
								<p>{$ 'membership_section_fee_reduction_info' | trans $}</p>
							</div>
						</fieldset>

						<fieldset
								class="amount-qty padding-right-4 col-xs-12 col-sm-8 col-sm-offset-right-4 col-md-6 col-md-offset-right-7 no-gutter-left">
							<legend class="sr-only">{$ 'membership_section_fee_legend' | trans $}</legend>
							<div class="wrap-amounts">
								{% include 'partials/payment_preset_amounts.html.twig' with { 'presetAmounts': presetAmounts } %}

								<div class="wrap-amount-typed field-grp" data-currency="€">
									<input type="text" id="amount-typed">
								</div>
								<input type="hidden" name="membership_fee" id="amount-hidden">
								<label for="amount-typed" class="sr-only">{$ 'payment_amount_legend' | trans $}</label>
							</div>
						</fieldset>
					</section>

					<section id="donation-payment" class="donation-payment-method clearfix">
						<h2>{$ 'membership_section_payment_title' | trans $}</h2>

						<div class="error-container">
							<span class="error-text">{$ 'form_membership_payment_error' | trans $}</span>
						</div>

						<fieldset id="payment-method"
								class="show-info padding-right-4 col-xs-12 col-sm-8 col-sm-offset-right-4 col-md-6 col-md-offset-right-7 no-gutter-left wrap-payment">
							<legend class="sr-only">{$ 'membership_section_payment_legend' | trans $}</legend>

							{% include 'partials/payment_types.html.twig' with { 'paymentTypes': paymentTypes, 'fieldName': 'payment_type' } only %}

							{# Hidden fields, filled from store - bridge backend field names not compatible with reusable frontend components #}
							<input name="account_number" type="hidden">
							<input name="bank_code" type="hidden">
						</fieldset>
					</section>

				</div>

				{% include 'partials/membership/state-bar.html.twig' %}

			</div>
		</div>
		<hr id="form-end">

		{% include 'partials/membership/overview.html.twig' %}

		<div class="fixed-button hidden-lg">
			<div class="switch-container container-fluid container">
				<div class="row">
					<div class=" col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 clearfix">
						<input type="submit" value="{$ 'membership_submit' | trans | e( 'html_attr' ) $}" class="btn btn-donation">
					</div>
				</div>
			</div>
		</div>

		<div id="submit-bottom">
			<input type="submit" value="{$ 'membership_submit' | trans | e( 'html_attr' ) $}" class="btn btn-donation visible-xs-block">
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script src="{$ basepath|e('html_attr') $}{$ '/skins/cat17/scripts/wmde.js'|prefix_file $}"></script>
	<script id="init-form" src="{$ basepath|e('html_attr') $}{$ '/skins/cat17/scripts/membershipForm.js'|prefix_file $}"
		data-initial-form-values="{$ initialFormValues | json_encode | e( 'html_attr' ) $}"
		data-violated-fields="{% if violatedFields %}{$ violatedFields|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
		data-initial-validation-result="{% if initialValidationResult %}{$ initialValidationResult|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
		data-validate-fee-url="{$ basepath|e('html_attr') $}/validate-fee"
		data-validate-address-url="{$ basepath|e('html_attr') $}/validate-address"
		data-validate-email-address-url="{$ basepath|e('html_attr') $}/validate-email"
		data-validate-iban-url="{$ basepath $}/check-iban"
		data-generate-iban-url="{$ basepath $}/generate-iban"
		data-messages="{$ messages $}"></script>
{% endblock %}
