{% extends 'Base_Layout.html.twig' %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="content col-xs-12 col-sm-10 col-md-8">
				{$ message|default( 'page_not_found' )|trans()|raw $}
			</div>
		</div>
	</div>
{% endblock %}
