{% extends 'page_layouts/base.html.twig' %}

{% block page_identifier %}update=address{% endblock%}

{% block main %}
	<div>
		<input hidden id="addressToken" value="{$ addressToken $}">
	</div>
{% endblock %}

{% block scripts %}

{% endblock %}