{% extends 'page_layouts/base.html.twig' %}

{% block page_identifier %}update-address{% endblock%}

{% block main %}
	<div id="updateAddress" data-address-token="{$ addressToken $}" data-is-company="{$ isCompany $}">
	</div>
{% endblock %}

{% block scripts %}
	<script src="{$ basepath $}/skins/cat17/scripts/addressForm.js"></script>
{% endblock %}