.btn {
   	width: 100%;
	&.btn-donation, &.btn-membership {
		display: block;
		@include themify($themes) {
			background-color: themed('brandPrimary');
		}

		color: #fff;
		margin:0 auto;
		width: 100%;
		height: 66px;
		pointer-events: auto;
		&:hover, &:focus {
			@include themify($themes) {
				background-color: themed('brandPrimaryDark');
			}
			color: #fff;
		}
		&:active {
			margin: 0 auto;
			width: 90%;
			@include bkp(xs) {
			}
		}
		&.btn-unactive {
			background-color: $gray-light;
			color: #ffffff;
			pointer-events: none;
		}

		@include bkp(xs) {
			//max-width: 280px;
		}
		@include bkp(sm) {
			max-width: 226px;
			float: right;
		}
	}
	&.btn-membership {
		height: 44px;
		padding-top: 10px;
		color: #fff;
		&.btn-unactive {
			background-color: $gray-light;
			color: $text-color;
		}
	}
	&.btn-donation.btn-introduction {
		height: 44px;
		padding-top: 10px;
		@include bkp(md) {
			display: none;
		}
	}

}

