@font-face {
	font-family: 'icomoon';
	src:  url('../assets/fonts/wikimedia/icomoonwikimedia.eot?qopruf');
	src:  url('../assets/fonts/wikimedia/icomoonwikimedia.eot?qopruf#iefix') format('embedded-opentype'),
	url('../assets/fonts/wikimedia/icomoonwikimedia.ttf?qopruf') format('truetype'),
	url('../assets/fonts/wikimedia/icomoonwikimedia.woff?qopruf') format('woff'),
	url('../assets/fonts/wikimedia/icomoonwikimedia.svg?qopruf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 24px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-SEPA-2:before {
	content: "\e901";
	//font-size: 26px;
}
.icon-ubeiwsung-1:before {
	content: "\e902";
	//font-size: 26px;
}
.icon-account_circle:before {
	content: "\e853";
}
.icon-phone:before {
	content: "\e0cd";
}
.icon-close:before {
	content: "\e5cd";
}
.icon-comment:before {
	content: "\e0b9";
}
.icon-mode_edit:before {
	content: "\e254";
}
.icon-done:before {
	content: "\e876";
}
.icon-error:before {
	content: "\e000";
}
.icon-favorite:before {
	content: "\e87d";
}
.icon-flash_on:before {
	content: "\e3e7";
}
.icon-lock:before {
	content: "\e897";
}
.icon-keyboard_arrow_down:before {
	content: "\e313";
}
.icon-keyboard_arrow_left:before {
	content: "\e314";
}
.icon-keyboard_arrow_right:before {
	content: "\e315";
}
.icon-keyboard_arrow_up:before {
	content: "\e316";
}
.icon-menu:before {
	content: "\e5d2";
}
.icon-visibility:before {
	content: "\e8f4";
}
.icon-repeat:before {
	content: "\e040";
}
.icon-repeat_one:before {
	content: "\e041";
}
.icon-visibility_off:before {
	content: "\e8f5";
}
.icon-work:before {
	content: "\e8f9";
}
.icon-credit_card2:before {
	content: "\e900";
	font-size: 18px;
}
.icon-facebook:before {
	content: "\e905";
}
.icon-paypal:before {
	content: "\e906";
	font-size: 18px;
}
.icon-repeat_1:before {
	content: "\e907";
}
.icon-repeat_3:before {
	content: "\e908";
}
.icon-repeat_6:before {
	content: "\e909";
}
.icon-repeat_12:before {
	content: "\e90a";
}
.icon-twitter:before {
	content: "\e90b";
}
.icon-unique:before {
	content: "\e90c";
}
