
input[type=number] {
	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0; /* Removes leftover margin */
}

input::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
}

input.novalid, input.invalid {
	border-bottom: 2px solid $brand-error;
	background-color: $brand-error-rgba;
}

.field-grp {
	margin-bottom: 0;
	position: relative;

	&.valid {
		input[type="text"], input[type="email"] {
			@include themify($themes) {
				background-color: themed('fieldSelected');
				border-bottom: themed('border2pxfieldSelected');
			}
		//	background-color: $bk-selected;
	//		border-bottom: 2px solid $bk-selected;
		}
		&:after {
			content: '\e876';
			position: absolute;
			right: 12px;
			top: 10px;
			font-family: "icomoon";
			font-size: 20px;
		}
	}
	&.invalid {
		input[type="text"], input[type="email"] {
			@include themify($themes) {
				background-color: themed('brandErrorRgba');
				border-bottom: themed('border2pxError');
			}
			&:hover {
				@include themify($themes) {
					border-bottom: themed('border2pxError');
				}
			}
		//	background-color: $brand-error-rgba;
	//		border-bottom: 2px solid $brand-error;
		}
	}

	input[type="text"], input[type="email"] {

		@include themify($themes) {
			background-color: themed('fieldNormal');
			border-bottom: themed('border2pxfieldSelected');
		}
	//	background-color: $brand-footer;
		//border-bottom: 2px solid $brand-footer;
		width: 100%;
		height: 48px;
		padding: 13px 16px;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 12px;
		border: none;

		@include bkp(sm) {
			font-size: 14px;
		}
		@include bkp(lg) {
			font-size: 12px;
		}
		&:hover {
			//border-bottom: 2px solid $brand-primary;
			@include themify($themes) {
				border-bottom: themed('border2pxPrimary');
			}
		}
		&:focus {
			outline: none;
			@include themify($themes) {
				background-color: themed('fieldSelected');
				border-bottom: themed('border2pxPrimary');
			}
		}
	}
}


label {
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	@include bkp(sm) {
		font-size: 14px;
	}
	@include bkp(lg) {
		font-size: 12px;
	}
}

.legend {
	font-size: 16px;
	margin-bottom: 15px;
    @include bkp(md) {
        width: 80%;
    }
}

.wrap-input, .wrap-check {
	input {
		opacity: 0;
	}
	input:checked + label, &:hover label {
		&:after {
			content: '';
			background: $brand-primary;
			@include themify($themes) {
				background-color: themed('brandPrimary');
				border-bottom: themed('border2pxPrimary');
			}
			border-radius: 100%;
			border: none;
			width: 10px;
			height: 10px;
			position: absolute;
			left: -30px;
			top: 8px;
			margin-right: 1em;
			vertical-align: top;
			cursor: pointer;
			text-align: center;
			transition: all 250ms ease;
		}
		&.news:after {
			border-radius: 0;
		}
	}
	label {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-left: 25px;
		margin-bottom: 0;
		padding-bottom: 20px;
		position: relative;
		&:before {
			content: '';
			background: $white;
			border-radius: 100%;
			border: 1px solid black;
			width: 16px;
			height: 16px;
			position: absolute;
			left: -33px;
			top: 5px;
			margin-right: 1em;
			vertical-align: top;
			cursor: pointer;
			text-align: center;
			transition: all 250ms ease;
		}
	}

}
.wrap-check {
	input:checked + label {
		&:after {
			border-radius: 0;
		}
	}
	label {
		margin-bottom: 50px;
		&:before {
			border-radius: 0;
		}
	}
}
.wrap-input {
	&.disabled {
		pointer-events: none;
		label:before {
			border-color: $gray-light;
		}
		span, i {
			color: $gray-light;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $text-color;
}
::-moz-placeholder { /* Firefox 19+ */
	color:  $text-color;
	opacity: 1;

}
:-ms-input-placeholder { /* IE 10+ */
	color: $text-color;

}
:-moz-placeholder { /* Firefox 18- */
	color: $text-color;

}

//select custom style





.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

p.legend {
	//width: 70%;
}
.wrap-select-50 {
	.jcf-select {
		width: 48%;
		float: left;
		margin-right: 4%;
		min-width: 116px;
		&:last-child {
			margin-right: 0;
		}
	}
	.select-styled {
		&:after {
			right: 10px;
		}
	}
}

.jcf-list {
	font-size: 16px;
	@include bkp(md) {
		font-size: 12px;
	}
}


.select, .jcf-select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: $select-color;
	width: $select-width;
	height: $select-height;
	padding: 13px 16px;
	margin-bottom: 12px;
	@include themify($themes) {
		background-color: themed('fieldNormal');
		border: themed('border2pxfieldNormal');
	}
	cursor: pointer;
	font-weight: 300;
	@include bkp(sm) {
		font-size: 14px;
	}
	@include bkp(md) {
		font-size: 12px;
	}
	&.selected-item {
		@include themify($themes) {
			background-color: themed('fieldSelected');
			border: themed('border2pxfieldSelected');
		}
	}

	.jcf-select-text {
		margin: 0;
		cursor: pointer;
		font-size: 16px;
		@include bkp(sm) {
			font-size: 14px;
		}
		@include bkp(lg) {
			font-size: 12px;
		}
	}

	.jcf-select-opener {
		background-color: $select-background;
		width: 0;
	}

	&.jcf-focus, &.jcf-focus * {
		// border-color: transparent!important;
	}

	&:after {
		content:"";
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: $select-color transparent transparent transparent;
		position: absolute;
		top: 23px;
		right: 13px;
	}
	&:hover {
		//border-bottom: 2px solid $brand-primary;
		@include themify($themes) {
			border-bottom: themed('border2pxPrimary');
		}
		cursor: pointer;
		&:after {
			border-color: $brand-primary transparent transparent transparent;
		}
	}
	&.jcf-drop-active {
		&:hover {
			@include themify($themes) {
				border-bottom: themed('border2pxPrimary');
			}
			&:after {
				border-color: $brand-primary transparent transparent transparent;
			}
		}
		&:active, &.jcf-focus {
			@include themify($themes) {
				background-color: themed('fieldNormal');
			}

			//border: 2px solid $brand-primary !important;
			&:after {
				border-color: $brand-primary transparent transparent transparent !important;
			}
			@include bkp(sm) {
				border-bottom: none !important;
			}
		}
	}
	&:active, &.active {
		@include themify($themes) {
			background-color: themed('fieldNormal');
			border: themed('border2pxPrimary');
		}

		&:after {
			border-color: $brand-primary transparent transparent transparent;
		}
		@include bkp(sm) {
			border-bottom: none;
		}
	}
}
#form-donation .jcf-select.jcf-select-jcf-hidden.jcf-focus, #form-donation .jcf-select.jcf-select-jcf-hidden.jcf-focus * {
	//border-color: transparent !important;
}
.jcf-unselectable.jcf-focus {
	border-color: transparent !important;
}

#form-donation .jcf-select.jcf-select-jcf-hidden.jcf-drop-active.jcf-focus, #form-donation .jcf-select.jcf-select-jcf-hidden.jcf-drop-active.jcf-focus * {
	border-color: $brand-primary !important;
}

.jcf-select-drop .jcf-select-drop-content {
	border: none;
	@include themify($themes) {
		background-color: themed('fieldSelected');
		border: themed('border2pxPrimary');
	}
	border-top: none !important;
	li span {
		margin: 0;
		padding: 15px 13px 15px 16px;
		font-weight: 300;
		//font-size: 16px;
		//border-bottom: 1px solid $gray-lighter;
		@include themify($themes) {
			background-color: themed('fieldSelected');
		}
		//background-color: $bk-selected;
		cursor: pointer;
		color: black;

		&[rel="hide"] {
			display: none;
		}
	}
	.jcf-list-content {
		.jcf-hover, .jcf-selected {
			// background: none;
			color: $text-color;
			&:hover {
				// background: $brand-primary-dark;
				@include themify($themes) {
					background-color: themed('brandPrimaryDark');
				}
				color: $white;
			}
		}
	}
	.jcf-option-hideme {
		display: none;
	}
}
.jcf-scrollbar-vertical {
	//background-color: $brand-primary;
	@include themify($themes) {
		background-color: themed('brandPrimary');
	}
	.jcf-scrollbar-dec, .jcf-scrollbar-inc {
		//	background-color: $brand-primary;
		@include themify($themes) {
			background-color: themed('brandPrimary');
		}
	}
	.jcf-scrollbar-handle {
		//	background-color: $brand-primary-dark;
		@include themify($themes) {
			background-color: themed('brandPrimaryDark');
		}
	}
}















