@import './variables';

.funds_distribution_info {
	display: none;
	@media (min-width: $use_of_funds_breakpoint_m) {
		display: block;
	}
	&__graph {
		display: flex;
		cursor: pointer;
	}

	&__text {
		display: none;
		font-size: 14px;
		margin-bottom: 14px;
		max-width: 635px;
		min-height: 130px;
	}
	/* 1st child is the graph */
	&__text:nth-child( 2 ) {
		margin: 0 auto 14px 0;
	}
	&__text:nth-child( 3 ) {
		margin: 0 auto 14px 60px;
	}
	&__text:nth-child( 4 ) {
		margin: 0 auto 14px auto;
	}
	&__text:nth-child( 5 ) {
		margin: 0 60px 14px auto;
	}
	&__text:nth-child( 6 ) {
		margin: 0 0 14px auto;
	}
	&__text.active {
		display: block;
	}

	.funds_distribution_info_item {
		&__title {
			font-weight: bold;
			margin-bottom: 2px;
			white-space: nowrap;
			font-size: 11px; /* On smaller viewports, the accordion will take over */

			@media ( min-width: $use_of_funds_breakpoint_l ) {
				font-size: 90%;
			}
		}
		&__box {
			position: relative;
			line-height: 50px;
			box-sizing: border-box;
			padding-left: 16px;
			color: #ffffff;
			margin-bottom: 24px;
		}

		/* diamond indicator on the bottom */
		&.active .funds_distribution_info_item__box:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-bottom: 0;
			margin-left: -20px;
			margin-bottom: -18px;
		}

		&--software {
			.funds_distribution_info_item__title {
				color: #808080;
			}
			.funds_distribution_info_item__box {
				background-color: #808080;
			}
			&.active .funds_distribution_info_item__box:after {
				border-top-color: #808080;
			}
		}
		&--international {
			.funds_distribution_info_item__title {
				color: #0ea789;
			}
			.funds_distribution_info_item__box {
				background-color: #0ea789;
			}
			&.active .funds_distribution_info_item__box:after {
				border-top-color: #0ea789;
			}
		}
		&--communities {
			.funds_distribution_info_item__title {
				color: #f24825;
			}
			.funds_distribution_info_item__box {
				background-color: #f24825;
			}
			&.active .funds_distribution_info_item__box:after {
				border-top-color: #f24825;
			}
		}
		&--society {
			.funds_distribution_info_item__title {
				color: #9410ac;
			}
			.funds_distribution_info_item__box {
				background-color: #9410ac;
			}
			&.active .funds_distribution_info_item__box:after {
				border-top-color: #9410ac;
			}
		}
		&--operative {
			.funds_distribution_info_item__title {
				color: #8ed14f;
			}
			.funds_distribution_info_item__box {
				background-color: #8ed14f;
			}
			&.active .funds_distribution_info_item__box:after {
				border-top-color: #8ed14f;
			}
		}
	}
}
