<div class="back-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8">
	<ul class="list-menu link-reverse link-back list-unstyled">
		<li><a href="{$ path( '/' ) $}" class="">{$ 'back_to_donation' | trans $}</a></li>
	</ul>
</div>
