<footer class="footer hidden-print" role="contentinfo">
	<div class="container">
		<div class="row">

			<a class="logo-footer col-xs-12 col-sm-3 col-md-3" href="{$ path( '/' ) $}">
				<span class="img-bk"></span>
			</a>
			<div class="bank-data-footer col-xs-12 col-sm-5 col-md-5">
				<div class="bank-data-content">
					<p>{$ 'account_owner' | trans $}: {$ 'operator_account_owner_value' | trans $}</p>
					<p>{$ 'iban' | trans $}:<span class="spacer"></span>{% include 'partials/iban_format.html.twig' only %}</p>
					<p>{$ 'bic' | trans $}: {$ 'operator_account_bic' | trans $}</p>
					<p>{$ 'bank' | trans $}</p>
					<p>{$ 'account_number' | trans $}: {$ 'operator_account_number' | trans $}</p>
					<p>{$ 'blz' | trans $}: {$ 'operator_account_blz' | trans $}</p>
				</div>
			</div>
			<nav class="menu menu-footer col-xs-12 col-sm-4 col-md-4">
				<ul class="list-menu list-unstyled">
					<li>
						<a href="{$ path( 'contact' ) $}">
							<span>Kontakt</span>
						</a>
					</li>
					<li>
						<a href="{$ path( 'page', { pageName: 'Impressum' } ) $}">
							<span>{$ 'imprint'| trans( {}, 'pageTitles' ) $}</span>
						</a>
					</li>
					<li>
						<a href="{$ path( 'page', { pageName: 'Datenschutz' } ) $}">
							<span>{$ 'privacy_protection'| trans( {}, 'pageTitles' ) $}</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
