<header class="header" role="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 wrap-header">
				<h1><span class="sr-only">Wikimedia Deutschland Spendenkampagne</span>
					<a class="logo-main" href="{$ path( '/' ) $}">
						<img src="{$ basepath $}/skins/cat17/assets/images/logo-horizontal-wikimedia.svg" alt="Wikimedia Deutschland">
					</a>
				</h1>

				<div class="wrap-menu ">
					<input id="menu-toggler" type="checkbox" class="jcf-ignore"/>

					<div class="menu-toggler">
						<label for="menu-toggler">
							<span class="menu-toggler-line"></span>
							<span class="menu-toggler-line"></span>
							<span class="menu-toggler-line"></span>
						</label>
					</div>
					<nav class="menu menu-main">
						<ul class="list-unstyled list-inline">
							<li class="col-xs-12 col-sm-6 no-gutter{% if page_identifier == 'comments-list' %} selected{% endif %}">
								<a href="{$ path( 'list-comments.html' ) $}">
									<span class="text">Spendenkommentare</span><i class="icon-keyboard_arrow_right"></i>
								</a>
							</li>
							<li class="col-xs-12 col-sm-6 no-gutter{% if page_identifier == 'supporters' %} selected{% endif %}">
								<a href="{$ path( 'page', { pageName: 'Unterstützerliste' } ) $}">
									<span class="text">Unterstützerliste</span><i class="icon-keyboard_arrow_right"></i>
								</a>
							</li>
							<li class="col-xs-12 col-sm-6 no-gutter{% if page_identifier == 'use_of_resources' %} selected{% endif %}">
								<a href="{$ path( 'page', { pageName: 'Transparenz' } ) $}">
									<span class="text">Mittelverwendung</span><i class="icon-keyboard_arrow_right"></i>
								</a>
							</li>
							<li class="col-xs-12 col-sm-6 no-gutter{% if page_identifier == 'donation_receipt' %} selected{% endif %}">
								<a href="{$ path( 'page', { pageName: 'Spendenquittung' } ) $}">
									<span class="text">Steuerlich absetzbar</span><i class="icon-keyboard_arrow_right"></i>
								</a>
							</li>
							<li class="col-xs-12 col-sm-6 col-sm-offset-6 no-gutter clearfix">
								<div class="other-info other-info-lateral">
									<div class="other-text">
										<span><i class="icon-lock"></i></span>
										<span class="text">{$ 'notice_ssl_encrypted' | trans $}</span>
									</div>
									<div class="other-text">
										<span><i class="icon-phone"></i></span>
										<span class="text">{$ 'wikimedia_hotline' | trans $}</span>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
