{% set PAYMENT_INTERVAL_OPTIONS = {
	0:  { 'id': 'one-time', 'icon': 'icon-unique' },
	1:  { 'id': 'monthly', 'icon': 'icon-repeat_1' },
	3:  { 'id': 'quarterly', 'icon': 'icon-repeat_3' },
	6:  { 'id': 'biannual', 'icon': 'icon-repeat_6' },
	12: { 'id': 'yearly', 'icon': 'icon-repeat_12' }
} %}
{% spaceless %}
{% for interval in [ 0, 1, 3, 6, 12 ] %}
	<div class="wrap-field">
		<div class="wrap-input">
			{% if interval == 0 %}
				<input type="radio" name="intervalType" id="regular" value="1" class="hidden">
				<input type="radio" name="intervalType" id="one-time" value="0">
			{% else %}
				<input type="radio" name="periode" id="{$ PAYMENT_INTERVAL_OPTIONS[interval].id $}" value="{$ interval $}">
			{% endif %}
			<label for="{$ PAYMENT_INTERVAL_OPTIONS[interval].id $}">
				<span>{$ interval | trans( {}, 'paymentIntervals' ) $}</span>
				<i class="{$ PAYMENT_INTERVAL_OPTIONS[interval].icon $}"></i>
			</label>
		</div>

		<p class="info-text" data-info="{$ PAYMENT_INTERVAL_OPTIONS[interval].id $}">
			{$ ( 'payment_interval_' ~ interval ~ '_info' ) | trans $}
		</p>
	</div>
{% endfor %}
{% endspaceless %}
