{# paramters:
	paymentTypes List of payment types to actually show
	fieldName Name of the form fields used to submit the selected payment type
#}
{% set PAYMENT_TYPE_OPTIONS = {
	'PPL': { 'id': 'paypal', 'icon': 'icon-payment-paypal' },
	'MCP': { 'id': 'credit-card', 'icon': 'icon-payment-credit_card' },
	'BEZ': { 'id': 'debit-card', 'icon': 'icon-payment-debit' },
	'UEB': { 'id': 'bank-transfer', 'icon': 'icon-payment-transfer' },
	'SUB': { 'id': 'sofort', 'icon': 'icon-payment-sofort' }
} %}
{% spaceless %}
{% for paymentType in paymentTypes %}
	<div class="wrap-field" data-info-text="{$ ( 'payment_type_' ~ paymentType ~ '_info' ) | trans | e( 'html_attr' ) $}">
		<div class="wrap-input">
			<input type="radio" name="{$ fieldName $}" id="{$ PAYMENT_TYPE_OPTIONS[paymentType].id $}" value="{$ paymentType $}">
			<label for="{$ PAYMENT_TYPE_OPTIONS[paymentType].id $}">
				<span>{$ paymentType|trans({}, 'paymentTypes') $}</span>
				<i class="{$ PAYMENT_TYPE_OPTIONS[paymentType].icon $}"></i>
			</label>
		</div>
		<div class="info-text" data-info="{$ PAYMENT_TYPE_OPTIONS[paymentType].id $}">
			{% include [
				'partials/payment_type_info/' ~ paymentType ~ '.html.twig',
				'partials/payment_type_info/_default.html.twig'
			] with { 'paymentType': paymentType } only %}
		</div>
	</div>
{% endfor %}
{% endspaceless %}
