{# parameters:
	intervals List of interval types to actually show
	fieldName Name of the form fields used to submit the selected interval
	context The context by which this partial was included (can be either `membership` or `donation`)
#}
{% set PAYMENT_INTERVAL_OPTIONS = {
	0:  { 'id': 'one-time', 'icon': 'icon-unique' },
	1:  { 'id': 'monthly', 'icon': 'icon-repeat_1' },
	3:  { 'id': 'quarterly', 'icon': 'icon-repeat_3' },
	6:  { 'id': 'biannual', 'icon': 'icon-repeat_6' },
	12: { 'id': 'yearly', 'icon': 'icon-repeat_12' }
} %}
{% spaceless %}
{% for interval in intervals %}
	<div class="wrap-field" data-info-text="{$ ( 'payment_interval_' ~ interval ~ '_info' ) | trans | e( 'html_attr' ) $}">
		<div class="wrap-input">
			<input type="radio" name="{$ fieldName $}" id="{$ PAYMENT_INTERVAL_OPTIONS[interval].id $}" value="{$ interval $}">
			<label for="{$ PAYMENT_INTERVAL_OPTIONS[interval].id $}">
				<span>{$ interval | trans( {}, 'paymentIntervals' ) $}</span>
				<i class="{$ PAYMENT_INTERVAL_OPTIONS[interval].icon $}"></i>
			</label>
		</div>

		<p class="info-text" data-info="{$ PAYMENT_INTERVAL_OPTIONS[interval].id $}">
			{$ ( context ~ '_payment_interval_' ~ interval ~ '_info' ) | trans $}
		</p>
	</div>
{% endfor %}
{% endspaceless %}
