{% spaceless %}
{% for amount in presetAmounts %}
	<div class="wrap-radio">
		<input type="radio" name="betrag" id="amount{$ loop.index $}" value="{$ amount $}">
		<label for="amount{$ loop.index $}">{$ amount $} €</label>
	</div>
{% endfor %}
{% endspaceless %}