<div class="introduction container default">
	<div class="row">
		<div class="col-xs-12">
            <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots -->
            <h2 class="sr-only">Donation wikimedia page</h2>
			<p class="h1">Die Wikimedia Fördergesellschaft ist eine unabhängige gemeinnützige Organisation, die in Deutschland Spenden für <a class="link" href="https://de.wikipedia.org/wiki/Wikipedia:Hauptseite">Wikipedia</a> und die anderen Wikimedia-Projekte sammelt.</p>
			<a href="#donation-amount" class="btn btn-donation btn-introduction bk-blue text-center text-uppercase">Jetzt spendenn</a>
		</div>
	</div>
</div>

<div class="introduction banner container hidden">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<p class="h1">
                Sie wollen
                <span class="frequency"><span class="text strong"></span></span>
                <span class="amount"><span class="text strong" data-display-error="false"></span></span> per
                <span class="payment-method"><span class="text strong"></span></span>
                spenden.</p>
			<p class="subtitle">Die Wikimedia Fördergesellschaft ist eine unabhängige gemeinnützige Organisation, die in Deutschland Spenden für Wikipedia und die anderen Wikimedia-Projekte sammelt.</p>
		</div>
		<div class="link-back col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4">
			<a href="/" class="">Das stimmt nicht? Hier können<br> Sie Ihre Angaben ändern.</a>
		</div>
	</div>
</div>
