<footer class="footer" role="contentinfo">
		<div class="container">
			<div class="row">


			<a class="logo-footer col-xs-12 col-sm-7 col-md-8" href="index.html">
				<span class="img-bk"></span>
			</a>

			<nav class="menu menu-footer col-xs-12 col-sm-5 col-md-4">
				<ul class="list-menu list-unstyled">
					<li><a href="#"><span>Kontakt</span></a></li>
					<li><a href="#"><span>Impressum</span></a></li>
					<li><a href="#"><span>Datenschutz</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
</div>
<!--build:js js/main.min.js -->
<script type="text/javascript" src="scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="scripts/vendor/jcf/jcf.js"></script>
<script type="text/javascript" src="scripts/vendor/jcf/jcf.select.js"></script>
<script type="text/javascript" src="scripts/vendor/jcf/jcf.scrollable.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<!-- endbuild -->

<script src="build/wmde.js"></script>
<script src="scripts/donationForm.js" id="init-form"
        data-initial-form-values="{}"
        data-violated-fields="{}"
        data-initial-validation-result="&#x7B;&quot;paymentData&quot;&#x3A;false&#x7D;"
        data-validate-amount-url="https://test-spenden-2.wikimedia.de/validate-payment-data"
        data-validate-address-url="https://test-spenden-2.wikimedia.de/validate-address"
        data-validate-email-address-url="https://test-spenden-2.wikimedia.de/validate-email"
        data-validate-iban-url="https://test-spenden-2.wikimedia.de/check-iban"
        data-generate-iban-url="https://test-spenden-2.wikimedia.de/generate-iban"
        ></script>

<script src="scripts/membershipForm.js" id="init-form" class="membership"
        data-initial-form-values="{&quot;paymentType&quot;:&quot;BEZ&quot;}"
        data-violated-fields="{}"
        data-validate-fee-url="https://test-spenden-2.wikimedia.de/validate-fee"
        data-validate-address-url="https://test-spenden-2.wikimedia.de/validate-address"
        data-validate-email-address-url="https://test-spenden-2.wikimedia.de/validate-email"
        data-validate-iban-url="https://test-spenden-2.wikimedia.de/check-iban"
        data-generate-iban-url="https://test-spenden-2.wikimedia.de/generate-iban">
        </script>

</body>
</html>
