
<header class="header" role="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 wrap-header">
				<h1><span class="sr-only">Wikimedia Deutschland Spendenkampagne</span>
					<a class="logo-main" href="index.html">
						<img src="assets/images/logo-horizontal-wikimedia.svg" alt="Wikimedia Deutschland">
					</a>
				</h1>

				<div class="wrap-menu ">
					<input id="menu-toggler" type="checkbox" class="jcf-ignore"/>

					<div class="menu-toggler">
						<label for="menu-toggler">
							<span class="menu-toggler-line"></span>
							<span class="menu-toggler-line"></span>
							<span class="menu-toggler-line"></span>
						</label>
					</div>
					<nav class="menu menu-main">
						<ul class="list-unstyled list-inline">
							<li class="col-xs-12 col-sm-6 no-gutter selected"><a href="comment-list.html"><span class="text">Spendenkommentare</span><i
									class="icon-keyboard_arrow_right"></i></a>
							</li>
							<li class="col-xs-12 col-sm-6 no-gutter"><a href="supporters-list.html"><span class="text">Unterstützerliste</span><i
									class="icon-keyboard_arrow_right"></i></a>
							</li>

							<li class="col-xs-12 col-sm-6 no-gutter"><a href="all-links.html"><span class="text">Mittelverwendung</span><i
									class="icon-keyboard_arrow_right"></i></a>
							</li>
							<li class="col-xs-12 col-sm-6 no-gutter"><a href="tax-deduction.html"><span class="text">Steuerlich absetzbar</span><i
									class="icon-keyboard_arrow_right"></i></a>
							</li>
							<li class="col-xs-12 col-sm-6 col-sm-offset-6 no-gutter">
								<div class="other-info other-info-lateral">
									<div class="other-text">
										<span><i class="icon-lock"></i></span>
										<span class="text">SSL-Verschlüsselte Daten.</span>
									</div>
									<div class="other-text">
										<span><i class="icon-phone"></i></span>
										<span class="text">030 / 21 91 58 26 - 0.</span>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
