<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Wikimedia Deutchland - @@title</title>
	<link rel="shortcut icon" href="assets/images/favicon.ico" />
	<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" href="scripts/vendor/jcf/jcf.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/print.css" media="print">
	<!--endbuild-->
</head>
<body id="@@classes" class="@@classes">
