<div class="introduction container">
	<div class="row">
		<div class="col-xs-12">
            <!-- ToDo: wikimedia-team add h2 adequate title in deutch, this title is only visible to screenreaders and robots -->
            <h2 class="sr-only">Membership page</h2>
			<p class="h1">Unterstützen Sie Freies Wissen nachhaltig. Werden Sie Mitglied für Freies Wissen!</p>
			<a href="#membership-type" class="btn btn-membership btn-introduction bk-blue text-center text-uppercase">Jetzt Mitglied werden</a>

		</div>

		<div class="resum col-xs-12 col-md-8">
			<h2>Vorteile einer <a class="link" href="#">Mitgliedschaft</a></h2>
			<ul class="list-membership">
				<li class="col-xs-12 col-sm-6">Langfristig und nachhaltig Wikipedia unterstützen.</li>
				<li class="col-xs-12 col-sm-6">Ihr Beitrag ist steuerlich absetzbar. Eine Zuwendungsbescheinigung wird Ihnen automatisch zugesendet.</li>
				<li class="col-xs-12 col-sm-6">Kostenfrei an Veranstaltungen rund um Wikipedia und Freies Wissen teilnehmen.</li>
				<li class="col-xs-12 col-sm-6">Aktiv Freies Wissen verbreiten.</li>
				<li class="col-xs-12 col-sm-6">Jederzeit formlos per E-Mail kündbar.</li>
			</ul>
		</div>

	</div>
</div>
