<div class="introduction container">
	<div class="row">
		<div class="col-xs-12">
			<p class="h1">Unterstützen Sie Freies Wissen nachhaltig. Werden Sie Mitglied für Freies Wissen!</p>
		</div>
		<div class="resum col-xs-12">
			<h2>Vorteile einer Mitgliedschaft</h2>
			<ul>
				<li>Langfristig und nachhaltig Wikipedia unterstützen.</li>
				<li>Ihr Beitrag ist steuerlich absetzbar. Eine Zuwendungsbescheinigung wird Ihnen automatisch zugesendet.</li>
				<li>Kostenfrei an Veranstaltungen rund um Wikipedia und Freies Wissen teilnehmen.</li>
				<li>Aktiv Freies Wissen verbreiten.</li>
				<li>Jederzeit formlos per E-Mail kündbar.</li>
			</ul>
			<a href="#membership-type" class="btn btn-donation btn-introduction bk-blue text-center text-uppercase">Jetzt Mitglied werden</a>
		</div>

	</div>
</div>
