<div class="container">
	<div class="row wrap-overview">
		<section id="overview" class="state-overview  col-sm-7 col-lg-12 clearfix">
			<h2>Übersicht</h2>

			<div class="overview no-gutter">


				<div class="wrap-field member-type col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#membership-type">
							<span class="text">Mitgliedschaft noch nicht ausgewählt</span>
							<i class="address-icon"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-type"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>


				<div class="wrap-field donator-type col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#donation-type">
							<span class="text">Daten noch nicht ausgewählt</span>
							<i class="address-icon"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-type"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>

				<div class="wrap-field amount disabled col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
						<a href="#donation-amount">
						    <span class="text">Betrag noch nicht ausgewählt.</span>
                            <i class="periodicity-icon icon-mode_edit"></i>
						</a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-amount"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>

				<div class="wrap-field payment-method disabled col-lg-4">
					<span class="border-bt"></span>
					<div class="wrap-input">
                        <a href="#donation-payment">
                            <span class="text">Zahlart noch nicht ausgewählt</span>
                            <i class="payment-icon"></i>
                        </a>
					</div>
					<div class="info-text-bottom">
						<a href="#donation-payment"><i class="icon-mode_edit link"></i></a>
						<div class="info-detail"></div>
					</div>
				</div>


			</div>
		</section>
		<div id="other-info" class="other-info col-sm-5 col-lg-4 col-lg-offset-8 clearfix">
			<input type="submit" value="Spende abschließen" class="btn btn-donation btn-unactive hidden-xs">
		</div>
	</div>
</div>
