
.page-contact {
	main {
		form {
			margin-top: 50px;
		}
		.field-grp {
			.contact-subject {
				@include bkp(sm) {
					max-width: 227px;
				}
			}
			textarea {
				height: 180px;
			}
			.error-text {
				display: block;
			}
		}
		.wrap-submit {
			margin-top: 40px;
			@include bkp(sm) {
				margin-top: 80px;
			}
		}
		input[type="submit"] {
			position: relative;
			margin: 0 -300px;
			width: 900px;
			height: 66px;
			@include bkp(sm) {
				max-width: 100%;
				display: flex;
				margin: 0 auto;
				padding: 0;
				height: 45px;
			}
		}
		.list-menu {
			margin-top: 30px;
		}
	}
}
