
.page-contact {
	main {
		form {
			margin-top: 50px;
		}
		.field-grp {
			textarea {
				height: 180px;
			}
			.error-text {
				display: block;
			}
			input, textarea {
				@include themify($themes) {
					background-color: themed('fieldNormal');
					border-bottom: themed('border2pxfieldNormal');
				}
				&.filled {
					@include themify($themes) {
						background-color: themed('fieldSelected');
						border-bottom: themed('border2pxfieldSelected');
					}
					&:hover {
						@include themify($themes) {
							border-bottom: themed('border2pxPrimary');
						}

					}
				}
			}
		}
		input[type="submit"] {
			position: relative;
			margin: 0 -300px;
			width: 900px;
			height: 66px;
			@include bkp(sm) {
				max-width: 100%;
				display: flex;
				margin: 0 auto;
				padding: 0;
				height: 45px;
			}
			@include bkp(xs) {
				max-width: 100%;
				display: flex;
				margin: 0 auto;
				padding: 0;
				height: 45px;
			}
		}
		.wrap-submit {
			width: 90%;
			display: flex;
			justify-content: center;
			@include bkp(sm) {
				margin-top: 70px;
			}
		}
		.list-menu {
			margin-top: 30px;
		}
	}
	@include bkp(smmax) {
		.content {
			padding-top: 24px; /* Add a bit more space to the submit button container so that it's visually separated from form fields but not too much */

			.link-back {
				a {
					margin-left: 0;
				}
			}
		}

		.list-menu {
			li {
				&::after {
					width: 100%;
				}
			}
		}
	}
}
