.page-donation-confirmation {

	p.h1,
	p.h2 {
		margin-bottom: 40px;
	}

	.list {
		&-unstyled {
			clear: both;
		}
		@include bkp(smmax) {
			&-menu {
				margin: 0 0 50px;
			}
		}
	}

	.action-block {
		margin-top: 30px;
		@include bkp(md) {
			margin-top: 64px;
		}

		.cancel {
			form {
				margin: 0;
				padding: 0;
				height: 100%;
				button {
					@extend a;
					padding: 0;
					font-weight: 300;
					height: 100%;
					width: 100%;
					position: relative;
					text-align: left;
					&:after {
						content: $icon-keyboard_arrow_right;
						position: absolute;
						right: -30px;
						font-family: 'icomoonwikimedia';
						font-size: 20px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}

	.switch-container {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.introduction {
		padding-top: 0;
		padding-bottom: 20px;
		@include bkp(xsmax) {
			.h2 {
				padding: 0 10px;
				margin: 0 auto;
				max-width: 350px;
			}
		}
	}

	.highlighted {
		border: 1px solid $brand-primary;
		padding-top: 0;
		margin-top: 45px;

		@media print {
			border: none;
		}
	}

	.receipt {
		&-info {
			padding: 0 0 10px;
			.btn {
				text-decoration: none;
			}
		}
		&-confirmation {
			font-size: 19px;
			display: block;
		}
	}

	.caption {
		color: rgba(0,0,0,.5);
		width: 80%;
		font-size: 12px;
		line-height: 17px;
		margin-top: 5px;
	}

	.main-form {
		display: none;
		> .container {
			position: relative;
		}
		.action-block {
			height: 100%;
			position: absolute;
			right: 0;
			bottom: 0;
			@include bkp(xsmax) {
				position: relative;
				float: left;
				width: 100%;
			}
		}
		.btn-donation {
			position: absolute;
			right: 0;
			bottom: 10px;
		}
	}

	.donation-data {
		padding: 0;
	}

	.show-info {
		padding-bottom: 100px;
	}

	.membership-benefits-box {
		display: none;
	}
}

@media print {
	.page-donation-confirmation {
		p.h1, p.h2 {
			font-size: $font-size-base;
			margin-top: 0;
			margin-bottom: 11px;
		}

		.transfer-data-list dd {
			font-family: monospace;
		}
	}
}
