.page-donation-conclusion {

	p.h1 {
		margin-bottom: 40px;
	}
	.list-unstyled {
		clear: both;
	}

	.text-moved {
		margin: 40px 0;
		@include bkp(sm) {
			margin: 80px 0 0;
			width: 55%;
		}
		@include bkp(md) {
			width: 85%;
		}
	}

	.cancel-block {
		margin-top: 30px;
		@include bkp(sm) {
			margin-top: -120px;
		}
		@include bkp(md) {
			margin-top: 64px;
		}
	}
	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}
}
