.page-donation-confirmation {

	p.h1,
	p.h2 {
		margin-bottom: 40px;
	}

	.list-unstyled {
		clear: both;
	}

	.action-block {
		margin-top: 30px;
		@include bkp(md) {
			margin-top: 64px;
		}

		.cancel {
			form {
				margin: 0;
				padding: 0;
				height: 100%;
				button {
					@extend a;
					padding: 0;
					font-weight: 300;
					height: 100%;
					width: 100%;
					position: relative;
					text-align: left;
					&:after {
						content: $icon-keyboard_arrow_right;
						position: absolute;
						right: -30px;
						font-family: 'icomoonwikimedia';
						font-size: 20px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}

	.switch-container {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.introduction {
		padding-top: 0;
		padding-bottom: 20px;
	}
}

@media print {
	.page-donation-confirmation {
		p.h1, p.h2 {
			font-size: $font-size-base;
			margin-top: 0;
			margin-bottom: 11px;
		}

		.transfer-data-list dd {
			font-family: monospace;
		}
	}
}
