.page-donation-comment {
  form {
    margin-top: 25px;
    fieldset {
      padding-top: 25px;
    }
  }

  textarea {
    height: 180px;
  }

  .success-message {
    color: $brand-primary;
    margin-left: 10px;
    margin-top: 10px;
  }

  .error-message {
    color: $brand-error;
    margin-left: 10px;
    margin-top: 10px;
  }
}