.page-donation-confirmation {

	p.h1,
	p.h2 {
		margin-bottom: 15px;
	}

	.list {
		&-unstyled {
			clear: both;
		}
		@include bkp(smmax) {
			&-menu {
				margin: 0 0 50px;
			}
		}
	}

	.action-block {
		margin-top: 30px;
		.cancel {
			form {
				margin: 0;
				padding: 0;
				height: 100%;
				button {
					@extend a;
					padding: 0;
					font-weight: 300;
					height: 100%;
					width: 100%;
					position: relative;
					text-align: left;
					&:after {
						content: $icon-keyboard_arrow_right;
						position: absolute;
						right: -30px;
						font-family: 'icomoonwikimedia';
						font-size: 20px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}

	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}

	.switch-container {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.introduction {
		padding-top: 0;
		padding-bottom: 20px;
		@include bkp(xsmax) {
			.h2 {
				padding: 0 10px;
				margin: 0 auto;
				max-width: 350px;
			}
		}
	}

	.highlighted {
		border: 1px solid $brand-primary;
		padding-top: 0;
		margin-top: 45px;

		@media print {
			border: none;
		}
	}

	.address-change {
		.highlighted {
			&.content {
				border: none;
				margin: 0;
			}
		}
		.receipt-info {
			border: 1px solid $brand-primary;
			margin: 30px -20px 0;
			padding: 10px 20px;
		}
	}

	.caption {
		color: rgba(0,0,0,.5);
		width: 80%;
		font-size: 12px;
		line-height: 17px;
		margin-top: 5px;
	}

	.main-form {
		box-shadow: none;
		display: none;
		margin: 0 0 50px;
		.btn {
			width: 100%;
			max-width: 100%;
			margin: 0;
		}
	}

	.donation-data {
		padding: 0;
	}

	.show-info {
		padding-bottom: 10px;
		@include bkp(md) {
			padding-bottom: 130px;
		}
	}

	.membership-benefits-box {
		h2 {
			border-bottom: solid 2px $brand-primary-membership;
			display: inline-block;

			/* Counteract styles from _layouts/memberships */
			@include bkp(xsmax) {
				&::after {
					border-bottom: none;
				}
			}
		}

		.content {
			padding-top: 0;
		}

		.call-to-action-box {
			background: $brand-primary-membership;
			color: $white;
			border-radius: 5px;
			padding: 15px;
		}

		.highlighted {
			border: solid 1px $brand-primary-membership;
		}

		.list-membership {
			li::before {
				color: $brand-primary-membership;
			}
		}

		.btn {
			background: $brand-primary-membership;
			margin-bottom: 25px;
		}

		@include bkp(md) {
			.action-block {
				margin: 0;
			}
		}
	}
}

@media print {
	.page-donation-confirmation {
		p.h1, p.h2 {
			font-size: $font-size-base;
			margin-top: 0;
			margin-bottom: 11px;
		}

		.transfer-data-list dd {
			font-family: monospace;
		}
	}
}
