.page-faq main {
	.primary-color {
		color: #7f7f7f;
	}
	.border-primary {
		border-bottom: 1px solid #ddd;
		&:hover {
			border-color: #000;
		}
	}
	.title-primary-color {
		color: inherit;
	}
	.secondary-color {
		color: #00adee;
	}
	.border-secondary {
		border-bottom: 1px solid #00adee;
	}
	#question i {
		font-size: 24px;
	}
	a {
		color: #00adee;
		cursor: pointer;
	}
	ul {
		list-style: none;
	}
	[class^="icon-"], [class*=" icon-"] {
		font-size: 18px;
		line-height: 2;
	}
	footer {
		margin-top: 50px;
	}
	input[type=text] {
		padding: 5px;
		border: none;
		width: 90%;
		height: 40px;
		background-color: #cfdbe2;
		font-size: 17px;
	}
	button {
		background-color: white;
		height: 40px;
		border: 1px solid #ddd;
		border-left: 0px;
	}
	input[type=text], button {
		display: inline-block;
	}
	.link {
		color: #00adee;
		cursor: pointer;
	}
	.preview {
		.title {
			color: #00adee;
			font-size: 22px;
		}
	}
	.topic {
		.title {
			color: initial;
			font-weight: bold;
			font-size: 16px;
		}
	}
	.form-shadow-wrap {
		margin-top: 60px;
		margin-left: -30px;
		padding: 40px 20px 3em 30px;
		width: 100%;
	}
	.sidebar {
		padding-left: 40px;
		h5 {
			margin-top: 130px;
			&.second-menu {
				margin-top: 40px;
				margin-bottom: 15px;
			}
		}
	}
	.inline {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 0px;
	}
	.inline-icon {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
	.clickable {
		cursor: pointer;
	}
	.open {
		border: 1px solid #00adee;
		border-top: none;
		width: 100%;
		padding: 1em;
	}
	.space-left {
		margin-left: 5px;
	}
	.space-around {
		padding: 1em 0;
	}
	.space-above {
		padding-top: 1em;
	}
	.space-below {
		padding-bottom: 1em;
	}
	.sidebar {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		.link {
			a {
				color: #7f7f7f;
				font-size: 12px;
			}
			&:hover {
				a {
					color: #000;
					font-size: 16px;
				}
			}
		}
		li {
			padding: 10px 0;
			&.underlined {
				border-bottom: 1px solid #ddd;
				&:hover {
					border-bottom: 1px solid #000;
				}
			}
		}
	}
	.second-menu li {
		padding: 0;
		line-height: 24px;
	}
	.active {
		color: #42bbee;
		font-size: 16px;
		border-bottom: 1px solid #42bbee;
	}
	.underlined {
		border-bottom: 2px solid #ddd;
	}

}