.page-faq main {
	a {
		color: #00adee;
	}
	ul {
		list-style: none;
	}
	.form-shadow-wrap {
		margin-top: 20px;
		margin-left: 0px;
		padding: 1em 20px 3em 45px;
		width: 100%;
	}
	.sidebar {
		padding-left: 40px;
		h5 {
			margin-top: 50px;
		}
	}
	footer {
		margin-top: 50px;
	}
	form.inline {
		display: flex;
		flex-direction: row;
		margin-top: 0px;
	}
	input[type=text] {
		padding: 5px;
		border: none;
		width: 625px;
		height: 40px;
		background-color: #cfdbe2;
		font-size: 17px;
	}
	button {
		background-color: white;
		height: 40px;
		border: 1px solid #ddd;
		border-left: 0px;
	}
	input[type=text], button {
		display: inline-block;
	}
	.space-left {
		margin-left: 5px;
	}
	.space-around {
		padding: 1em 0;
	}
	.underlined {
		border-bottom: 2px solid #ddd;
	}
	li.underlined:last-child {
		border-bottom: none;
	}
	.space-above {
		padding-top: 1em;
	}
}