.page-membership-confirmation {

	p.h1 {
		margin-bottom: 40px;
	}
	.list-unstyled {
		clear: both;
	}

	p {
		span {
			color: $brand-primary-membership;
		}
	}

	.text-moved {
		margin: 40px 0;
	}

	.btn-donation.btn-introduction {
		margin: 20px 0;
		width: 100%;
		max-width: 100%;
		height: 66px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		@include bkp(sm) {
			height: 45px;
		}
		@include bkp(md) {
			display: flex;
			margin-top: -50px;
			&.btn-side {
				margin-top: 0;
			}
		}
	}

	.cancel-block {
		margin-top: 30px;
		@include bkp(sm) {
			margin-top: -170px;
		}
		@include bkp(md) {
			margin-top: 45px;
		}
		@include bkp(lg) {
			margin-top: 16px;
		}
	}
	.footer {
		margin-top: 0;
		@include bkp(sm) {
			margin-top: 70px;
		}
	}

	.side {
		margin-top: -150px;
	}

	.down {
		@include bkp(sm) {
			margin-top : 200px;
		}
		@include bkp(md) {
			margin-top: 200px;
		}
		@include bkp(lg) {
			margin-top: 0;
		}
	}
	.link-back {
		@include bkp(lg) {
			margin-top: 40px;
		}
	}
}

@media print {
	.page-membership-confirmation {
		p.h1, p.h2 {
			font-size: $font-size-base;
			margin-top: 0;
			margin-bottom: 11px;
		}

		.transfer-data-list dd {
			font-family: monospace;
		}
	}
}
