<div class="container">
    <div class="row">
        <div class="content col-xs-12 col-md-8">

            <p class="h1">
                {$ 'donation_confirmation_head' | trans $}
                <br />
                {% if donation.interval == 0 %}
                    {$ 'donation_confirmation_head_summary_once' | trans( {
                        '%formattedAmount%': '<span class="strong">' ~ formattedAmount ~ '</span>',
                        '%paymentType%': '<span class="strong">' ~ donation.paymentType | trans( {}, 'paymentTypes' ) ~ '</span>',
                        '%interval%': '<span class="strong">' ~ donation.interval | trans( {}, 'paymentIntervals' ) ~ '</span>',
                        '%status_description%': donation.status|trans( {}, 'paymentStatus' )
                    } ) | raw $}
                {% else %}
                    {$ 'donation_confirmation_head_summary_recurring' | trans( {
                        '%formattedAmount%': '<span class="strong">' ~ formattedAmount ~ '</span>',
                        '%paymentType%': '<span class="strong">' ~ donation.paymentType | trans( {}, 'paymentTypes' ) ~ '</span>',
                        '%interval%': '<span class="strong">' ~ donation.interval | trans( {}, 'paymentIntervals' ) ~ '</span>',
                        '%status_description%': donation.status | trans( {}, 'paymentStatus' )
                    } ) | raw $}
                {% endif %}
            </p>

            <p class="h2">
                {$ "donation_confirmation_subhead_donation_number" | trans( {
                    '%donation.id%': '<span class="strong">' ~ donation.id ~ '</span>'
                } ) | raw $}
            </p>
            <p class="h2">
                {$ "donation_confirmation_subhead_direct_debit"| trans( {
                    '%formattedAmount%': '<span class="strong field-amount">' ~ formattedAmount  ~ '</span>',
                    '%interval%': '<span class="strong">' ~ donation.interval|trans({}, 'paymentIntervals') ~ '</span>',
                    '%paymentType%': '<span class="strong">' ~ donation.paymentType|trans( {}, 'paymentTypes' ) ~ '</span>',
                    '%status_description%': donation.status|trans( {}, 'paymentStatus' )
                } ) | raw $}
            </p>

            <p class="visible-print">
                {$ 'donation_confirmation_debit_briefing' | trans $}
            </p>

            {% if donation.optsIntoNewsletter %}
                <p>
                    {$ "donation_confirmation_opts_into_newsletter" | trans | raw $}
                </p>
            {% endif %}
        </div>
        <div class="action-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4 hidden-print">
            <ul class="list-menu link-back list-unstyled">
				{% include 'partials/donation_confirmation/link_print.html.twig' with {
					'label': 'donation_confirmation_print_confirmation_debit' | trans
				} only %}
                <li class="cancel">
                    <form action="{$ basepath $}/donation/cancel" method="post">
                        <button type="submit" name="go_storno" class="btn-link">{$ 'cancel_donation' | trans $}</button>
                        <input type="hidden" name="sid" value="{$ donation.id $}" />
                        <input type="hidden" name="utoken" value="{$ donation.updateToken $}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container hidden-print">
    <div class="row">
        <div class="content col-xs-12 col-md-8">
			{% include 'partials/membership/benefit_list.html.twig' with {
				'showActiveMembershipBenefits': true
			} only %}
        </div>
        <div class="action-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4">
            <a href="{$ basepath $}/apply-for-membership?donationId={$ donation.id $}&amp;donationAccessToken={$ donation.accessToken $}&amp;type=sustaining" class="btn btn-introduction bk-blue text-center text-uppercase">
                {$ "donation_confirmation_apply_for_membership" | trans $}
            </a>
        </div>
    </div>
</div>

<div class="container hidden-print">
    <div class="row">
        <nav class="content menu menu-footer col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
            <ul class="list-menu list-unstyled">
                <li><a href="{$ commentUrl $}"><span>{$ "add_donation_comment" | trans $}</span></a></li>
				{% include 'partials/share_on_social_networks.html.twig' %}
            </ul>
        </nav>
    </div>
</div>
