<div class="container">
    <div class="row">
        <div class="content highlighted col-xs-12 col-md-8">

            <p class="h1">
                {$ 'donation_confirmation_head_summary' | trans( {
                '%formattedAmount%': '<span class="strong">' ~ formattedAmount ~ '</span>',
                '%paymentType%': '<span class="strong">' ~ donation.paymentType | trans( {}, 'paymentTypes' ) ~ '</span>',
                '%interval%': '<span class="strong">' ~ donation.interval | trans( {}, 'paymentIntervals' ) ~ 'e</span>'
                } ) | raw $}
            </p>

            <p>
                {$ "donation_confirmation_subhead_direct_debit"| trans $}
            </p>

            <div class="visible-print">
                <h3>{$ 'donation_confirmation_debit_mandate_title' | trans $}</h3>

                <p>
                    {$ web_content( 'address_of_suborganization' ) | nl2br $}
                </p>

                <div class="row">
                    <div class="col-xs-6">
                        {% if address and not address.isAnonymous %}
                            <p>
                                {$ address.salutation $} {$ address.fullName $}<br/>
                                {$ address.streetAddress $}<br/>
                                {$ address.postalCode $} {$ address.city $}<br/>
                                {$ address.email $}
                            </p>
                        {% else %}
                            <p>
                                {$ 'donation_addresstype_option_anonymous' | trans $}
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-xs-6">
                        <p>
                            <strong>{$ 'iban' | trans $}</strong> {$ bankData.iban $}<br/>
                            {%  if bankData.bic %}
                                <strong>{$ 'bic' | trans $}</strong> {$ bankData.bic $}<br/>
                            {% endif %}
                            {% if bankData.bankname %}
                                <strong>{$ 'bank_name' | trans $}</strong> {$ bankData.bankname $}
                            {% endif %}
                        </p>
                    </div>
                </div>

                <p>
                    {$ 'donation_confirmation_debit_briefing' | trans $}
                </p>

                <p style="text-align: right">
                    {$ 'donation_confirmation_debit_mandate_date' | trans( {
                        '%formattedDate%': 'now' | date( 'd.m.Y' )
                    } ) $}
                </p>
            </div>

            {% include 'partials/donation_confirmation/donor_donation_receipt.html.twig' %}

            {% if donation.optsIntoNewsletter %}
                <p class="hidden-print">
                    {$ "donation_confirmation_opts_into_newsletter" | trans | raw $}
                </p>
            {% endif %}
        </div>
        <div class="action-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4 hidden-print">
            <ul class="list-menu link-back list-unstyled">
				{% include 'partials/donation_confirmation/link_print.html.twig' with {
					'label': 'donation_confirmation_print_confirmation_debit' | trans
				} only %}
                <li class="cancel">
                    <form action="{$ basepath $}/donation/cancel" method="post">
                        <button type="submit" name="go_storno" class="btn-link">{$ 'cancel_donation' | trans $}</button>
                        <input type="hidden" name="sid" value="{$ donation.id $}" />
                        <input type="hidden" name="utoken" value="{$ donation.updateToken $}">
                    </form>
                </li>
                <li><a href="{$ commentUrl $}"><span>{$ "add_donation_comment" | trans $}</span></a></li>
				{% include 'partials/share_on_social_networks.html.twig' %}
            </ul>
        </div>
    </div>
</div>