<div class="receipt-info">
	{% if not address.isAnonymous %}
		<p>
			{$ 'donor_change_success_text' | trans $} {% include 'partials/donation_confirmation/donor_address.twig' %}
		</p>
	{% elseif featureToggle.donorUpdateEnabled == true %}
		<div class="hidden-print">
			<a id="receipt-button" href="#" class="btn bk-blue">
				{$ 'donor_change_button_text' | trans $}
			</a>
		</div>
	{% endif %}
</div>