<div class="container">
    <div class="row">
        <div class="content highlighted col-xs-12 col-md-8">

            <p class="h1">
                {$ 'donation_confirmation_head_summary' | trans( {
                '%formattedAmount%': '<span class="strong">' ~ formattedAmount ~ '</span>',
                '%paymentType%': '<span class="strong">' ~ donation.paymentType | trans( {}, 'paymentTypes' ) ~ '</span>',
                '%interval%': '<span class="strong">' ~ donation.interval | trans( {}, 'paymentIntervals' ) ~ 'e</span>'
                } ) | raw $}
            </p>

            {% if donation.optsIntoNewsletter %}
                <p>
                    {$ "donation_confirmation_opts_into_newsletter" | trans | raw $}
                </p>
            {% endif %}

            {% include 'partials/donation_confirmation/donor_donation_receipt.html.twig' %}
        </div>
        <div class="action-block col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-0 col-md-4 hidden-print">
            <ul class="list-menu link-back list-unstyled">
				{% include 'partials/donation_confirmation/link_print.html.twig' with {
					'label': 'donation_confirmation_print_confirmation' | trans
				} only %}
                <li><a href="{$ commentUrl $}"><span>{$ "add_donation_comment" | trans $}</span></a></li>
				{% include 'partials/share_on_social_networks.html.twig' %}
            </ul>
        </div>
    </div>
</div>
