<div class="container hidden-print">
	<div class="row">
		<div class="content highlighted col-xs-12 col-md-8">
			<h2>{$ 'membership_call_to_action_title' | trans $}</h2>

			<p>{$ 'membership_call_to_action_line_1' | trans $}</p>
			<p>{$ 'membership_call_to_action_line_2' | trans $}</p>

			<div class="call-to-action-box">
				<p>{$ 'membership_call_to_action_box' | trans( { '%name%': address.fullName } ) $}</p>

				<!-- TODO Vimeo video -->
			</div>

			{% include 'partials/membership/benefit_list.html.twig' with {
				'showActiveMembershipBenefits': true
			} only %}

			<a href="{$ basepath $}/apply-for-membership?donationId={$ donation.id $}&amp;donationAccessToken={$ donation.accessToken $}&amp;type=sustaining"
			   class="btn btn-introduction text-center text-uppercase">
				{$ "donation_confirmation_apply_for_membership" | trans $}
			</a>
		</div>
	</div>
</div>