<div class="container hidden-print">
	<div class="row">
		<div class="content col-xs-12 col-md-8">
			<a href="#" class="btn btn-introduction bk-blue">
				TODO Informationen zur Vereinsmitgliedschaft
			</a>
			<p>TODO: Make translatable: Unterstützen Sie freies Wissen nachhaltig und aktiv mit einer Mitgliedschaft im Wikimedia Deutschland e.V.</p>
		</div>
	</div>
</div>