<div class="container hidden-print">
	<div class="row">
		<div class="content col-xs-12 col-md-8">
			<a href="#" class="btn btn-introduction bk-blue">
				{$ 'donor_change_membership_information' | trans $}
			</a>
			<p>{$ 'donor_change_suggest_membership' | trans $}</p>
		</div>
	</div>
</div>