<div class="container hidden-print">
	<div class="row">
		<nav class="content menu menu-footer col-xs-12 col-sm-5 col-sm-offset-7 col-md-offset-8 col-md-4">
			<ul class="list-menu list-unstyled">
				{% include 'partials/share_on_social_networks.html.twig' %}
			</ul>
		</nav>
	</div>
</div>
