{% extends 'Base_Layout.html.twig' %}

{% block main %}
    <div id="app">
        <noscript>
            <h2>{$ site_metadata.access_denied_header $}</h2>
            <p>{$ message | default( site_metadata.access_denied ) | raw $}<p>
        </noscript>
    </div>
    <div id="appdata"
         class="is-hidden"
         data-application-vars="{$ _context|json_encode|e('html_attr') $}"
         data-application-messages="{$ translations()|e('html_attr') $}"
         data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}">
    </div>
{% endblock %}

{% block scripts %}
    {$ parent() $}
    <script src="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/js/access_denied.js"></script>
{% endblock %}
