<!DOCTYPE html>
<html lang="de" class="client-nojs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{$ site_metadata.title $}{% endblock %}</title>

    <meta name="format-detection" content="telephone=no" />
    <meta name="title" content="{$ block('title') $}" />
    <meta name="description" content="{$ site_metadata.wikimedia_call_to_action $}" />

    <meta property="og:title" content="{$ site_metadata.wikimedia_call_to_action $}" />
    <meta property="og:type" content="non_profit" />
    <meta property="og:url" content="https://spenden.wikimedia.de/" />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Wikipedia_svg_logo-de.svg/200px-Wikipedia_svg_logo-de.svg.png" />
    <meta property="og:site_name" content="{$ site_metadata.wikimedia_organization_title $}" />
    <meta property="og:description" content="{$ site_metadata.wikimedia_description $}" />

    <link rel="preconnect" href="{$ piwik.baseUrl $}">
    <link rel="shortcut icon" href="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/images/favicon.ico" />
    <link rel="apple-touch-icon" href="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/images/apple-touch-icon.png" />
    {% block styles %}
        {% if not assets_path %}
            <link rel="stylesheet" href="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/css/styles.css">
        {% endif %}
    {% endblock %}
</head>
<body>
{% block main %}
    <div id="app">
        <noscript>
            <h2>{$ site_metadata.no_javascript_header $}</h2>
            {$ web_content( 'pages/no_javascript' ) $}
        </noscript>
    </div>
    <div id="appdata" data-application-vars="{$ _context|json_encode|e('html_attr') $}"
    data-application-messages="{$ translations()|e('html_attr') $}" 
    data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}"
    class="is-hidden">
    </div>
{% endblock %}

{% block scripts %}
    {# Matomo is Piwik's new name #}
    {% include 'matomo.html.twig' %}
    {% if piwikGoals | default( [] ) %}
    <script>
        {% for goal in piwikGoals %}
        _paq.push( [ 'trackGoal', '{$ goal $}' ] );
        {% endfor %}
    </script>
    {% endif %}
    {% if assets_path %}
        <script src="{$ assets_path $}/js/chunk-vendors.js"></script>
        <script src="{$ assets_path $}/js/chunk-common.js"></script>
    {% else %}
        <script src="{$ basepath $}/skins/laika/js/chunk-vendors.js"></script>
        {#
           The file `styles.js` is needed due to a webpack error that propagates to the CSS-extract plugin.
           Hopefully, the error gets fixed before this skin is released, so we can remove this silly dependency.
           Otherwise, we must integrate the contents of styles.js into chunk-vendors.js during the build process.
           See
           https://github.com/webpack/webpack/issues/7300
           https://github.com/webpack-contrib/mini-css-extract-plugin/issues/85
           https://github.com/webpack-contrib/mini-css-extract-plugin/issues/113
        #}
        <script src="{$ basepath $}/skins/laika/js/styles.js"></script>
    {% endif %}
{% endblock %}

</body>
</html>
