<!DOCTYPE html>
<html lang="de" class="client-nojs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{$ site_metadata.title $}{% endblock %}</title>

    <meta name="format-detection" content="telephone=no" />
    <meta name="title" content="{$ block('title') $}" />
    <meta name="description" content="{$ site_metadata.wikimedia_call_to_action $}" />

    <meta property="og:title" content="{$ site_metadata.wikimedia_call_to_action $}" />
    <meta property="og:type" content="non_profit" />
    <meta property="og:url" content="https://spenden.wikimedia.de/" />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Wikipedia-logo-v2-de.svg/200px-Wikipedia-logo-v2-de.svg.png" />
    <meta property="og:site_name" content="{$ site_metadata.wikimedia_organization_title $}" />
    <meta property="og:description" content="{$ site_metadata.wikimedia_description $}" />

    <link rel="preconnect" href="{$ piwik.baseUrl $}">
    <link rel="shortcut icon" href="{$ asset( 'images/favicon.ico', 'skin' ) $}" />
    <link rel="apple-touch-icon" href="{$ asset( 'images/apple-touch-icon.png', 'skin' ) $}" />
    {% block styles %}
        {% if not assets_path %}
            <link rel="stylesheet" href="{$ asset( 'css/styles.css', 'skin' ) $}">
        {% endif %}
        {% if application_environment == 'dev' %}
             <link rel="stylesheet" href="{$ asset( 'css/asset_state.css' ) $}">
        {% endif %}
    {% endblock %}
</head>
<body class="{% if assets_path %}external-assets{% else %}no-external-assets{% endif %} environment-{$ application_environment $}">
{% block main %}
    <div id="app">
        <noscript>
            <h2>{$ site_metadata.no_javascript_header $}</h2>
            {$ web_content( 'pages/no_javascript' ) $}
        </noscript>
        {% if assets_path and application_environment == 'dev' %}
            <style>
				@keyframes fade-in {
					0% {  opacity: 0;  }
					66% { opacity: 0; }
					100% { opacity: 1; }
				}
				.app-loading {
					background: white;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-size: 1.5em;
					animation: 2s ease-out 0s 1 fade-in;
				}
            </style>
            <div class="app-loading">
                <p>Waiting for the external assets to load...</p>
                <p>If the application doesn't appear here, check if the server for the assets is running at {$ assets_path $}</p>
            </div>
        {% endif %}
    </div>
    <div
        id="appdata"
        data-application-vars="{$ _context|json_encode|e('html_attr') $}"
        data-application-messages="{$ translations|json_encode|e('html_attr') $}"
        data-assets-path="{$ asset( '', 'skin') $}"
        class="is-hidden"
    ></div>
{% endblock %}

{% block scripts %}
    {# Matomo is Piwik's new name #}
    {% include 'matomo.html.twig' %}
    <script src="{$ asset( 'js/chunk-vendors.js', 'skin' ) $}"></script>
{% endblock %}

</body>
</html>
