{% extends 'Base_Layout.html.twig' %}

{% block main %}
    {# Since the subscription feature is currently unused, we don't have a Vue class that renders anything  #}
    {% if error_message %}
        {$ error_message $}
    {% else %}

        <div class="static-content">
            {$ web_content( 'subscription/confirmation' ) $}
        </div>
    {% endif %}
{% endblock %}


