{% extends 'Base_Layout.html.twig' %}

{% block main %}
    {# TODO Either throw away HTML presenter or create Vue class that integrates with rendered web_content   #}
    {% if error_message %}
        {$ error_message|trans( {}, 'validations' ) $}
    {% else %}

        <div class="static-content">
            {$ web_content( 'subscription/confirmation' ) $}
        </div>
    {% endif %}
{% endblock %}


