{% extends 'Base_Layout.html.twig' %}

{% block main %}
	<div id="app"
		 data-application-vars="{$ faq_content|e('html_attr') $}"
		 data-application-messages="{$ translations()|e('html_attr') $}"
		 data-assets-path="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}">
		<noscript>
			<h2>{$ 'no_javascript_title' | trans $}</h2>
			{$ web_content( 'pages/no_javascript' ) $}
		</noscript>
	</div>
{% endblock %}

{% block scripts %}
	{$ parent() $}
	<script src="{% if assets_path %}{$ assets_path $}{% else %}{$ basepath $}/skins/laika{% endif %}/js/frequent_questions.js"></script>
{% endblock %}