<div class="field-grp">
	<input type="text" id="iban" placeholder="IBAN">
	<label for="iban" class="sr-only">IBAN</label>
</div>
<div class="field-grp">
	<input type="text" id="bic" placeholder="BIC">
	<label for="bic" class="sr-only">BIC</label>
</div>

<span class="oden">oder</span>

<div class="field-grp">
	<input type="text" id="account-number" placeholder="Kontonummer">
	<label for="account-number" class="sr-only">Kontonummer</label>
</div>
<div class="field-grp">
	<input type="text" id="bank-code" placeholder="Bankleitzahl">
	<label for="bank-code" class="sr-only">Bankleitzahl</label>
</div>

<!-- ToDo: wikimedia-team, decide and translate to german -->
<span class="error-text">Generic text of error.</span>