<div class="field-grp">
	<input type="text" id="iban" name="iban" placeholder="{$ 'iban' | trans | e( 'html_attr' ) $}">
	<label for="iban" class="sr-only">{$ 'iban' | trans $}</label>
</div>
<div class="field-grp">
	<input type="text" id="bic" name="bic" placeholder="{$ 'bic' | trans | e( 'html_attr' ) $}">
	<label for="bic" class="sr-only">{$ 'bic' | trans $}</label>
</div>

<span class="oden">{$ 'payment_type_BEZ_iban_decision' | trans $}</span>

<div class="field-grp">
	<input type="text" id="account-number" name="konto" placeholder="{$ 'account_number' | trans | e( 'html_attr' ) $}">
	<label for="account-number" class="sr-only">{$ 'account_number' | trans $}</label>
</div>
<div class="field-grp">
	<input type="text" id="bank-code" name="blz" placeholder="{$ 'bank_code' | trans | e( 'html_attr' ) $}">
	<label for="bank-code" class="sr-only">{$ 'bank_code' | trans $}</label>
</div>

<!-- ToDo: wikimedia-team, decide and translate to german -->
<span class="error-text">Generic text of error.</span>