{% import 'Form_Utils.twig' as util %}

{% extends 'Base_Layout.html.twig' %}

{% block main %}

  <form method="post" action="{$ basepath $}/contact/get-in-touch" novalidate="">
    <section id="contact-form">
      <div class="container clearfix">
        <div class="ltcol">
          &nbsp;
        </div>

        <div class="ctcol">
          <div class="box partial rounded no-margin">
            <div class="box-header container clearfix">
              <span class="icon-envelope-alt">Kontakt</span>
            </div>

            <div class="box-section">
              <div class="container clearfix">

                <div class="input-container">
                  <label for="first-name">Name</label>
                  <input id="first-name" name="firstname" type="text" value="{$ firstname $}" autocomplete="off" pattern="^((?![M|m]ustermann).)*$" title="Groß- und Kleinbuchstaben, Bindestriche und Leerzeichen" placeholder="Vorname" optional="optional" class="optional">
                  <span class="validation icon-placeholder"></span>
                  {$ util.form_error('firstname', errors) $}

                  <input id="last-name" name="lastname" type="text" value="{$ lastname $}" autocomplete="off" pattern="^((?![M|m]ustermann).)*$" title="Groß- und Kleinbuchstaben, Bindestriche, Leerzeichen und Punkte" placeholder="Nachname" optional="optional" class="optional">
                  <span class="validation icon-placeholder"></span>
                  {$ util.form_error('lastname', errors) $}
                </div>

                <div class="input-container">
                  <label for="email">Email-Adresse</label>
                  <input id="email" name="email" type="text" value="{$ email $}" autocomplete="off" placeholder="z.B. name@domain.de" required="required" class="required">
                  <span class="validation icon-placeholder"></span>
                  {$ util.form_error('email', errors) $}
                </div>

                <div class="input-container category">
                  <label for="category">Thema</label>
                  <select id="category" name="category" class="category">
                    <option value="" data-behavior="placeholder">{$ 'contact_topic_title' | trans $}</option>
                    <option {% if category == 'contact_topic_1' | trans %}selected{% endif %}>{$ 'contact_topic_1' | trans $}</option>
                    <option {% if category == 'contact_topic_2' | trans %}selected{% endif %}>{$ 'contact_topic_2' | trans $}</option>
                    <option {% if category == 'contact_topic_3' | trans %}selected{% endif %}>{$ 'contact_topic_3' | trans $}</option>
                    <option {% if category == 'contact_topic_4' | trans %}selected{% endif %}>{$ 'contact_topic_4' | trans $}</option>
                    <option {% if category == 'contact_topic_5' | trans %}selected{% endif %}>{$ 'contact_topic_5' | trans $}</option>
                    <option {% if category == 'contact_topic_6' | trans %}selected{% endif %}>{$ 'contact_topic_6' | trans $}</option>
                    <option {% if category == 'contact_topic_7' | trans %}selected{% endif %}>{$ 'contact_topic_7' | trans $}</option>
                  </select>
                  {$ util.form_error('subject', errors) $}
                </div>

                <div class="input-container">
                  <label for="subject">Betreff</label>
                  <input id="subject" class="required" name="subject" type="text" value="{$ subject $}" autocomplete="off" required="required" placeholder="Betreff">
                  <span class="validation icon-placeholder"></span>
                  {$ util.form_error('subject', errors) $}
                </div>

                <div class="input-container">
                  <label for="messageBody">Nachricht</label>
                  <textarea id="messageBody" class="required" name="messageBody" type="text" required="required" placeholder="Ihre Nachricht an uns">{$ messageBody $}</textarea>
                  {$ util.form_error('messageBody', errors) $}
                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="rtcol">
          <div class="icon-hand-right _icon-list-item last">
            <p>
              <strong>Spenden</strong>
            </p>
            <p>
              <a href="{$ path( '/' ) $}" target="_blank">Zurück</a> zur Spendenseite
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact-form-submit">
      <div class="container clearfix">
        <div class="ltcol">
          &nbsp;
        </div>

        <div class="ctcol">
          <div class="box partial rounded">

            <div class="box-footer clearfix">
              <div class="tab-1 tab container clearfix ">
                <button id="contactFormSubmit" type="submit" class="f-right">Kontaktanfrage absenden<span class="icon-ok"></span></button>
              </div>

            </div>

          </div>

        </div>
      </div>
    </section>

  </form>

{% endblock %}