{% extends 'Base_Layout.html.twig' %}

{% block main %}
<section>
	<div class="container clearfix">
		<div class="ltcol">
			&nbsp;
		</div>

		<div class="ctcol">
			<div class="box box-common partial rounded no-margin">
				<div class="box-header container clearfix">
					<span class="icon-bug">
						{% if cancellationSuccessful %}
							{$ 'donation_cancellation_header'|trans({}) $}
						{% else %}
							{$ 'donation_cancellation_failed_header'|trans({}) $}
						{% endif %}
					</span>
				</div>

				<div class="box-section box-footer">
					<div class="container clearfix">
						<p>
							{% if cancellationSuccessful %}
								{$ 'donation_cancellation_text' | trans( {
									'%donation.id%': donationId,
									'%mailto_link%': 'spenden@wikimedia.de?subject=Online-Spende%20%' ~ donation.id
								} ) | raw $}
							{% else %}
								{$ 'donation_cancellation_failed_text' | trans( {
									'%donation.id%': donationId ,
									'%mailto_link%': 'spenden@wikimedia.de?subject=Online-Spende%20%' ~ donation.id
								} ) | raw $}
							{% endif %}
						</p>
						<p>
							{% if mailDeliveryFailed %}
								{$ 'donation_cancellation_mail_delivery_failure'|trans|raw $}
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="rtcol">
			<div class="icon-hand-right _icon-list-item last">
				<p>
					<strong>Spenden</strong>
				</p>
				<p>
					<a href="{$ path( '/' ) $}" target="_blank">{$ 'back_to_donation' | trans $}</a>
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}