{% set formattedAmount = donation.amount|localizedcurrency('EUR', 'de_DE') %}
<!-- donation amount -->
<section id="donation-amount" class="container clearfix">
	<div class="ltcol">
		&nbsp;
	</div>

	<div class="ctcol">
		<div class="box rounded">
			<div class="box-footer clearfix">
				{% if donation.paymentType == 'UEB' %}
				<span class="icon-ok-sign">Ich werde {$ donation.interval|trans({}, 'paymentIntervals') $} <span class="amount-formatted">{$ formattedAmount $}</span> spenden.</span>
				{% else %}
				<span class="icon-ok-sign">Ich habe <span class="amount-formatted">{$ formattedAmount $}</span> gespendet.</span>
				{% endif %}
				{% include 'Share_on_Social_Networks.html.twig' %}
			</div>
		</div>
	</div>

	{% if donation.paymentType != 'UEB' %}
	<div class="rtcol">
		<div class="icon-coffee _icon-list-item">
			<p>
				<strong>Warum haben Sie gespendet? </strong>
			</p>
			<p>
				<a id="view-comments-link" class="wlightbox inline" href="#" data-href="#wlightbox-your-story">Erz&auml;hlen Sie uns Ihre Geschichte.</a>
			</p>
		</div>
	</div>
	{% endif %}
</section>

<!-- donation sheet -->
<section  id="donation-sheet">
	<div id="{% if donation.paymentType == 'UEB' %}deposit{% elseif donation.paymentType == 'BEZ' %}debit{% else %}normal{% endif %}-donation-confirmation" class="container clearfix">
		<div class="ltcol">
			&nbsp;
		</div>

		<div class="ctcol">
			<div class="box rounded">
				<div class="box-header container clearfix">
					<span class="icon-lock f-left">Ihr Beleg</span>
					<ul class="step-list horizontal right clearfix">
						<li class="first">Mein Betrag</li>
						<li>Meine Daten</li>
						<li class="active last">Fertig!</li>
					</ul>
				</div>

				<div class="box-section">
					<div class="container clearfix">
						{% if donation.paymentType == 'UEB' %}
						<p class="title">Sie möchten {$ donation.interval|trans({}, 'paymentIntervals') $} <span class="amount-formatted">{$ formattedAmount $}</span> an die Wikimedia Fördergesellschaft spenden. Bitte überweisen Sie jetzt Ihre Spende mit den unten angebenen Zahlungsinformationen.</p>
						{% elseif donation.paymentType == 'BEZ' %}
						<h2>SEPA-Lastschriftmandat</h2>
						<p class="title">
							Sie spenden {$ donation.interval|trans({}, 'paymentIntervals') $} <span  class="amount-formatted">{$ formattedAmount $}</span> an die Wikimedia Fördergesellschaft<br /><br />
						</p>
						<p>
							Wikimedia F&ouml;rdergesellschaft<br>
							Tempelhofer Ufer 23-24<br>
							10963 Berlin<br />
						</p>
						{% else %}
						<p class="title">Sie spenden {$ donation.interval|trans({}, 'paymentIntervals') $} <span class="amount-formatted">{$ formattedAmount $}</span> an die Wikimedia F&ouml;rdergesellschaft.</p>
						{% endif %}
						<p class="label no-margin">Wikimedia ist als gemeinn&uuml;tzig anerkannt, die Spende kann abgesetzt werden.</p>
					</div>

					<hr />

					{% if donation.optsIntoNewsletter == true %}
					<div id="send-info" class="container clearfix">
						Auf Ihren Wunsch hin erhalten Sie von uns Informationen rund um die Spendenkampagne. Sie können den
						Erhalt von Informationen jederzeit widerrufen.
					</div>

					<hr />
					{% endif %}

					{% if donation.paymentType == 'UEB' %}
					<div class="container payment">
						<span class="label">Kontoinhaber</span>Wikimedia Foerdergesellschaft<br/>
						<span class="label">Betrag</span>{$ formattedAmount $}<br/>
						<span class="label">IBAN</span>DE33100205000001194700<br/>
						<span class="label">BIC</span>BFSWDE33BER<br/>
						<span class="label">Kontonummer</span>1194700<br/>
						<span class="label">Bankleitzahl</span>10020500<br/>
						<span class="label">Bank</span>Bank für Sozialwirtschaft<br/>
						<span class="label">Verwendungszweck</span>{$ donation.bankTransferCode $}
					</div>

					<hr />
					{% else %}

					<div class="container clearfix">
						<div class="address f-left">
						{% if person %}
							<p>
								<span class="confirm-name">{$ person.salutation $} {$ person.fullName $}</span>
							</p>
							<p class="no-margin">
								<span class="confirm-street">{$ person.streetAddress $}</span><br/>
								<span class="confirm-postcode">{$ person.postalCode $}</span> <span class="confirm-city">{$ person.city $}</span><br/>
								<span class="confirm-email">{$ person.email $}</span>
							</p>
						{% else %}
							<p>
								Anonym
							</p>
						{% endif %}
						</div>

						<div class="payment f-left">
							{% if donation.paymentType == 'PPL' or donation.paymentType == 'MCP' or donation.paymentType == 'SUB' %}
							<p>
								Ihre Spende per {$ donation.paymentType|trans({}, 'paymentTypes') $} {$ donation.status|trans({}, 'paymentStatus') $}.
							</p>
							{% elseif donation.paymentType == 'BEZ' %}
							<p>
								Sie zahlen per {$ donation.paymentType|trans({}, 'paymentTypes') $}
							</p>

							<p class="no-margin">
								<span class="label">IBAN</span>{$ bankData.iban $}<br/>
								<span class="label">BIC</span>{$ bankData.bic $}<br/>
								<span class="label">Bank</span>{$ bankData.bankname $}
							</p>
							{% endif %}
						</div>
					</div>

					<hr/>
					{% endif %}

					{% if donation.paymentType == 'BEZ' %}
					<p class="label no-margin">
						Die Mandatsreferenznummer zur eindeutigen Identifizierung des SEPA-Lastschriftmandats wird Ihnen
						separat per E-Mail mitgeteilt. Ihre Lastschrift wird als SEPA-Rahmenmandat behandelt.<br /><br />

						<div class="label" style="margin-bottom: 8px;">
							<img src="../../skin/10h16/_assets/img/checked-box.png" style="float: left;" />
							<div style="padding-left: 25px;">
								Ich ermächtige die gemeinnützige Wikimedia Fördergesellschaft mbH (Gläubiger-ID: DE25ZZZ00000448435) Zahlungen
								von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der
								gemeinnützigen Wikimedia Fördergesellschaft mbH auf mein Konto gezogenen Lastschriften einzulösen.<br /><br />
								Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages
								verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
							</div>
						</div>

						<div class="label">
							<img src="../../skin/10h16/_assets/img/checked-box.png" style="float: left;">
							<div style="padding-left: 25px;">
								Ich werde spätestens 5 Tage vor der geplanten Abbuchung der Spende per Email informiert.<br /><br />
							</div>
						</div>

						Berlin, {$ donation.creationDate $}
					</p>

					{% elseif donation.paymentType == 'UEB' %}
					<p>
						<span class="label">Bitte geben Sie bei Rückfragen Ihre Spenden­nummer an: &nbsp;{$ donation.id $} .</span>
					</p>
					<p class="label">
						Sie können übrigens alle Daten auch in der E-Mail überprüfen, die wir Ihnen geschickt haben (sofern Sie uns eine E-Mail-Adresse mitgeteilt haben).
					</p>
					<p class="label">
						Wenn Sie Freies Wissen mit einer periodischen Spende unterstützen möchten, richten Sie bitte einen Dauerauftrag ein.
					</p>
					<div class="container payment">
					</div>
					{% endif %}

				</div>
			</div>
		</div>

		<div class="rtcol">
			<div class="icon-print _icon-list-item first {% if donation.paymentType != 'BEZ' %}last{% endif %}">
				<p>
					{% if donation.paymentType == 'UEB' %}
					<strong>Zusammenfassung drucken</strong>
					{% else %}
					<strong>Best&auml;tigung drucken</strong>
					{% endif %}
				</p>
				<p>
					Sie können sich diese Zusammenfassung für Ihre Unterlagen <a onclick="window.print();">ausdrucken</a>.
				</p>
			</div>

			{% if donation.paymentType == 'BEZ' %}
			<div class="icon-undo _icon-list-item last">
				<p>
					<strong>Stornierung m&ouml;glich</strong>
				</p>
				<p>
					Sie k&ouml;nnen Ihre Spende stornieren, bevor sie bei uns eingebucht wird. Dazu senden Sie eine Mail an uns.
				</p>
				<p>
					<form action="{$ basepath $}/donation/cancel" method="post">
						<input type="submit" name="go_storno" value="Jetzt stornieren." style="cursor: pointer; background: none; border-width: 0px; color: #9D9D9D; text-decoration: underline;" />
                                                <input type="hidden" value="{$ donation.id $}" name="sid" />
                                                <input type="hidden" name="utoken" value="{$ donation.updateToken $}">
					</form>
				</p>
			</div>
			{% endif %}
		</div>
	</div>
	<img src="https://de.wikipedia.org/wiki/Special:HideBanners?duration={$ donation.cookieDuration $}&reason=donate" width="0" height="0" border="0" />
</section>

{% include 'Membership_Application_Embedded.html.twig' %}

{% if donation.paymentType != 'UEB' %}
<div class="wlightbox-contents">
	<div id="wlightbox-your-story">
		{% include 'Donation_Comment_Form.html.twig' %}
	</div>
</div>
{% endif %}
