<div class="box partial rounded no-margin">
<div class="box-header clearfix">
    <span class="icon-coffee wlightbox-icon" style="color:white;"></span>Spendenticker - Wikimedia Fördergesellschaft
</div>
<div class="box-section">
    <div>Nachfolgend finden Sie eine Übersicht der letzten Spendenkommentare.
    Die neuesten Einträge sind auch als <a href="{$ path( 'list-comments.rss', { piwik_campaign: 'Spendenseite', piwik_kwd: 'spendenliste' } ) $}" target="_top">RSS-Feed verfügbar</a>.</div>
</div>
<div class="box-section">
    <div class="section-title clearfix">
          <h2>Die 10 neuesten Spenderkommentare</h2>
    </div>
    <div class="container clearfix commentContainer">
       <!-- Kommentare werden mit der Datei rs/js/donationCommentsLightbox.js nachgeladen -->
    </div>
    <div class="container clearfix pagination">
        <span class="first icon-first" title="Erste Seite"></span>
        <span class="prev icon-previous" title="Vorige Seite"></span>
        <span class="pages">Seite <span class="currentPage">0</span> von <span class="numPages">0</span></span>
        <span class="next icon-next" title="Nächste Seite"></span>
        <span class="last icon-last" title="Letzte Seite"></span>
    </div>
</div>
</div>
