<div id="wlightbox-supporters" class="sandboxedcontent supporters">
    <div class="box partial rounded no-margin">
        <div class="box-header clearfix">
            <span class="icon-coffee wlightbox-icon"></span>{$ 'supporters'|trans({}, 'pageTitles') $}
        </div>
        <div class="box-section">
            {$ web_content('pages/supporters') $}
        </div>
    </div>
</div>
