<div class="ltcol">
	<div class="logo">
		<a title="Wikipedia" href="http://wikipedia.de/"></a>
	</div>
</div>

<div class="ctcol">
	<h1>Vielen Dank für Ihre Unterstützung!</h1>
	<div class="subtitle">Die Wikimedia Fördergesellschaft ist eine unabhängige gemeinnützige Organisation, die in Deutschland Spenden für Wikipedia und die anderen Wikimedia-Projekte sammelt.</div>
</div>

<div class="rtcol">
	<div class="icon-phone-sign _icon-list-item last">
		<p>Hilfe zum Ortstarif</p>
		<p>
			<strong>030 / 21 91 58 26 - 0</strong>
		</p>
	</div>
</div>

<hr />
