<nav id="footer-menu">
	<ul class="horizontal clearfix footer-menu-list">
		<li><a href="{$ path( 'contact' ) $}">Kontakt</a></li>
		<li><a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Impressum' } ) $}" data-href="#wlightbox-impressum">Impressum</a></li>
		<li class="last"><a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Datenschutz' } ) $}" data-href="#wlightbox-datenschutz">Datenschutz</a></li>
	</ul>
</nav>
<div class="wlightbox-contents">
	<div id="wlightbox-impressum">
		<div class="wlightbox-title clearfix">
			<span class="icon-hand-right wlightbox-icon"></span>Impressum
		</div>

		{$ web_content('pages/imprint') $}
	</div>
	<div id="wlightbox-datenschutz">
		<div class="wlightbox-title clearfix">
			<span class="icon-hand-right wlightbox-icon"></span>Datenschutz
		</div>

		{# Writing opt-out wrapper into variable before injecting it into content page via string replace #}
		{% set matomo_opt_out %}
			<div class="privacy_wrapper">
				<h2>Datenerhebung</h2>
				<p class="legend">
					{$ 'privacy_optout_description' | trans $}
				</p>
				<div class="privacy_selection">
					<div class="privacy_selection_box">
						<div class="wrap-field choice-in">
							<div class="wrap-input">
								<input name="matomo_choice" id="tracking-opt-in" value="0" type="radio">
								<label for="tracking-opt-in"><span>{$ 'privacy_optout_tracking_permit' | trans $}</span></label>
							</div>
						</div>
						<div class="wrap-field choice-out">
							<div class="wrap-input">
								<input name="matomo_choice" id="tracking-opt-out" value="1" type="radio">
								<label for="tracking-opt-out"><span>{$ 'privacy_optout_tracking_deny' | trans $}</span></label>
							</div>
						</div>
					</div>
					<div class="privacy_explanation">
						<p>
							{$ 'privacy_optout_tracking_state' | trans | raw $}
						</p>
					</div>
				</div>
			</div>
		{% endset %}
		{$ web_content("pages/privacy_protection") | replace({'<!-- placeholder_matomo -->': matomo_opt_out}) | raw $}
	</div>
</div>
