<p>
	<strong>Ihre Daten sind sicher</strong>
</p>
<p>
	Wir f&uuml;hlen uns dem Datenschutz verpflichtet. Unsere Bestimmungen dazu k&ouml;nnen Sie <a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Datenschutz' } ) $}" data-href="#wlightbox-datenschutz">hier</a> einsehen
</p>
