<section id="donation-sheet">
	<div id="normal-donation-confirmation" class="container clearfix">
		<div class="ltcol">
			&nbsp;
		</div>

		<div class="ctcol">
			<div class="box rounded">
				<div class="box-section">
					<div class="container clearfix">
						{$ web_content( 'subscription/confirmation' ) $}
					</div>
				</div>
			</div>

			<div class="rtcol">
				&nbsp;
			</div>
		</div>
	</div>
</section>
