<div id="validation-errors" class="errorbox fixed" style="display:none">
	<strong>Bei der Prüfung Ihrer Eingaben wurden Probleme bemerkt</strong>.
	Bitte überprüfen Sie Ihre Angaben in folgenden Feldern: <strong class="fields">keine</strong>
</div>
