{% extends 'Base_Layout.html.twig' %}

{% block page_identifier %}page-{$ page_id $}{% endblock %}

{% block main %}
	<section>
		<div class="container clearfix">
			<div class="ltcol">
				&nbsp;
			</div>

			<div class="ctcol">
				<div class="box partial rounded no-margin">
					<div class="box-header container clearfix">
						<span class="icon-hand-right f-left">{$ page_id|trans({}, 'pageTitles') $}</span>
					</div>

					<div class="box-section box-footer">
						<div class="container clearfix sandboxedcontent {$ page_id $}">
							{$ web_content("pages/#{page_id}") $}
							{% block main_content %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>

			<div class="rtcol">
				<div class="itz-logo">
					<a href="{$ 'content_pages_itz_link' | trans | e ( 'html_attr' ) $}" target="_blank" title="{$ 'content_pages_itz_title' | trans | e ( 'html_attr' ) $}">
						<img src="{$ 'content_pages_itz_logo' | trans | e ( 'html_attr' ) $}" alt="{$ 'content_pages_itz_title' | trans | e ( 'html_attr' ) $}">
					</a>
				</div>

					{% if page_id == 'supporters' %}
					<div class="icon-ok-sign _icon-list-item last">
						<p>
							<strong>Spenden auch Sie!</strong>
						</p>

						<p>
							Unterstützen Sie die Wikipedia und Freies Wissen mit Ihrer <a target="_blank" href="{$ path( '/', { piwik_campaign: 'spenden_wikimedia_benefactors', piwik_kwd: 'benefactors' } ) $}">Spende</a>.
						</p>
					</div>
					{% else %}
					<div class="icon-hand-right _icon-list-item last">
						<p>
							<strong>Spenden</strong>
						</p>
						<p>
							<a href="{$ path( '/' ) $}" target="_blank">Zurück</a> zur Spendenseite
						</p>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
