<div class="back-block col-xs-12 col-sm-12 col-md-12">
	<ul class="list-menu link-back list-unstyled">
		<li><a href="{$ path( '/' ) $}" class="">{$ 'back_to_donation' | trans $}</a></li>
	</ul>
</div>
