{% extends 'BaseLayout.twig' %}

{% block main %}
    <section id="comment-header">
        <div class="container clearfix">
            <div class="ltcol">
                &nbsp;
            </div>

            <div class="ctcol">
                <div class="box partial rounded no-margin">
                    <div class="box-header container clearfix">
                        <span class="icon-coffee">Spendenticker - Wikimedia Fördergesellschaft</span>
                    </div>

                    <div class="box-section">
                        <div class="container clearfix">
                            Nachfolgend finden Sie eine &Uuml;bersicht der Spenden, die an die Wikimedia Fördergesellschaft
                            get&auml;tigt wurden.
                            Die neuesten Eintr&auml;ge sind auch als <a href="{$ basepath $}/list-comments.rss" target="_top">RSS-Feed verfügbar</a>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="rtcol">
                <div class="icon-ok-sign _icon-list-item last">
                    <p>
                        <strong>Spenden auch Sie!</strong>
                    </p>
                    <p>
                        Unterstützen Sie die Wikipedia und Freies Wissen mit Ihrer
                        <!-- TODO: replace hardcoded link -->
                        <a href="https://spenden.wikimedia.de/spenden/?piwik_campaign=wikimedia_de_spendenticker&piwik_kwd=Spendenticker_standalone" target="_blank">Spende</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- personal data -->
    <section id="comment-list" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial">

                <div class="box-section box-footer">
                    <div class="section-title clearfix">
                        <h2>Die {$ comments |length |e $} neuesten Spenderkommentare</h2>
                    </div>

                    <div class="container">
                        {% for comment in comments %}
                            <div style='padding-bottom: 20px;'>
                                <strong>{$ comment.amount |number_format(2, ',', '.') |e $}&euro; von {$ comment.author |e $} am {$ comment.publicationDate |e $}</strong><br />
                                {$ comment.text |e $}
                            </div>
                        {% endfor %}

                        <div style="display: inline-block; width: 100%">
                            <div style="display: inline-block; text-align:left; width: 33%;">
                                {% if page > 1 %}
                                    <a href="?page=1"><span class="icon-first"></span></a>
                                    <a href="?page={$ page - 1 $}"><span class="icon-previous"></span></a>
                                {% endif %}
                            </div>
                            <div style="display: inline-block; text-align:center; width: 32%;">Seite {$ page $} von 100+</div>
                            <div style="display: inline-block; text-align:right; width: 33%;">
                                {% if page < max_pages %}
                                    <a href="?page={$ page + 1 $}"><span class="icon-next"></span></a>
                                    <a href="?page={$ max_pages $}"><span class="icon-last"></span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rtcol">
            &nbsp;
        </div>
    </section>
{% endblock %}