<div id="greenBox" class="inhalt boxShadow">

	<div class="text">
		<h2>
			{% if cancellationSuccessful %}
			{$ 'donation-cancellation-header'|trans({}) $}</h2>
			{% else %}
			{$ 'donation-cancellation-failed-header'|trans({}) $}
			{% endif %}
		</h2>
		<p>
			{% if cancellationSuccessful %}
			{$ 'donation-cancellation-text'|trans( { '%donation.id%': donationId } )|raw $}
			{% else %}
			{$ 'donation-cancellation-failed-text'|trans( { '%donation.id%': donationId } )|raw $}
			{% endif %}
		</p>
		<ul>
			<li>
				Zum <a href="/">Spendenformular</a>
			</li>
			<li>
				Zur <a href="https://www.wikimedia.de/">Homepage von Wikimedia Deutschland</a>
			</li>
		</ul>
	</div>

</div>
