<div id="greenBox" class="inhalt boxShadow">

	<div class="text">
		<h2>{$ 'donation-cancellation-header'|trans({}) $}</h2>
		<p>
			{$ 'donation-cancellation-text'|trans( { '%donation.id%': donation.id } )|raw $}
		</p>
		<ul>
			<li>
				Zum <a href="/">Spendenformular</a>
			</li>
			<li>
				Zur <a href="https://www.wikimedia.de/">Homepage von Wikimedia Deutschland</a>
			</li>
		</ul>
	</div>

</div>
