<!-- donation sheet -->
<section id="donation-sheet">
    <div id="normal-donation-confirmation" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded">
                <div class="box-header container clearfix">
                    <span class="icon-lock f-left">Ihre Bestätigung</span>

                    <ul class="step-list horizontal right clearfix">
                        <li class="first">Mein Betrag</li>
                        <li class="active last">Fertig!</li>
                    </ul>
                </div>

                <div class="box-section">
                    <div class="container clearfix">
                        <div class="logo-wikimedia-grey f-right"></div>

                        <p class="title" style="text-align: center;">Vielen Dank für Ihre Bitcoin-Spende!</p>
                    </div>

                    <hr/>

                </div>
            </div>

            <div class="rtcol">
                &nbsp;
            </div>
        </div>
	</div>
</section>

{% include 'Membership_Application_Embedded.html.twig' %}
