{% extends 'Base_Layout.html.twig' %}

{% block main %}

    <script id="init-form" src="{$ basepath|e('html_attr') $}{$ '/res/js/donationForm.js'|prefix_file $}"
            data-initial-form-values="{% if initialFormValues %}{$ initialFormValues|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
            data-violated-fields="{% if violatedFields %}{$ violatedFields|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
            data-initial-validation-result="{% if validationResult %}{$ validationResult|json_encode|e('html_attr') $}{% else %}{}{% endif %}"
            data-validate-amount-url="{$ basepath|e('html_attr') $}/validate-payment-data"
            data-validate-address-url="{$ basepath|e('html_attr') $}/validate-address"
            data-validate-email-address-url="{$ basepath|e('html_attr') $}/validate-email"
            data-validate-iban-url="{$ basepath|e('html_attr') $}/check-iban"
            data-generate-iban-url="{$ basepath|e('html_attr') $}/generate-iban"
    >
    </script>

    {% include 'Validation_Errors.html.twig' %}

    <div id="paymentPage">
        {% include 'Donation_Form_Payment.html.twig' %}
    </div>

    <div id="personalDataPage">
        {% include 'Donation_Form_Personal_Data.html.twig' %}
    </div>

    <div id="bankConfirmationPage">
        {% include 'Donation_Form_Bank_Data_Confirmation.html.twig' %}
    </div>

    <div class="wlightbox-contents">

        {% include 'lightbox_content_use_of_resources.html.twig' %}

        {% include 'lightbox_content_donation_receipt.html.twig' %}

        <div id="wlightbox-bitcoin">{% include 'Donation_Bitcoin_Form.html.twig' %}</div>

        <div id="wlightbox-spendenkommentare">{% include 'Donation_Comment_List.html.twig' %}</div>

        {% include 'lightbox_content_supporters.html.twig' %}

    </div>

{% endblock %}

{% block banner %}
    {% include 'Bank_Detail_Banner.html.twig' %}
{% endblock %}
