<section class="container clearfix">
    <div class="ltcol">
        &nbsp;
    </div>

    <div id="errorPage" class="ctcol">
        <div class="box rounded">
            <div class="box-header">Es ist ein Fehler aufgetreten</div>
            <div class="box-section">
                <p>{$ message $}</p>
                <hr />
                <p><a href="/" class="button">Zur Spendenseite</a></p>
            </div>
        </div>
    </div>

    <div class="rtcol">
        &nbsp;
    </div>
</section>