<form>
    <!-- steps-overview -->
    <div class="steps-overview container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial no-margin">

                <div class="box-header">
                    <ul class="step-list horizontal clearfix">
                        <li id="highlight-payment" class="first">Mein Betrag</li>
                        <li id="highlight-personalData active">Meine Daten</li>
                        <li id="highlight-finished" class="last">Fertig!</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="rtcol">
            &nbsp;
        </div>
    </div>


    <!-- sepa confirmation -->
    <section id="donation-sepa-confirmation" class="container clearfix">
        <div class="container clearfix">
            <div class="ltcol">
                &nbsp;
            </div>

            <div class="ctcol">
                <div class="box rounded partial no-margin">
                    <div class="box-section">
                        <div class="container clearfix">
                            <div class="logo-wikimedia-white f-right"></div>

                            <h2 class="f-left no-margin">SEPA-Lastschriftmandat</h2><br /><br />

                            <p class="title">
                                Sie spenden <span class="interval-text">{$ periode_text $}</span> <strong class="amount-formatted">{$ betrag $}€</strong> an die Wikimedia Fördergesellschaft<br /><br />
                            </p>

                            <div class="address f-left">
                                Wikimedia Fördergesellschaft<br>
                                Tempelhofer Ufer 23-24<br>
                                10963 Berlin<br /><br />
                            </div>

                            <p class="label no-margin">
                                Die Mandatsreferenznummer zur eindeutigen Identifizierung des SEPA-Lastschriftmandats wird Ihnen separat per E-Mail mitgeteilt.
                                Ihre Lastschrift wird als SEPA-Rahmenmandat behandelt.
                            </p>
                        </div>

                        <hr/>

                        <div class="container clearfix">
                            <div class="address f-left">
                                {%  if person %}
                                <p>
                                    <span class="confirm-name">{$ person.fullName $}</span>
                                </p>

                                <p class="no-margin">
                                    <span class="confirm-street">{$ person.street $}</span><br/>
                                    <span class="confirm-postcode">{$ person.postcode $}</span> <span class="confirm-city">{$ person.city $}</span><br/>
                                    <span class="confirm-mail">{$ person.email $}</span>
                                </p>
                                {% endif %}
                            </div>

                            <div class="payment f-left">
                                <p>
                                    Sie zahlen per Lastschrift
                                </p>

                                <p class="no-margin">
                                    <span class="label confirm-account-number">IBAN</span> <span class="confirm-account-number">{$ konto $}</span><br/>
                                    <span class="label confirm-bic">BIC</span> <span class="confirm-bic">{$ bic $}</span><br/>
                                    <span class="label confirm-bank-name">Bankname</span> <span class="confirm-bankname">{$ bankname $}</span>
                                </p>
                            </div>
                        </div>

                        <hr/>

                        <div class="container clearfix" style="margin-bottom: 35px;">
                            <input type="checkbox" id="confirm_sepa" name="confirm_sepa" value="1" title="Bestätigung SEPA">
                            <label for="confirm_sepa">
                                Ich ermächtige die gemeinnützige Wikimedia Fördergesellschaft mbH (Gläubiger-ID: DE25ZZZ00000448435) Zahlungen
                                von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der
                                gemeinnützigen Wikimedia Fördergesellschaft mbH auf mein Konto gezogenen Lastschriften einzulösen.<br /><br />
                                Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages
                                verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
                            </label>
                        </div>

                        <div class="container clearfix">
                            <input type="checkbox" id="confirm_shortterm" name="confirm_shortterm" value="1"  title="Bestätigung Fristverkürzung">
                            <label for="confirm_shortterm">
                                Mit SEPA wurde eine Informationsfrist für Lastschriften eingeführt. Ich bin damit einverstanden,
                                dass ich spätestens 5 Tage vor der geplanten Abbuchung der Spende per Email benachrichtigt werde.
                            </label>
                        </div>

                        <hr/>

                        <div class="container clearfix">
                            Berlin, {$ "now"|date("d.m.Y") $}
                        </div>

                    </div>

                </div>
            </div>

            <div class="rtcol">
                <div class="icon-bar-chart _icon-list-item first">
                    <p>
                        <a class="wlightbox inline" href="#" data-href="#wlightbox-wohin-geht-das-geld"><strong>Wohin geht das Geld?</strong></a>
                    </p>
                </div>

                <div class="icon-hand-right _icon-list-item">
                    <p>
                        <a class="wlightbox inline" href="#" data-href="#wlightbox-steuerlich-absetzbar"><strong>Steuerlich absetzbar</strong></a>
                    </p>
                </div>

                <div class="icon-shield _icon-list-item last">
                    <p>
                        <strong>Ihre Daten sind sicher</strong>
                    </p>
                    <p>
                        Wir f&uuml;hlen uns dem  Datenschutz verpflichtet. Unsere Bestimmungen dazu k&ouml;nnen Sie <a class="wlightbox inline" href="Datenschutz" data-href="#wlightbox-datenschutz">hier</a> einsehen.
                    </p>
                </div>
            </div>
    </section>


    <section id="donation-submit3" class="container clearfix" >
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial">

                <div class="box-footer border-top clearfix">
                    <span class="label f-left">Schließen Sie die Spende ab</span>
                    <button id="finishFormSubmit3" type="button" class="f-right" >Jetzt für Wikipedia spenden <span class="icon-arrow-right"></span></button>
                </div>

            </div>
        </div>

        <div class="rtcol">
        </div>
    </section>

</form>