<form name="donForm2" id="donForm1" method="POST" action="#">

    <!-- steps-overview -->
    <div class="steps-overview container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial no-margin">

                <div class="box-header">
                    <ul class="step-list horizontal clearfix">
                        <li id="highlight-payment" class="first active">Mein Betrag</li>
                        <li id="highlight-personalData">Meine Daten</li>
                        <li id="highlight-finished" class="last">Fertig!</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="rtcol">
            &nbsp;
        </div>
    </div>


    <!-- donation amount -->
    <section id="donation-amount" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box partial">
                <div class="box-section">
                    <div class="section-title clearfix">
                        <h2 class="f-left no-margin">Mein Spendenbetrag</h2>
                    </div>

                    <ul class="horizontal clearfix amount-list">
                        <li class="first">
                            <input type="radio" class="amount-select" id="form1-amount-1" name="betrag_auswahl" value="5,00" title="5&euro;">
                            <label for="form1-amount-1">5&euro;</label>
                        </li>

                        <li>
                            <input type="radio" class="amount-select" id="form1-amount-2" name="betrag_auswahl" value="15,00" title="15&euro;">
                            <label for="form1-amount-2">15&euro;</label>
                        </li>

                        <li>
                            <input type="radio" class="amount-select" id="form1-amount-3" name="betrag_auswahl" value="25,00" title="25&euro;">
                            <label for="form1-amount-3">25&euro;</label>
                        </li>

                        <li>
                            <input type="radio" class="amount-select" id="form1-amount-4" name="betrag_auswahl" value="50,00" title="50&euro;">
                            <label for="form1-amount-4">50&euro;</label>
                        </li>

                        <li>
                            <input type="radio" class="amount-select" id="form1-amount-5" name="betrag_auswahl" value="75,00" title="75&euro;">
                            <label for="form1-amount-5">75&euro;</label>
                        </li>

                        <li>
                            <input type="radio" class="amount-select" id="form1-amount-6" name="betrag_auswahl" value="100,00" title="100&euro;">
                            <label for="form1-amount-6">100&euro;</label>
                        </li>

                        <li>
                            <input type="radio" class="amount-select" id="form1-amount-7" name="betrag_auswahl" value="250,00" title="250&euro;">
                            <label for="form1-amount-7">250&euro;</label>
                        </li>

                        <li class="amount-custom last no-margin">
                            <div class="container" style="width: 100px;">
                                <input id="form1-amount-8" class="amount-input" name="betrag" type="text" value="" title="Betrag zwischen 1 und 99999,99 Euro; Komma als Dezimaltrenner" pattern="^[1-9]{1}\d{0,4}(?:,\d\d)?$">
                                <label class="right top" for="form1-amount-8">&euro;</label>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="rtcol">
            <div class="icon-bar-chart _icon-list-item first">
                <p>
                    <a class="wlightbox inline" href="#" data-href="#wlightbox-wohin-geht-das-geld"><strong>Wohin geht meine Spende?</strong></a>
                </p>
            </div>

            <div class="icon-hand-right _icon-list-item">
                <p>
                    <a class="wlightbox inline" href="#" data-wlightbox-options="{&quot;left&quot;:&quot;300px&quot;}" data-href="#wlightbox-bitcoin"><strong>Bitcoins spenden</strong></a>
                </p>
            </div>

            <div class="icon-hand-right _icon-list-item">
                <p>
                    <a class="wlightbox inline" href="#" data-href="#wlightbox-steuerlich-absetzbar"><strong>Steuerlich absetzbar</strong></a>
                </p>
            </div>

            <div class="icon-coffee _icon-list-item last">
                <p>
                    <a class="wlightbox inline" href="#" data-href="#wlightbox-spendenkommentare" id="donationCommentLink"><strong>Spendenkommentare</strong></a>
                </p>
            </div>

        </div>
    </section>


    <!-- donation-periode -->
    <section id="donation-periode" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box partial">

                <div class="box-section">
                    <div class="section-title clearfix">
                        <h2>Mein Spendenrhythmus</h2>
                    </div>

                    <ul class="periode-list horizontal no-margin clearfix">
                        <li class="first">
                            <input type="radio" id="form1-periode-1" name="intervalType" class="interval-type-select one-off" value="0" title="einmalig" checked>
                            <label for="form1-periode-1">einmalig</label>
                        </li>

                        <li class="last">
                            <input type="radio" id="form1-periode-2" name="intervalType" value="1" title="regelm&auml;&szlig;ig" class="interval-type-select recurring">
                            <label for="form1-periode-2">regelm&auml;&szlig;ig</label>
                        </li>
                    </ul>

                    <div class="periode-2-list no-display no-opacity">
                        <hr />

                        <ul class="horizontal clearfix">
                            <li class="first">
                                <input type="radio" id="form1-periode-2-1" name="recurring" class="interval-radio payment-period-select" value="1" title="monatlich" checked>
                                <label for="form1-periode-2-1">monatlich</label>
                            </li>

                            <li>
                                <input type="radio" id="form1-periode-2-2" name="recurring" class="interval-radio payment-period-select" value="3" title="quartalsweise">
                                <label for="form1-periode-2-2">quartalsweise</label>
                            </li>

                            <li>
                                <input type="radio" id="form1-periode-2-3" name="recurring" class="interval-radio payment-period-select" value="6" title="halbj&auml;hrlich">
                                <label for="form1-periode-2-3">halbj&auml;hrlich</label>
                            </li>

                            <li class="last">
                                <input type="radio" id="form1-periode-2-4" name="recurring" class="interval-radio payment-period-select" value="12" title="j&auml;hrlich">
                                <label for="form1-periode-2-4">j&auml;hrlich</label>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="rtcol">
            <div class="_icon-list-item first">
                <div id="logo-geotrust">
                    <!-- TODO </html>{{Web:Spendenseite-HK2013/rewrite/Seal_GeoTrust}}<html> -->
                </div>
                <div id="logo-owasp"><a title="OWASP Top 10 zertifiziert durch die plan42 GmbH" href="https://backend.wikimedia.de/wiki/images/7/7b/Wikimedia_OWASP_Top_10_%282013%29.pdf" target="_blank"><img height="54px" src="../skin/10h16/_assets/img/owasp.png" /></a></div>

                <div class="icon-lock _icon-list-item last">
                    <p>
                        <strong>SSL-Verschl&uuml;sselte Daten</strong>
                    </p>
                    <p>
                        Ihre Spende wird &uuml;ber eine sichere SSL-Verschl&uuml;sselung aufgenommen und liegt sp&auml;ter auf deutschen Servern.
                    </p>
                    <!--div class="logo-ssl-grey"></div-->
                </div>
            </div>
        </div>
    </section>


    <!-- donation payment -->
    <section id="donation-payment" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial no-margin">

                <div class="box-section">
                    <div class="section-title clearfix">
                        <h2>Meine Zahlungsweise</h2>
                    </div>

                    <!-- TODO Remove IDs and adjust JS in web/skin/10h16/_js/form-methods.js -->
                    <ul class="horizontal clearfix payment-type-list">
                        <li class="first">
                            <input type="radio" class="payment-type-select" id="form1-payment-type-1" name="zahlweise" value="UEB" title="&Uuml;berweisung" required="required">
                            <label for="form1-payment-type-1">&Uuml;berweisung</label>
                        </li>

                        <li>
                            <input type="radio" class="payment-type-select" id="form1-payment-type-2" name="zahlweise" value="MCP" title="Kreditkarte" required="required">
                            <label for="form1-payment-type-2">Kreditkarte</label>
                        </li>

                        <li>
                            <input type="radio" class="payment-type-select" id="form1-payment-type-3" name="zahlweise" value="BEZ" title="Lastschrift" required="required" checked="checked">
                            <label for="form1-payment-type-3">Lastschrift</label>
                        </li>

                        <li class="last">
                            <input type="radio" class="payment-type-select" id="form1-payment-type-4" name="zahlweise" value="PPL" title="PayPal" required="required">
                            <label for="form1-payment-type-4">Paypal</label>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- TODO </html>{{Web:Spendenseite-HK2013/rewrite/Datenschutzlinks}}<html> -->
    </section>


    <!-- donation submit -->
    <section id="donation-submit1" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial">

                <div class="box-footer border-top clearfix">
                    <span class="label f-left">Setzen Sie die Spende mit Angabe<br>Ihrer persönlichen Daten fort</span>

                    <button id="continueFormSubmit1" type="button" class="f-right">Spende fortsetzen <span class="icon-arrow-right"></span></button>
                </div>

            </div>
        </div>

        <div class="rtcol">
        </div>
    </section>
</form>
