<form>
    <!-- steps-overview -->
    <div class="steps-overview container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial no-margin">

                <div class="box-header">
                    <ul class="step-list horizontal clearfix">
                        <li id="highlight-payment" class="first">Mein Betrag</li>
                        <li id="highlight-personalData active">Meine Daten</li>
                        <li id="highlight-finished" class="last">Fertig!</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="rtcol">
            &nbsp;
        </div>
    </div>


    <section id="donation-amount" class="container clearfix">
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box partial">
                <div class="box-section">
                    <div class="section-title clearfix">
                        <h2 class="f-left no-margin">SEPA-Bestätigung</h2>
                    </div>

                    <p>TODO show SEPA data and confirmation checkboxes. Don't allow submitting until the checkboxes have been checked.</p>

                </div>

            </div>
        </div>

        <div class="rtcol">
            <div class="icon-bar-chart _icon-list-item first">
                <p>
                    <a class="wlightbox inline" href="#" data-href="#wlightbox-wohin-geht-das-geld"><strong>Wohin geht meine Spende?</strong></a>
                </p>
            </div>

            <div class="icon-hand-right _icon-list-item">
                <p>
                    <a class="wlightbox inline" href="#" data-wlightbox-options="{&quot;left&quot;:&quot;300px&quot;}" data-href="#wlightbox-bitcoin"><strong>Bitcoins spenden</strong></a>
                </p>
            </div>

            <div class="icon-hand-right _icon-list-item">
                <p>
                    <a class="wlightbox inline" href="#" data-href="#wlightbox-steuerlich-absetzbar"><strong>Steuerlich absetzbar</strong></a>
                </p>
            </div>

            <div class="icon-coffee _icon-list-item last">
                <p>
                    <a class="wlightbox inline" href="#" data-href="#wlightbox-spendenkommentare" id="donationCommentLink"><strong>Spendenkommentare</strong></a>
                </p>
            </div>

        </div>
    </section>

    <section id="donation-submit2" class="container clearfix" >
        <div class="ltcol">
            &nbsp;
        </div>

        <div class="ctcol">
            <div class="box rounded partial">

                <div class="box-footer border-top clearfix">
                    <span class="label f-left">Schließen Sie die Spende ab</span>
                    <button id="finishFormSubmit3" type="button" class="f-right" >Jetzt für Wikipedia spenden <span class="icon-arrow-right"></span></button>
                </div>

            </div>
        </div>

        <div class="rtcol">
        </div>
    </section>

</form>