<div class="container">
	<p>
		Gemäß § 28 BDSG widersprechen wir jeder kommerziellen Verwendung und Weitergabe unserer Daten.
	</p>
	<p>
		<strong>Diensteanbieter</strong><br />
		{% filter nl2br %}
			{%- include 'Imprint_Address_of_Suborganization.txt.twig' %}
		{% endfilter %}
		<br />
		E-Mail: spenden@wikimedia.de <br/>
		Telefon: +49 (0)30-219 15 826-0 <br/>
		Fax: +49 (0)180-522 71 17-619 (aus dem Festnetz: 14 ct/min, Mobilfunk max.: 42 ct/min) <br/>
	</p>

	<p>

		<strong>{% include 'Imprint_Title_Head_of_Suborganization.html.twig' %}</strong><br />
		{% include 'Imprint_Name_Head_of_Suborganization.html.twig' %}<br/>
	</p>

	<p>
		<strong>Wikimedia Fördergesellschaft</strong><br />
		verfolgt ausschließlich und unmittelbar gemeinnützigen Zwecken im Sinne des Abschnitts 'steuerbegünstigte Zwecke' der Abgabenordnung.<br />
		<br />
		Spendenkonto: <br/>
		IBAN: DE33 1002 0500 0001 1947 00 <br/>
		BIC: BFSWDE33BER <br/>
		Bank für Sozialwirtschaft <br/>
		Kontonummer: 1194700 <br/>
		BLZ: 10020500 <br/>
		<br />
		Eingetragen beim Amtsgericht Berlin-Charlottenburg unter der Nummer 130183 B.
	</p>

	<p>
		<strong>Haftungsausschluss</strong><br />
		Die Inhalte dieses Webprojektes wurden sorgfältig geprüft und nach bestem Wissen erstellt.
		Aber für die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität,
		Qualität und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die
		durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.
	</p>
</div>
