<div id="wlightbox-steuerlich-absetzbar" class="sandboxedcontent donation_receipt">
    <div class="wlightbox-title clearfix">
        <span class="icon-hand-right wlightbox-icon"></span>Steuerlich absetzbar
    </div>

    {$ web_content('pages/donation_receipt') $}
</div>
