<div id="wlightbox-wohin-geht-das-geld" class="sandboxedcontent use_of_resources">
    <div class="wlightbox-title clearfix">
        <span class="icon-bar-chart wlightbox-icon"></span>Wohin geht das Geld?
    </div>

    {$ sandboxed_content('use_of_resources') $}
</div>
