{% set formattedAmount = membershipApplication.membershipFee|localizedcurrency('EUR', 'de_DE') %}
<!-- donation amount -->
<section id="donation-amount" class="container clearfix">
	<div class="ltcol">
		&nbsp;
	</div>

	<div class="ctcol">
		<div class="box rounded">

			<div class="box-footer clearfix">
				<span class="icon-ok-sign">Ich werde Mitglied bei Wikimedia Deutschland e. V.</span>
{% include 'Share_on_Social_Networks.html.twig' %}
			</div>
		</div>
	</div>

	<div class="rtcol">
		<div class="icon-file-alt _icon-list-item last">
			<p>
				<strong>Mehr Informationen</strong>
			</p>
			<p>
				Erfahren Sie <a href="http://wikimedia.de/wiki/Mitgliedschaft" target="_blank">mehr</a> &uuml;ber Wikimedia Deutschland e. V. und seine Aktivit&auml;ten.
			</p>
		</div>
	</div>
</section>


<!-- donation sheet -->
<section id="donation-sheet">
	<div id="sepa-membership-confirmation" class="container clearfix">
		<div class="ltcol">
			&nbsp;
		</div>

		<div class="ctcol">
			<div class="box rounded">
				<div class="box-header container clearfix">
					<span class="icon-lock f-left">Ihr Beleg</span>
				</div>

				<div class="box-section">
					<div class="container clearfix">
						<div class="logo-wikimedia-white f-right"></div>

						<h2 class="f-left no-margin">SEPA-Lastschriftmandat</h2><br /><br />

						<p class="title">Sie zahlen {$ membershipApplication.paymentIntervalInMonths|trans({}, 'paymentIntervals') $} einen Mitgliedsbeitrag in H&ouml;he von <strong>{$ formattedAmount $}</strong> an Wikimedia Deutschland e. V., Tempelhofer Ufer 23-24, 10963 Berlin</p>

						<p class="title">Sie zahlen per {$ membershipApplication.paymentType|trans({}, 'paymentTypes') $}</p>
{% if membershipApplication.paymentType == 'PPL' %}
						<p class="title">
							{# TODO: date of first payment #}
							{#   - needs to be stored on data set creation #}
							{#   - needs to be passed to the template renderer #}
							Die erste Zahlung wird am [Datum erste Zahlung] erfolgen. Vorher werden Sie noch ein
							Begrüßungsschreiben von uns erhalten. Wir freuen uns, dass Sie dabei sind.
						</p>
{% elseif membershipApplication.paymentType == 'BEZ' %}
						<p class="title">
							Sie werden in Kürze ein Begrüßungsschreiben von uns erhalten. Wir freuen uns, dass Sie dabei sind.
						</p>
{% endif %}
						<p class="title"></p>
					</div>

					<hr/>

					<div class="container clearfix">
						<div class="address f-left">
							<p class="title"><strong>Ihre Daten</strong></p>
							<p>
								<span class="confirm-name">{$ person.salutation $} {$ person.title $} {$ person.fullName $}</span>
							</p>

							<p class="no-margin">
								<span class="confirm-street">{$ person.streetAddress $}</span><br/>
								<span class="confirm-postcode">{$ person.postalCode $}</span> <span class="confirm-city">{$ person.city $}</span><br/>
								<span class="confirm-email">{$ person.email $}</span>
							</p>
						</div>

						<div class="payment f-left">
							<p class="no-margin">
{% if membershipApplication.paymentType == 'PPL' %}
								<p class="title"><strong>Unsere Daten</strong></p>
								Wikimedia Deutschland e. V.<br />
								Tempelhofer Ufer 23-24<br />
								10963 Berlin<br />
{% elseif membershipApplication.paymentType == 'BEZ' %}
								<p class="title"><strong>Ihre Bankverbindung</strong></p>
								<span class="label">IBAN</span> {$ bankData.iban $}<br/>
								<span class="label">BIC</span> {$ bankData.bic $}<br/>
								<span class="label">Bankname</span> {$ bankData.bankName $}
{% endif %}
							</p>
						</div>
					</div>

					<hr/>

					<p class="label no-margin">
						Gläubiger-ID Wikimedia Deutschland e.V.: DE39ZZZ00000029337<br/><br/>
						Die Mandatsreferenznummer zur eindeutigen Identifizierung des SEPA-Lastschriftmandats wird Ihnen separat per E-Mail mitgeteilt.
						Ihre Lastschrift wird als SEPA-Rahmenmandat behandelt.<br/><br/>

						<div class="label">
							<img src="../skin/10h16/_assets/img/checked-box.png" style="float: left;">
							<div style="padding-left: 25px;">
								Ich ermächtige die gemeinnützige Wikimedia Fördergesellschaft mbH (Gläubiger-ID: DE25ZZZ00000448435) Zahlungen
								von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der
								gemeinnützigen Wikimedia Fördergesellschaft mbH auf mein Konto gezogenen Lastschriften einzulösen.<br /><br />
								Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages
								verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
							</div>
						</div>

					</p>
					<br/>
					<div class="container clearfix">
						Berlin, {$ "now"|date("d.m.Y") $}
					</div>

				</div>
			</div>

			<div class="meta-nav container clearfix" style="font-size: 0.8em">
				<a href="http://de.wikipedia.org" class="f-left">
					<span class="icon-angle-left"></span>Zur&uuml;ck zur Wikipedia
				</a>

				<a href="http://wikimedia.de" class="f-right">
					Mehr Infos zu Wikimedia<span class="icon-angle-right _icon-right"></span>
				</a>
			</div>

		</div>

		<div class="rtcol">
			<div class="icon-print _icon-list-item first">
				<p>
					<strong>Best&auml;tigung drucken</strong>
				</p>
				<p>
					Sie können sich diese Daten für Ihre Unterlagen <a onclick="window.print();">ausdrucken</a>.
				</p>
			</div>
			<div class="icon-undo _icon-list-item last">
				<p>
					<strong>Stornierung möglich</strong>
				</p>
				<p>
					<form action="{$ basepath $}/cancel-membership-application" method="get">
						<input name="id" value="{$ membershipApplication.id $}" type="hidden">
						<input name="updateToken" value="{$ membershipApplication.updateToken $}" type="hidden">
						<input value="Jetzt stornieren." style="cursor: pointer; background: none; border-width: 0px; color: #9D9D9D; text-decoration: underline;" type="submit">
					</form>
				</p>
			</div>
		</div>
	</div>
</section>
