<html>
<!-- donation amount -->
<section id="donation-amount" class="container clearfix">
	<div class="ltcol">
		&nbsp;
	</div>

	<div class="ctcol">
		<div class="box rounded">

			<div class="box-footer clearfix">
				<span class="icon-ok-sign">Ich werde Mitglied bei Wikimedia Deutschland e. V.</span>
</html>{{Web:Spendenseite-HK2013/rewrite/10h16_SocialMedia}}<html>
			</div>
		</div>
	</div>

	<div class="rtcol">
		<div class="icon-file-alt _icon-list-item last">
			<p>
				<strong>Mehr Informationen</strong>
			</p>
			<p>
				Erfahren Sie <a href="http://wikimedia.de/wiki/Mitgliedschaft" target="_blank">mehr</a> &uuml;ber Wikimedia Deutschland e. V. und seine Aktivit&auml;ten.
			</p>
		</div>
	</div>
</section>


<!-- donation sheet -->
<section id="donation-sheet">
	<div id="sepa-membership-confirmation" class="container clearfix">
		<div class="ltcol">
			&nbsp;
		</div>

		<div class="ctcol">
			<div class="box rounded">
				<div class="box-header container clearfix">
					<span class="icon-lock f-left">Ihr Beleg</span>
				</div>

				<div class="box-section">
					<div class="container clearfix">
						<div class="logo-wikimedia-white f-right"></div>

						<h2 class="f-left no-margin">SEPA-Lastschriftmandat</h2><br /><br />

						<p class="title">Sie zahlen {$ membershipApplication.intervalText $} einen Mitgliedsbeitrag in H&ouml;he von <strong>{$ membershipApplication.membershipFee $} €</strong> an Wikimedia Deutschland e. V., Tempelhofer Ufer 23-24, 10963 Berlin</p>
					</div>

					<hr/>

					<div class="container clearfix">
						<div class="address f-left">
							<p>
								{$ person.salutation $} {$ person.title $} <span id="confirm-name">{$ person.fullName $}</span>
							</p>

							<p class="no-margin">
								<span id="confirm-street">{$ person.streetAddress $}</span><br/>
								<span id="confirm-postcode">{$ person.postalCode $}</span> <span id="confirm-city">{$ person.city $}</span><br/>
								<span id="confirm-mail">{$ person.email $}</span>
							</p>
						</div>

						<div class="payment f-left">
							<p>
								Sie zahlen per Lastschrift
							</p>

							<p class="no-margin">
								<span class="label">IBAN</span> {$ bankData.iban $}<br/>
								<span class="label">BIC</span> {$ bankData.bic $}<br/>
								<span class="label">Bankname</span> {$ bankData.bankName $}
							</p>
						</div>
					</div>

					<hr/>

					<p class="label no-margin">
						Gläubiger-ID Wikimedia Deutschland e.V.: DE39ZZZ00000029337<br/><br/>
						Die Mandatsreferenznummer zur eindeutigen Identifizierung des SEPA-Lastschriftmandats wird Ihnen separat per E-Mail mitgeteilt.
						Ihre Lastschrift wird als SEPA-Rahmenmandat behandelt.<br/><br/>

						<div class="label">
							<img src="../skin/10h16/_assets/img/checked-box.png" style="float: left;">
							<div style="padding-left: 25px;">
								Ich ermächtige die gemeinnützige Wikimedia Fördergesellschaft mbH (Gläubiger-ID: DE25ZZZ00000448435) Zahlungen
								von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der
								gemeinnützigen Wikimedia Fördergesellschaft mbH auf mein Konto gezogenen Lastschriften einzulösen.<br /><br />
								Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages
								verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
							</div>
						</div>

					</p>
					<br/>
					<div class="container clearfix">
						Berlin, {$ "now"|date("d.m.Y") $}
					</div>

				</div>
			</div>

			<div class="meta-nav container clearfix" style="font-size: 0.8em">
				<a href="http://de.wikipedia.org" class="f-left">
					<span class="icon-angle-left"></span>Zur&uuml;ck zur Wikipedia
				</a>

				<a href="http://wikimedia.de" class="f-right">
					Mehr Infos zu Wikimedia<span class="icon-angle-right _icon-right"></span>
				</a>
			</div>

		</div>

		<div class="rtcol">
			<div class="icon-print _icon-list-item first">
				<p>
					<strong>Best&auml;tigung drucken</strong>
				</p>
				<p>
					Sie können sich diese Daten für Ihre Unterlagen <a onclick="window.print();">ausdrucken</a>.
				</p>
			</div>
			<div class="icon-undo _icon-list-item last">
				<p>
					<strong>Stornierung möglich</strong>
				</p>
				<p>
				<form action="{$ basepath $}/apply-for-membership" method="post">
					<input type="hidden" name="rid" value="{$ membershipApplication.id $}" />
					<input type="submit" value="Jetzt stornieren." style="cursor: pointer; background: none; border-width: 0px; color: #9D9D9D; text-decoration: underline;" />
				</form>
				</p>
			</div>
		</div>
	</div>
</section>
</html>
