<nav id="footer-menu">
	<ul class="horizontal clearfix footer-menu-list">
		<li><a href="{$ path( 'page', { pageName: 'Kontaktformular' } ) $}">Kontakt</a></li>
		<li><a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Impressum' } ) $}" data-href="#wlightbox-impressum">Impressum</a></li>
		<li class="last"><a class="wlightbox inline" href="{$ path( 'page', { pageName: 'Datenschutz' } ) $}" data-href="#wlightbox-datenschutz">Datenschutz</a></li>
	</ul>
</nav>
<div class="wlightbox-contents">
	<div id="wlightbox-impressum">
		<div class="wlightbox-title clearfix">
			<span class="icon-hand-right wlightbox-icon"></span>Impressum
		</div>

		{$ sandboxed_content('imprint') $}
	</div>
	<div id="wlightbox-datenschutz">
		<div class="wlightbox-title clearfix">
			<span class="icon-hand-right wlightbox-icon"></span>Datenschutz
		</div>

		{$ sandboxed_content('privacy_protection') $}
	</div>
</div>
