{# paramters:
	formId
	paymentTypesRequired (optional)
	checkedPaymentType (optional)
#}
<ul class="horizontal clearfix payment-type-list">
{% for paymentType in ['UEB', 'MCP', 'BEZ', 'PPL'] %}
	<li
	{% if loop.first %}
		class="first"
	{% elseif loop.last %}
		class="last"
	{% endif %}>
		<input
			id="{$ formId $}-payment-type-{$ loop.index $}"
			type="radio"
			class="payment-type-select"
			name="zahlweise"
			value="{$ paymentType $}"
			title="{$ paymentType|trans({}, 'paymentTypes') $}"
			{% if paymentTypesRequired %}required="required"{% endif %}
			{% if checkedPaymentType == paymentType %}checked="checked"{% endif %}
		>
		<label for="{$ formId $}-payment-type-{$ loop.index $}">
			{$ paymentType|trans({}, 'paymentTypes') $}
		</label>
	</li>
{% endfor %}
</ul>