{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label">
    <span class="icon"></span>
    <strong>Doctrine</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Fundraising services</h2>
{% endblock %}