<section id="donation-sheet">
	<div id="normal-donation-confirmation" class="container clearfix">
		<div class="ltcol">
			&nbsp;
		</div>

		<div class="ctcol">
			<div class="box rounded">
				<div class="box-section">
					<div class="container clearfix">
						<div class="logo-wikimedia-grey f-right"></div>
						<p>Vielen Dank f체r die Verifizierung Ihrer E-Mailadresse!</p>

						<p>Wir haben Ihre E-Mailadresse in unserem System gespeichert und soeben eine Best채tigungsemail an Sie versandt.</p>

						<p>Herzlichen Dank f체r Ihre Bereitschaft uns zu unterst체tzen!</p>
					</div>
				</div>
			</div>

			<div class="rtcol">
				&nbsp;
			</div>
		</div>
	</div>
</section>
