   <section id="subscription-form">
        <div class="container clearfix">
            <div class="ltcol">
                &nbsp;
            </div>

            <div class="ctcol">
                <div class="box partial rounded no-margin">
                    <div class="box-header container clearfix">
                        <span class="icon-envelope-alt">Vielen Dank!</span>
                    </div>

                    <div class="box-footer">
                        <div class="container clearfix">
                            <p>Herzlichen Dank für Ihr Interesse an der Förderung von Wikipedia und Freiem Wissen!</p>
                            <p>Wir haben Ihnen soeben eine E-Mail an die von Ihnen angegebene E-Mail-Adresse gesendet. Bitte bestätigen Sie uns durch Klicken auf den darin enthaltenen Link Ihre Einwilligung zum Empfang von eMails. Die Anmeldung ist damit dann erfolgreich abgeschlossen. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rtcol">
                <div class="icon-hand-right _icon-list-item last">
                    <p>
                        <strong>Spenden</strong>
                    </p>
                    <p>
                        <a href="{$ path( '/' ) $}" target="_blank">Zurück</a> zur Spendenseite
                    </p>
                </div>
            </div>

        </div>
    </section>
