<style>
  .logo {
    /*background: transparent url("../../../res/img/wmfg_logo_vert_RGB-98px.png") no-repeat scroll center center;*/
    display: block;
    height: 104px;
    width: 98px;
  }

  #benefactors .box.partial .box-section,
  #benefactors .box.partial .box-section::before,
  #benefactors .box.rounded .box-header,
  #benefactors .box.rounded {
    border-color: #e1dbaf !important;
  }

  #benefactors .box-footer {
    padding-bottom: 35px;
  }

  .benefactor-header {
    border: 1px solid #dad5a0;
    background-color: #fdea33;
  }

  .benefactor-item {
    padding: 12px 0;
    border-bottom: 1px solid #e1dbaf;
  }

  .benefactor-item.last {
    border-bottom: none;
  }

  .benefactor-statement {
    display: none;
    border-top: 1px solid #e1dbaf;
    padding-top: 12px;
    margin-top: 12px;
  }

  .benefactor-statement-text {
    font-style: italic;
    font-size: 0.9em;
    padding: 0 40px 0 12px;
    border-left: 5px solid #e1dbaf;
  }

  .benefactor-statement-link {
    color: #608abf;
    text-decoration: underline;
    font-size: 0.75em;
  }

  .benefactor-header, .benefactor-name, .benefactor-amount {
    color: #000000;
  }

  .benefactor-header {
    font-weight: bold;
  }

  .benefactor-anonymous {
    color: #969696;
    font-style: italic;
  }

  .benefactor-amount {
    float: right;
  }

  #benefactors-2nd-list .section-title {
    background-color: #f2f2f2;
    margin-bottom: 12px;
  }

  #benefactors-2nd-list .section-title h2 {
    color: #000000;
  }

  /*#benefactors-2nd-list .benefactor-item {*/
  /*float: left;*/
  /*margin-left: 12px;*/
  /*width: 257px;*/
  /*}*/
</style>
<script type="text/javascript">
  $( function() {
    $( '.benefactor-statement-link' ).on( 'click', function() {
      $( this ).next().next().toggle();
    } )
  } );
</script>

        <div class="box partial rounded no-margin">
          <div class="box-header benefactor-header container clearfix" style="text-align:center">
            <span class="icon-coffee"> Herzlichen Dank f&uuml;r die großz&uuml;gige Unterst&uuml;tzung</span>
          </div>

          <div class="box-section box-footer">
            <div class="container clearfix">
              <div class="benefactor-item">
                <span class="benefactor-name">Hendrik Klindworth</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">65.536 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
                    Wikimedia setzt sich für den freien Zugang zu Wissen ein. Das ist heutzutage wichtiger als jemals zuvor. Daher unterstütze ich dieses Ziel gerne.
                  </p>
                </div>
              </div>

              <div class="benefactor-item">
                <span class="benefactor-name">dSPACE GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">25.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
                    Mir ist diese Informationsquelle wichtig, weil ich sie als weitgehend neutral ansehen kann und durch die Vielzahl von Autoren und Beobachtern ein hohes Maß an Informationsqualität gegeben ist.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">AVM Computersysteme Vertriebs GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">19.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Wikipedia ist wichtig! Im Unternehmen erfahren wir täglich die Kraft des Wissens. Und wie wichtig es ist, dass Wissen im Unternehmen bekannt ist. Wikipedia ist ein fester Bestandteil des digitalen Lebens und essentiell für die Gesellschaft. Denn der freie Zugang zu Wissen ist ein großer Fortschritt. Wir unterstützen das Team von Wikipedia, das sich täglich engagiert für Qualität und Vielfalt. 
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">IGES Institut GmbH</span>
                <span class="benefactor-amount">9.000 &euro;</span>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Michael Fernau</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">6.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
                    Für mich ist die Wikipedia als "soziales Lexikon" eine wichtige Bereicherung von Recherchemöglichkeiten durch die Nutzung der vielfältigsten Kenntnisse der Gemeinschaft der Autorinnen und Autoren. Bei manchen Beiträgen enthalten zudem die Diskussions- und die Versionen-Seiten reiches Material zur kritischen Betrachtung der Artikelthemen und bisweilen auch für eigene Sozialstudien. Eine demokratische, frei zugängliche Wissensdatenbank, für die ich einen nicht abebbenden Zustrom an Artikeln auch von neu dazukommenden Fachleuten erhoffe. Großartig! Unverzichtbar! Verdient jede Unterstützung!
                  </p>
                </div>
              </div>             
               <div class="benefactor-item">
            <span class="benefactor-name">Solutio GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">5.250 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Unsere Mitarbeiter greifen gerne auf das gesammelte Wissen in Wikipedia zurück - kompakt und kompetent. Mit unserer Spende möchten wir einen Beitrag dazu leisten, dass die Enzyklopädie in ihrer jetzigen Form bestehen bleibt und auch in Zukunft weiter ausgebaut wird.
                  </p>
                </div>
              </div>
               <div class="benefactor-item">
            <span class="benefactor-name">HMS Analytical Software GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">5.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Für uns als IT-Beratungshaus steht „Wissen“ absolut im Mittelpunkt. Diese Fokussierung gewährleistet erfolgreiche Projekte und zieht hochqualifizierte Bewerber an. Um uns dieses Wissen anzueignen, bedienen wir uns zahlreicher Informationsquellen – und natürlich ist Wikipedia als eine zuverlässige und ausgesprochen umfangreiche Wissensdatenbank ganz vorne mit dabei.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">TNG Technology Consulting GmbH</span>
                <span class="benefactor-amount">4.762 &euro;</span>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">AUVESY GmbH & Co KG</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">4.050 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Hinter Wikipedia stehen viele freiwillige, ehrenamtliche Helfer, die die Vielzahl an Artikeln und Einträgen koordinieren. Damit das enzyklopädische Angebot weiterhin frei verfügbar sein kann, unterstützen wir, die AUVESY GmbH & Co KG, Wikipedia mit unserer Spende.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Barbara Mayer</span>
                <span class="benefactor-amount">3.700 &euro;</span>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Heidezüchtung Kramer</span>
                <span class="benefactor-amount">3.500 &euro;</span>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">Susanne L.</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">3.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Einen Riiiesen-Dank allen Wiki-Mitarbeiterinnen und –Mitarbeitern!
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">OdiSys GmbH</span>
                <span class="benefactor-amount">3.000 &euro;</span>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Andreas Gall</span>
                <span class="benefactor-amount">2.700 &euro;</span>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">proPlant GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">2.200 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Der Vorschlag kam aus unserer Mitarbeiterschaft, weil viele davon diese freie Online-Enzyklopädie zukünftig weiterhin nutzen möchten.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Zahnarztpraxis Dres. Dajka</span>
                <span class="benefactor-amount">2.100 &euro;</span>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">Mietens & Partner GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">2.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Für unsere Mitarbeiter gehört Wikipedia seit Jahren zu den wichtigsten Informationsquellen ihrer Recherchearbeit. Ein großes Dankeschön an das Wikipedia-Team und die unzähligen freien Autoren.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Nicolas Woll / Designscape</span>
                <span class="benefactor-amount">2.000 &euro;</span>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">Familie Frohmann</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">1.750 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
wikipedia ist für uns eine instanz des wissens und der wahrheit; beides werte, die wir gerne unterstützen.
                  </p>
                </div>
              </div>

              <div class="benefactor-item">
            <span class="benefactor-name">Avinway Consultants S. Asendorf</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">1.600 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Mit Wikipedia allen Menschen Wissen von hoher Qualität zugänglich zu machen ist ein großer Schritt in Richtung Chancengleichheit für alle Menschen. Dieses Projekt immer weiter zu entwickeln braucht viel Engagement der Aktiven, die meinen höchsten Respekt genießen.
                  </p>
                </div>
              </div>

              <div class="benefactor-item">
            <span class="benefactor-name">Stephan Douteil Elektromaschinenbau</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">1.500 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Wir unterstützen Wikimedia, weil jeder die Chance haben soll, sich durch Wissen vor Fehlern zu schützen.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">Aegidius Schuster</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">1.300 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Alles kostenlos - alles umsonst - war gestern.
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">marmalade GmbH</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">1.275 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Frei zugängliches Wissen ist ein Privileg. Für uns als IT-Unternehmen mit starkem Fokus im Open Scource Bereich ist es eine Verpflichtung, dieses offene Prinzip der Sammlung und Teilung von Wissen und Informationen zu unterstützen und aufrecht zu erhalten. Vielen Dank für Euer Engagement!
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Franz Heim</span>
                <span class="benefactor-amount">1.100 &euro;</span>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">ibb</span>
                <span class="benefactor-amount">1.050 &euro;</span>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">Dr. Christian Tamm</span>
                <span class="benefactor-amount">1.050 &euro;</span>
              </div>
              <div class="benefactor-item">
            <span class="benefactor-name">Prof. Rethmeier</span>
                <a class="benefactor-statement-link">Spendenkommentar</a>
                <span class="benefactor-amount">1.000 &euro;</span>

                <div class="benefactor-statement">
                  <p class="benefactor-statement-text">
Seit WIKIPEDIA ist Wissen unkompliziert für jede(n) verfügbar. Durch die transparente Diskussion der Inhalte ist das fachliche Niveau quasi wissenschaftlich!
                  </p>
                </div>
              </div>
              <div class="benefactor-item">
                <span class="benefactor-name">OxyCare GmbH Sauerstoff Beatmungstechnik</span>
                <span class="benefactor-amount">1.000 &euro;</span>
              </div>
            </div>
          </div>
        </div>
