<div class="wlightbox-title clearfix">
  <span class="icon-hand-right wlightbox-icon"></span>Steuerlich absetzbar

  <a href="http://wikimedia.de/wiki/Transparenz" target="_blank"><span class="logo-itz-white f-right no-margin"></span></a>
</div>

{% include 'Spendenquittung.html.twig' %}