<div class="wlightbox-title clearfix">
  <span class="icon-bar-chart wlightbox-icon"></span>Wohin geht meine Spende?

  <a href="http://wikimedia.de/wiki/Transparenz" target="_blank"><span class="logo-itz-white f-right no-margin"></span></a>
</div>

<p>
  <img src="{$ basepath $}/resources/{$ locale $}/WMDE-application-of-funds-diagram-2017.png" />
</p>

<div>
  <img src="{$ basepath $}/resources/{$ locale $}/WMDE-application-of-funds-2017.svg" />
</div>
<hr/>

<div>
  <div style="width: 49%; display: inline-block; text-align: center;">
    <a href="https://meta.wikimedia.org/wiki/Wikimedia_Foundation_Annual_Plan/2016-2017/Final">Erfahren Sie mehr zum Jahresplan<br>der Wikimedia Foundation</a>
  </div>
  <div style="width: 49%; display: inline-block; text-align: center;">
    <a href="https://meta.wikimedia.org/wiki/Wikimedia_Deutschland/Jahresplanung_2017/Ziele,_Indikatoren_und_Wirtschaftsplan">Erfahren Sie mehr zum Jahresplan<br>von Wikimedia Deutschland</a>
  </div>
</div>
