<li class="amount">
	<a href="#donation-amount">
		<span class="text" data-display-error="false">{$ 'donation_section_amount_anchor' | trans $}</span>
		<i class="periodicity-icon" data-display-error="false"></i>
	</a>
</li>
<li class="payment-method">
	<a href="#donation-payment">
		<span class="text" data-display-error="false">{$ 'donation_section_payment_anchor' | trans $}</span>
		<i class="payment-icon" data-display-error="false"></i>
	</a>
</li>
<li class="donator-type">
	<a href="#donation-type">
		<span class="text" data-display-error="false">{$ 'donation_section_donor_anchor' | trans $}</span>
		<i class="address-icon" data-display-error="true"></i>
	</a>
</li>
