<li class="amount">
	<a href="#donation-amount">
		<span class="text" data-empty-text="{$ 'donation_section_amount_anchor' | trans | e( 'html_attr' ) $}">
			{$ 'donation_section_amount_anchor' | trans $}</span>
		<i class="periodicity-icon"></i>
	</a>
</li>
<li class="payment-method">
	<a href="#donation-payment">
		<span class="text" data-empty-text="{$ 'donation_section_payment_anchor' | trans | e( 'html_attr' ) $}">
			{$ 'donation_section_payment_anchor' | trans $}
		</span>
		<i class="payment-icon"></i>
	</a>
</li>
<li class="donor-type">
	<a href="#donation-type">
		<span class="text" data-empty-text="{$ 'donation_section_donor_anchor' | trans | e( 'html_attr' ) $}">
			{$ 'donation_section_donor_anchor' | trans $}
		</span>
		<i class="address-icon"></i>
	</a>
</li>
